In [98]:
# 1번
a = {'Apple' : '사과', 'Banana' : '바나나', 'Melon' : '수박'}

In [99]:
print(a)

{'Apple': '사과', 'Banana': '바나나', 'Melon': '수박'}

In [100]:
print(type(a))

<class 'dict'>

In [101]:
# 2번
a['Melon'] = '멜론'

In [102]:
print(a)

{'Apple': '사과', 'Banana': '바나나', 'Melon': '멜론'}

In [103]:
# 3번
print(a.keys())

dict_keys(['Apple', 'Banana', 'Melon'])

In [104]:
print(a.values())

dict_values(['사과', '바나나', '멜론'])

In [105]:
print(list(a.keys()))

['Apple', 'Banana', 'Melon']

In [106]:
print(list(a.values()))

['사과', '바나나', '멜론']

In [107]:
print(list(a.items()))

[('Apple', '사과'), ('Banana', '바나나'), ('Melon', '멜론')]

In [108]:
# 4번
def multip(x):
    a = '곱하기'
    b = '은(는)'
    c = '입니다'
    for i in range(2,10):
        if i == x:
            pass
        else:
            continue
        for j in range(1,10):
            print(i,'{}'.format(a),j,'{}'.format(b),i*j,'{}'.format(c))

In [109]:
multip(3)

3 곱하기 1 은(는) 3 입니다
3 곱하기 2 은(는) 6 입니다
3 곱하기 3 은(는) 9 입니다
3 곱하기 4 은(는) 12 입니다
3 곱하기 5 은(는) 15 입니다
3 곱하기 6 은(는) 18 입니다
3 곱하기 7 은(는) 21 입니다
3 곱하기 8 은(는) 24 입니다
3 곱하기 9 은(는) 27 입니다

In [110]:
# 5번

In [111]:
def multip2(x):
    a = '곱하기'
    b = '은'
    c = '는'
    d = '입니다'
    for i in range(2,10):
        if i == x:
            pass
        else:
            continue
        for j in range(1,10):
            if j == 1 or j == 3 or j == 6 or j == 7 or j == 8:
                print(i,'{}'.format(a),j,'{}'.format(b),i*j,'{}'.format(d))
            else:
                print(i,'{}'.format(a),j,'{}'.format(c),i*j,'{}'.format(d))

In [123]:
multip2(4)

4 곱하기 1 은 4 입니다
4 곱하기 2 는 8 입니다
4 곱하기 3 은 12 입니다
4 곱하기 4 는 16 입니다
4 곱하기 5 는 20 입니다
4 곱하기 6 은 24 입니다
4 곱하기 7 은 28 입니다
4 곱하기 8 은 32 입니다
4 곱하기 9 는 36 입니다

In [113]:
# 6번
def fib(x):
    i, j = 0, 1
    for _ in range(x):
        i, j = j, i + j
    return i

In [114]:
fib(1), fib(2), fib(3), fib(4), fib(5), fib(6), fib(7), fib(8)

(1, 1, 2, 3, 5, 8, 13, 21)

In [115]:
# 7번
R2 = [0.82, 0.88, 0.92, 0.33, 0.95]

In [116]:
dummy = []
for i in R2:
    if i < 0.5:
        continue
    else:
        dummy.append(i)
    mean = sum(dummy)/len(dummy)
    
print(mean)

0.8925000000000001

In [117]:
# 8번
def multip3(*x):
    for i in range(2,10):
        if i in x:
            pass
        else:
            continue
        for j in range(1,10):
            print(i,'*',j,'=',i*j)

In [118]:
multip3(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [119]:
multip3(3,5)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [120]:
# 9번
def add(x,y):
    return x + y

add(1,3), add(5,7)

(4, 12)

In [121]:
add2 = lambda x,y:x+y

add2(1,3), add2(5,7)

(4, 12)