# ex_set_01

##### Set 자료형 살펴보기
 - 여러 가지 종류의 여러 개 데이터를 저장
 - 단! 중복 안됨!!!
 - 컬렉션 타입의 데이터 저장 시 Tuple 가능
 - 형태 : {데이터1, 데이터2, ..., 데이터n}

[Set 생성]

In [1]:
data = [] # 비어있는 List
data = () # 비어있는 Tuple
data = {} # 비어있는 Dict
data = set() # 비어있는 Set

print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')

data의 타입 : <class 'set'>, 원소/요소 개수 : 0개, 데이터 : set()

In [3]:
# 여러개 데이터 저장한 set
data = {10, 30, 20, -9, 10, 30, 10, 30, 10, 10}

print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')
# 중복된 거 빼고 생성

data의 타입 : <class 'set'>, 원소/요소 개수 : 4개, 데이터 : {10, 20, 30, -9}

In [4]:
data = {9.34, 'Apple', 10, True, '10'}
print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')
# 10과 '10'은 서로 다른 데이터라 모두 출력

data의 타입 : <class 'set'>, 원소/요소 개수 : 5개, 데이터 : {True, '10', 'Apple', 9.34, 10}

In [5]:
data = {1, 2, 3, [1, 2, 3]}
print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')
# List 타입은 변환 가능한 타입이기 때문에 Set에 넣을 수 없다.
# List가 아닌 Tuple 타입으로 넣어야 한다.

TypeError: unhashable type: 'list'

In [6]:
data = {1, 2, 3, (1, 2, 3)} # Tuple로 넣으면 오류가 나지 않음
print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')

data의 타입 : <class 'set'>, 원소/요소 개수 : 4개, 데이터 : {1, 2, 3, (1, 2, 3)}

In [7]:
data = {1, 2, 3, (1)}
print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')
# 1과 (1)은 똑같기 때문에 하나만 출력

data의 타입 : <class 'set'>, 원소/요소 개수 : 3개, 데이터 : {1, 2, 3}

In [8]:
data = {1, 2, 3, (1,)}
print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')
# 1(int)과 (1,)(tuple)은 다르기 때문에 모두 출력

data의 타입 : <class 'set'>, 원소/요소 개수 : 4개, 데이터 : {1, 2, 3, (1,)}

In [10]:
data = {1, 2, 3, (1,)[0]}
print(f'data의 타입 : {type(data)}, 원소/요소 개수 : {len(data)}개, 데이터 : {data}')
# 1(int)과 (1,)[0] == 1(int)은 똑같기 때문에 하나만 출력

data의 타입 : <class 'set'>, 원소/요소 개수 : 3개, 데이터 : {1, 2, 3}

In [11]:
data = {1, 2, 3, (1,)[0]}
data2 = {1, 2, 3, data}
# Set에는 Tuple이 와야 하므로 Set 타입인 data가 들어올 수 없다.
# Set 자체는 값을 바꿀 수 있지만
# Set에 들어오는 요소 하나 하나는 값을 변경할 수 없는 데이터가 들어와야 한다.

TypeError: unhashable type: 'set'

In [18]:
# set() 내장함수
data = {1, 2, 3}
data = set()     # Empty Set
data = set({1, 2, 3}) # data = {1, 2, 3}과 동일

In [17]:
# 다양한 타입 ===> set 변환
data = set([1, 2, 1, 2, 3])

data = set("Good") # str은 시퀀스 데이터 타입
# "G", "o", "o", "d" 중에 "o"는 한 번만 출력
print(data)

{'o', 'G', 'd'}

In [14]:
data = list("Good")
print(data)

['G', 'o', 'o', 'd']

In [15]:
data = set({'name' : '홍길동', 'age' : 12})
print(data) # Key값만 집합으로 생성 됨

{'name', 'age'}

In [16]:
data = set({'name' : '홍길동', 'age' : 12, 'name' : '베트맨'})
print(data) # Key 중에 name은 중복이기 때문에 하나만 출력

{'name', 'age'}

In [19]:
data = set((1, 2, 1, 2, 1))
print(data)# 튜플도 중복이면 생략하고 출력

{1, 2}

# ex_set_02

##### Set 자료형 살펴보기
 - 연산자

In [9]:
d1 = {1, 3, 5, 7}
d2 = {1, 3, 5, 7, 2, 4, 6, 8}

# 덧셈 연산
print(d1 + d2) # 지원하지 않음

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
# 합집합
print(d1.union(d2), d1 | d2)

{1, 2, 3, 4, 5, 6, 7, 8} {1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
# 교집합
print(d1.intersection(d2), d1 & d2)

{1, 3, 5, 7} {1, 3, 5, 7}

In [13]:
# 차집합
print(d2.difference(d1), d2 - d1)

{8, 2, 4, 6} {8, 2, 4, 6}