# ex_collect_01

##### Collection 자료형에 공통적인 부분 살펴보기

[여러개의 변수에 데이터 저장]

In [3]:
name = '홍길동'
age = 12
job = '의적'
gender = '남'

print(name, age, job, gender)

홍길동 12 의적 남

 - 팩킹(packing), 언팩킹(unpacking)

In [6]:
# 팩킹(packing) 방식 : 변수명 = Tuple 타입
data = '홍길동', 12, '의적', '남'

print(data)

# 언팩킹(unpacking) 방식 : 변1, 변2, .., 변n = Tuple 타입
#                          변수명 개수 == 데이터 수
name, age, job, gender = '홍길동', 12, '의적', '남' # Tuple 타입
# name, age = '홍길동', 12, '의적', '남' # ERROR

print(name, age, job, gender)

('홍길동', 12, '의적', '남')
홍길동 12 의적 남

In [8]:
# 특정 데이터를 다시 쓸 일이 없을 때
name, age, _, _ = '마징가', 12, '의적', '남' # _는 의미 없는 데이터
print(name, age, _) # _를 출력하면 _ 중 마지막 값이 출력 됨

마징가 12 남

In [9]:
# 리스트를 언팩킹 방식으로 받기
jumsu = [100, 99]
kor, math = [100, 99]
print(jumsu, kor, math)

[100, 99] 100 99

In [11]:
person = {'name' : '박', 'age' : 11}
k1, k2 = {'name' : '박', 'age' : 11}
print(person, k1, k2) # person은 dict가 그대로 나오지만 k1, k2는 key만 나옴

{'name': '박', 'age': 11} name age

##### 생성자(Constructor) 함수 : 타입명과 동일한 이름의 함수

 - int(), float(), str(), bool(), list(), tuple(), dict(), set()
 - map(), range()

In [12]:
# 기본 데이터 타입
num = int(10)           # num = 10
fnum = float(10.2)      # fnum = 10.2
msg = str('Good')       # msg = 'Good'
isOk = bool(False)      # isOk = False

print(num ,fnum, msg, isOk)

10 10.2 Good False

In [19]:
# 컬렉션 데이터 타입
lnums = list([1, 2, 3, 4])        # lnums = [1, 2, 3, 4]
tnums = tuple((3, 6, 9))          # tnums = (3, 6, 9)
ds = dict({'d1' : 10, 'd2' : 30}) # ds = {'d1' : 10, 'd2' : 30}
ss = set({1, 1, 3, 3, 5})         # ss = {1, 1, 3, 3, 5}

print(lnums, tnums, ds, ss)

[1, 2, 3, 4] (3, 6, 9) {'d1': 10, 'd2': 30} {1, 3, 5}

##### 타입 변경 => 형변환
dict 자료형은 다른 자료형과 달리 데이터 형태가 다름
 - 데이터 형태 => 키 : 값
 - dict(키1 = 값1, 키2 = 값2, ...) : key는 str만 가능, ''나 ""사용 불가

In [20]:
ds = dict([1, 2, 3])
print(ds) # 무엇을 키로 하고 값으로 할지 모르기 때문에 에러

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [23]:
ds = dict(name = 1, age = 2, gender = '남')

print(ds)

{'name': 1, 'age': 2, 'gender': '남'}

In [24]:
ds = dict([('name', '마징가'), ('age', 12)])
print(ds)

{'name': '마징가', 'age': 12}

In [25]:
ds = dict([['name', '마징가'], ['age', 12]])
print(ds)

{'name': '마징가', 'age': 12}

내장함수 zip() : 같은 인덱스의 요소끼리 묶어줌

In [31]:
l1 = ['name', 'age', 'gender']
l2 = ['마징가', 12, '남']
l3 = [False, True, True]
print(list(zip(l1, l2, l3)))

[('name', '마징가', False), ('age', 12, True), ('gender', '남', True)]

In [32]:
ds = dict(zip(l1, l2))
print(ds)

{'name': '마징가', 'age': 12, 'gender': '남'}