# 데이터 불러오기

In [ ]:
from google.colab import files
myfile = files.upload()

Saving salary.csv to salary.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('salary.csv')

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,race,sex,hours-per-week,native-country,salary,capital
0,28,Private,338409,Bachelors,13,Married-civ-spouse,Black,1,40,0,0,0
1,49,Private,160187,9th,5,other,Black,1,16,0,0,0
2,30,gov,141297,Bachelors,13,Married-civ-spouse,Asian-Pac-Islander,0,40,0,1,0
3,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Asian-Pac-Islander,0,40,0,1,0
4,34,Private,245487,7th-8th,4,Married-civ-spouse,Amer-Indian-Eskimo,0,45,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,53,Private,304504,Some-college,10,Married-civ-spouse,White,0,45,1,1,-1887
32557,18,Private,41381,HS-grad,9,Never-married,White,1,20,1,0,-1602
32558,61,Private,190682,HS-grad,9,other,Black,1,50,1,0,-1669
32559,36,Private,237943,Bachelors,13,Married-civ-spouse,White,0,45,1,1,-1977
32560,34,Private,60567,11th,7,Divorced,White,0,60,1,0,-880

In [ ]:
df1 = df.drop(['education-num'], axis = 1)
df1 # education-num 변수 삭제

,age,workclass,fnlwgt,education,marital-status,race,sex,hours-per-week,native-country,salary,capital
0,28,Private,338409,Bachelors,Married-civ-spouse,Black,1,40,0,0,0
1,49,Private,160187,9th,other,Black,1,16,0,0,0
2,30,gov,141297,Bachelors,Married-civ-spouse,Asian-Pac-Islander,0,40,0,1,0
3,40,Private,121772,Assoc-voc,Married-civ-spouse,Asian-Pac-Islander,0,40,0,1,0
4,34,Private,245487,7th-8th,Married-civ-spouse,Amer-Indian-Eskimo,0,45,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
32556,53,Private,304504,Some-college,Married-civ-spouse,White,0,45,1,1,-1887
32557,18,Private,41381,HS-grad,Never-married,White,1,20,1,0,-1602
32558,61,Private,190682,HS-grad,other,Black,1,50,1,0,-1669
32559,36,Private,237943,Bachelors,Married-civ-spouse,White,0,45,1,1,-1977
32560,34,Private,60567,11th,Divorced,White,0,60,1,0,-880

## 변수 설명

### age: 나이 (수치)

### workclass: 일 유형 (범주)
0: Private (일반 회사원)<br>
1: Self-emp (자영업자)<br>
2: gov (공무원)<br>
3: other (그 외)<br>

### fnlwgt: CPS 가중치 (수치)
(미국 인구조사국에서 할당한 가중치로 두 샘플이 유사한 fnlwgt를 갖는 경우 인구 통계학적으로 유사한 특성을 갖는다는 뜻)

### education-num: 교육수준 (범주) [숫자가 클 수록 교육수준이 높음]
1: Preschool (유치원)<br>
2: 1st-4th (1-4학년)<br>
3: 5th-6th (5-6학년)<br>
4: 7th-8th (7-8학년)<br>
5: 9th (9학년)<br>
6: 10th (10학년)<br>
7: 11th (11학년)<br>
8: 12th (12학년)<br>
9: HS-grad (고졸)<br>
10: Some-college (전문대)<br>
11: Assoc-voc (준학사 학위)<br>
12: Assoc-acdm (아카데믹 어소시에이트)<br>
13: Bachelors (4년제 학사)<br>
14: Masters (석사 학위)<br>
15: Prof-school (전문 학교)<br>
16: Doctorate (박사 학위)<br>

### marital-status: 결혼 상태 (범주)
0: Divorced (이혼)<br>
1: Married-civ-spouse (민간인 배우자와 결혼)<br>
2: Never-married (결혼한 적 없음)<br>
3: other (그 외)<br>

### race: 인종 (범주)
0: Amer-Indian-Eskimo (아메리카 원주민/에스키모)<br>
1: Asian-Pac-Islander (아시아인/태평양 섬 주민)<br>
2: Black (흑인)<br>
3: Other (그 외)<br>
4: White (백인)<br>

### sex: 성별 (범주)
0: 남자<br>
1: 여자<br>

### capital: 자본 (수치)

### hours-per-week: 주당 근무시간 (수치)

### native-country: 본 국적 (범주)
0: Others (그 외)<br>
1: United-States (미국)<br>

### salary: 소득
0: <=50K<br>
1: >50K<br>

## capital 변수 합친 이유
capital 변수의 경우 capital-gain과 capital-loss의 두 변수로 나뉘었지만, capital-gain은 자본을 얻은 양, capital-loss는 자본을 잃은 양을 나타내서 자본을 얻음과 동시에 잃는 것은 불가능하기 때문에 두 변수의 수치가 동시에 0을 초과하는 경우는 없었으며 capital-loss의 값들을 음수로 취한 뒤 capital-gain 변수와 합쳐주어 capital이라는 하나의 변수로 통합시켰다.

## workclass 변수의 범주 줄인 이유
workclass 변수의 경우 private(일반 회사원), Self-emp-not-inc(비법인 자영업자), Self-emp-inc(법인 자영업자), Federal-gov(연방정부 공무원), Local-gov(지방정부 공무원), State-gov(주립정부 공무원), Never-worked(일 경험 X), Without-pay(무보수), ?(결측치)의 9개 범주로 나뉘었지만, 범주가 너무 많고 Private의 비율이 너무 많아 (Self-emp-not-inc, Self-emp-inc)를 Self-emp(자영업자)로 통합하고 (Federal-gov, Local-gov, State-gov)를 gov(공무원)로 통합하고 (Never-worked, Without-pay, ?)를 other(그 외)로 통합하여 4개의 범주로 줄였다.

## marital-status 변수의 범주 줄인 이유
marital-status 변수의 경우 Divorced(이혼), Married-AF-spouse(군인 배우자와 결혼), Married-civ-spouse(민간인 배우자와 결혼), Married-spouse-absent(직장 등의 이유로 별거), Never-married(미혼), Separated(이혼 등의 이유로 별거), Widowed(미망인)의 7개 범주로 나뉘었지만, 범주가 너무 많아 (Married-AF-spouse, Married-spouse-absent, Separated, Widowed)를 미혼은 아니지만 어떠한 이유에서든 배우자와 동거하지 않는 상태라고 취급하여 other(그 외) 변수로 통합하고 4개의 범주로 줄였다. (참고로 Married-AF-spouse는 군인 배우자가 군복무로 인해 별거중이라고 가정했다)

## native-country 변수의 범주 줄인 이유
native-country 변수의 경우 약 40여개국의 범주로 나뉘었지만 범주가 너무 많고 United-States를 제외한 나머지 국가들의 비중이 너무 적어 나머지 국가들을 Others(그 외)로 통합하고 2개의 범주로 줄였다.

# 전처리

## 문자형 변수 숫자 코딩

### workclass

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df1['workclass'] = le.fit_transform(df1['workclass'])

In [ ]:
display(le.classes_)

array(['Private', 'Self-emp', 'gov', 'other'], dtype=object)

In [ ]:
df1['workclass'].value_counts()
# 0: Private
# 1: Self-emp
# 2: gov
# 3: other

0    22696
2     4351
1     3657
3     1857
Name: workclass, dtype: int64

### marital-status

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df1['marital-status'] = le.fit_transform(df1['marital-status'])

In [ ]:
display(le.classes_)

array(['Divorced', 'Married-civ-spouse', 'Never-married', 'other'],
      dtype=object)

In [ ]:
df1['marital-status'].value_counts()
# 0: Divorced
# 1: Married-civ-spouse
# 2: Never-married
# 3: other

1    14976
2    10683
0     4443
3     2459
Name: marital-status, dtype: int64

### race

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df1['race'] = le.fit_transform(df1['race'])

In [ ]:
display(le.classes_)

array(['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other',
       'White'], dtype=object)

In [ ]:
df1['race'].value_counts()
# 0: Amer-Indian-Eskimo
# 1: Asian-Pac-Islander
# 2: Black
# 3: Other
# 4: White

4    27816
2     3124
1     1039
0      311
3      271
Name: race, dtype: int64

### education

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df1['education'] = le.fit_transform(df1['education'])

In [ ]:
display(le.classes_)

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype=object)

In [ ]:
df1['education'].value_counts()
# 0: Amer-Indian-Eskimo
# 1: Asian-Pac-Islander
# 2: Black
# 3: Other
# 4: White

11    10501
15     7291
9      5355
12     1723
8      1382
1      1175
7      1067
0       933
5       646
14      576
6       514
2       433
10      413
4       333
3       168
13       51
Name: education, dtype: int64

In [ ]:
df1

,age,workclass,fnlwgt,education-num,marital-status,race,sex,hours-per-week,native-country,salary,capital
0,28,0,338409,13,1,1,1,40,0,0,0
1,49,0,160187,5,3,1,1,16,0,0,0
2,30,2,141297,13,1,2,0,40,0,1,0
3,40,0,121772,11,1,2,0,40,0,1,0
4,34,0,245487,4,1,3,0,45,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
32556,53,0,304504,10,1,0,0,45,1,1,-1887
32557,18,0,41381,9,2,0,1,20,1,0,-1602
32558,61,0,190682,9,3,1,1,50,1,0,-1669
32559,36,0,237943,13,1,0,0,45,1,1,-1977
32560,34,0,60567,7,0,0,0,60,1,0,-880

## 데이터 분할

In [ ]:
df_input = df1.drop('salary',axis = 1)
df_target = df1['salary']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# train_set, test_set 분할
train_input, test_input, train_target, test_target = train_test_split(
    df_input, df_target, test_size = 0.2, random_state = 42)

In [ ]:
print(train_input.shape, test_input.shape)
# sub_set 20838개, val_set 5210개, test_set 6513개

(26048, 10) (6513, 10)

## 표준화

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)

train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

# 각 알고리즘의 디폴트 값 확인

## 로지스틱 회귀 (확률적 경사 하강법 적용)

In [ ]:
from sklearn.linear_model import SGDClassifier
sc = SGDClassifier(loss = 'log', random_state = 42)
# SGDClassifier는 하나씩 꺼내는 확률적 경사하강법만 지원하고 배치나 미니배치는 지원하지 않음
# loss = 'log'는 로지스틱 손실함수를 적용 (로지스틱 회귀모델을 훈련)
# 경사하강법은 머신러닝 모델이 아니라 머신러닝 모델을 훈련(최적화)하는 방법임 (따라서 어떤 모델을 훈련할건지 정해줘야 함)
# 점진적인 학습을 위해 max_iter(에포크)값은 10정도로 작게 줌
sc.fit(train_scaled, train_target)

SGDClassifier(loss='log', random_state=42)

In [ ]:
print(sc.score(train_scaled, train_target))
print(sc.score(test_scaled, test_target))
# 과소적합

0.816377457002457
0.8165208045447566

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = sc.predict(train_scaled)
pred_test = sc.predict(test_scaled)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.85      0.92      0.88     19752
           1       0.67      0.48      0.56      6296

    accuracy                           0.82     26048
   macro avg       0.76      0.70      0.72     26048
weighted avg       0.80      0.82      0.81     26048

              precision    recall  f1-score   support

           0       0.85      0.92      0.88      4968
           1       0.65      0.50      0.56      1545

    accuracy                           0.82      6513
   macro avg       0.75      0.71      0.72      6513
weighted avg       0.81      0.82      0.81      6513

## 결정트리

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier(random_state = 42)
dt.fit(train_input, train_target)

DecisionTreeClassifier(random_state=42)

In [ ]:
print(dt.score(train_input, train_target))
print(dt.score(test_input, test_target))
# 오버피팅

0.9996928746928747
0.8108398587440504

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = dt.predict(train_input)
pred_test = dt.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     19752
           1       1.00      1.00      1.00      6296

    accuracy                           1.00     26048
   macro avg       1.00      1.00      1.00     26048
weighted avg       1.00      1.00      1.00     26048

              precision    recall  f1-score   support

           0       0.88      0.87      0.88      4968
           1       0.60      0.62      0.61      1545

    accuracy                           0.81      6513
   macro avg       0.74      0.74      0.74      6513
weighted avg       0.81      0.81      0.81      6513

## 랜덤포레스트

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_jobs = -1, random_state = 42)
rf.fit(train_input, train_target)

RandomForestClassifier(n_jobs=-1, random_state=42)

In [ ]:
print(rf.score(train_input, train_target))
print(rf.score(test_input, test_target))
# 오버피팅

0.999654484029484
0.8475356978350991

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = rf.predict(train_input)
pred_test = rf.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     19752
           1       1.00      1.00      1.00      6296

    accuracy                           1.00     26048
   macro avg       1.00      1.00      1.00     26048
weighted avg       1.00      1.00      1.00     26048

              precision    recall  f1-score   support

           0       0.89      0.92      0.90      4968
           1       0.70      0.62      0.66      1545

    accuracy                           0.85      6513
   macro avg       0.79      0.77      0.78      6513
weighted avg       0.84      0.85      0.84      6513

## 엑스트라트리

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
et = ExtraTreesClassifier(n_jobs = -1, random_state = 42)
et.fit(train_input, train_target)

ExtraTreesClassifier(n_jobs=-1, random_state=42)

In [ ]:
print(et.score(train_input, train_target))
print(et.score(test_input, test_target))

0.9996928746928747
0.8298787041302012

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = et.predict(train_input)
pred_test = et.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     19752
           1       1.00      1.00      1.00      6296

    accuracy                           1.00     26048
   macro avg       1.00      1.00      1.00     26048
weighted avg       1.00      1.00      1.00     26048

              precision    recall  f1-score   support

           0       0.88      0.90      0.89      4968
           1       0.65      0.60      0.63      1545

    accuracy                           0.83      6513
   macro avg       0.77      0.75      0.76      6513
weighted avg       0.83      0.83      0.83      6513

## 그레디언트 부스팅

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gb = GradientBoostingClassifier(random_state = 42)
gb.fit(train_input, train_target)

GradientBoostingClassifier(random_state=42)

In [ ]:
print(gb.score(train_input, train_target))
print(gb.score(test_input, test_target))

0.862791769041769
0.8615077537233226

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = gb.predict(train_input)
pred_test = gb.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91     19752
           1       0.80      0.58      0.67      6296

    accuracy                           0.86     26048
   macro avg       0.84      0.76      0.79     26048
weighted avg       0.86      0.86      0.85     26048

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      4968
           1       0.78      0.58      0.66      1545

    accuracy                           0.86      6513
   macro avg       0.83      0.76      0.79      6513
weighted avg       0.86      0.86      0.85      6513

## XGBoost (그레디언트 부스팅도 지원하지만 다른 것도 지원함)

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xgb = XGBClassifier(tree_method = 'hist', random_state = 42)
xgb.fit(train_input, train_target)

XGBClassifier(random_state=42, tree_method='hist')

In [ ]:
print(xgb.score(train_input, train_target))
print(xgb.score(test_input, test_target))

0.8617168304668305
0.8585905112851221

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = xgb.predict(train_input)
pred_test = xgb.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91     19752
           1       0.80      0.57      0.66      6296

    accuracy                           0.86     26048
   macro avg       0.84      0.76      0.79     26048
weighted avg       0.86      0.86      0.85     26048

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      4968
           1       0.78      0.56      0.65      1545

    accuracy                           0.86      6513
   macro avg       0.83      0.76      0.78      6513
weighted avg       0.85      0.86      0.85      6513

## LightGBM (그레디언트 부스팅 전용 라이브러리)

In [ ]:
from lightgbm import LGBMClassifier

In [ ]:
lgb = LGBMClassifier(random_state = 42)
lgb.fit(train_input, train_target)

LGBMClassifier(random_state=42)

In [ ]:
print(lgb.score(train_input, train_target))
print(lgb.score(test_input, test_target))

0.8799523955773956
0.8673422385997236

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = lgb.predict(train_input)
pred_test = lgb.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.90      0.95      0.92     19752
           1       0.81      0.66      0.73      6296

    accuracy                           0.88     26048
   macro avg       0.85      0.80      0.82     26048
weighted avg       0.88      0.88      0.88     26048

              precision    recall  f1-score   support

           0       0.89      0.94      0.92      4968
           1       0.77      0.63      0.69      1545

    accuracy                           0.87      6513
   macro avg       0.83      0.79      0.80      6513
weighted avg       0.86      0.87      0.86      6513

그레디언트 부스팅, XGBoost, LightGBM이 과대적합도 없으며 전체적으로 정확도 값이 높아 최종 3개의 알고리즘으로 선택

# 최적화

## 그레디언트 부스팅 (랜덤서치)

In [ ]:
from scipy.stats import uniform, randint

In [ ]:
import numpy as np

params = {'n_estimators' : randint(1,500),
          'learning_rate' : uniform(0.01, 0.3)} # 딕셔너리
# GradientBoostingClassifier의 매개변수를 선택하여 파라미터로 지정

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

rsgb = RandomizedSearchCV(GradientBoostingClassifier(random_state = 42), params,
                        n_iter = 100, random_state = 42, n_jobs = -1)

In [ ]:
rsgb.fit(train_input, train_target)

RandomizedSearchCV(estimator=GradientBoostingClassifier(random_state=42),
                   n_iter=100, n_jobs=-1,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f025c750760>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f025c27b100>},
                   random_state=42)

In [ ]:
print(rsgb.best_params_)

{'learning_rate': 0.14374982585607735, 'n_estimators': 215}

In [ ]:
gb_best = rsgb.best_estimator_
from sklearn.model_selection import cross_validate
scores = cross_validate(gb_best, train_input, train_target, return_train_score = True, n_jobs = -1)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.8749904243724946 0.8649418749256143

In [ ]:
print(gb_best.score(test_input, test_target)) # 약 86.64%의 정확도

0.866421004145555

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = gb_best.predict(train_input)
pred_test = gb_best.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.89      0.95      0.92     19752
           1       0.81      0.63      0.71      6296

    accuracy                           0.87     26048
   macro avg       0.85      0.79      0.81     26048
weighted avg       0.87      0.87      0.87     26048

              precision    recall  f1-score   support

           0       0.89      0.94      0.92      4968
           1       0.77      0.62      0.69      1545

    accuracy                           0.87      6513
   macro avg       0.83      0.78      0.80      6513
weighted avg       0.86      0.87      0.86      6513

## XGBoost (랜덤서치)

In [ ]:
from scipy.stats import uniform, randint

In [ ]:
import numpy as np

params = {'n_estimators' : randint(1,500),
          'learning_rate' : uniform(0.01, 0.3)} # 딕셔너리
# GradientBoostingClassifier의 매개변수를 선택하여 파라미터로 지정

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

rsxgb = RandomizedSearchCV(XGBClassifier(random_state = 42), params,
                        n_iter = 100, random_state = 42, n_jobs = -1)

In [ ]:
rsxgb.fit(train_input, train_target)

RandomizedSearchCV(estimator=XGBClassifier(random_state=42), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f025c750760>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f025c27b100>},
                   random_state=42)

In [ ]:
print(rsxgb.best_params_)

{'learning_rate': 0.3049692657420365, 'n_estimators': 131}

In [ ]:
xgb_best = rsxgb.best_estimator_
from sklearn.model_selection import cross_validate
scores = cross_validate(xgb_best, train_input, train_target, return_train_score = True, n_jobs = -1)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.8758446049348922 0.8652106184151231

In [ ]:
print(xgb_best.score(test_input, test_target)) # 약 86.56%의 정확도

0.8656533087670812

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
pred_train = xgb_best.predict(train_input)
pred_test = xgb_best.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.89      0.95      0.92     19752
           1       0.81      0.64      0.71      6296

    accuracy                           0.88     26048
   macro avg       0.85      0.79      0.82     26048
weighted avg       0.87      0.88      0.87     26048

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      4968
           1       0.77      0.62      0.69      1545

    accuracy                           0.87      6513
   macro avg       0.83      0.78      0.80      6513
weighted avg       0.86      0.87      0.86      6513

## LightGBM (랜덤서치)

In [ ]:
from scipy.stats import uniform, randint

In [ ]:
import numpy as np

params = {'n_estimators' : randint(1,500),
          'learning_rate' : uniform(0.01, 0.3)} # 딕셔너리
# GradientBoostingClassifier의 매개변수를 선택하여 파라미터로 지정

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

rslgbm = RandomizedSearchCV(LGBMClassifier(random_state = 42), params,
                        n_iter = 100, random_state = 42, n_jobs = -1)

In [ ]:
rslgbm.fit(train_input, train_target)

RandomizedSearchCV(estimator=LGBMClassifier(random_state=42), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f025c750760>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f025c27b100>},
                   random_state=42)

In [ ]:
print(rslgbm.best_params_)

{'learning_rate': 0.2366653415629146, 'n_estimators': 36}

In [ ]:
lgbm_best = rslgbm.best_estimator_
from sklearn.model_selection import cross_validate
scores = cross_validate(lgbm_best, train_input, train_target, return_train_score = True, n_jobs = -1)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.8794533541929864 0.864673308304061

In [ ]:
print(lgbm_best.score(test_input, test_target)) # 약 86.56%의 정확도

0.8653462306156917

In [ ]:
pred_train = lgbm_best.predict(train_input)
pred_test = lgbm_best.predict(test_input)

print(classification_report(train_target, pred_train))
print(classification_report(test_target, pred_test))

              precision    recall  f1-score   support

           0       0.90      0.95      0.92     19752
           1       0.80      0.66      0.72      6296

    accuracy                           0.88     26048
   macro avg       0.85      0.80      0.82     26048
weighted avg       0.87      0.88      0.87     26048

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      4968
           1       0.76      0.63      0.69      1545

    accuracy                           0.87      6513
   macro avg       0.83      0.78      0.80      6513
weighted avg       0.86      0.87      0.86      6513