## UNIT23 2차원 리스트 사용하기

#### 23.1 2차원 리스트를 만들고 요소에 접근하기

In [1]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

##### 23.1.1 2차원 리스트의 요소에 접근하기

 - 리스트[세로인덱스][가로인덱스]
 - 리스트[세로인덱스][가로인덱스] = 값

In [2]:
a = [[10, 20], [30, 40], [50, 60]]
print(a[0][0])      # 세로 인덱스 0, 가로 인덱스 0인 요소 출력
print(a[1][1])      # 세로 인덱스 1, 가로 인덱스 1인 요소 출력
print(a[2][1])      # 세로 인덱스 2, 가로 인덱스 1인 요소 출력
a[0][1] = 1000      # 세로 인덱스 0, 가로 인덱스 1인 요소에 값 할당
print(a[0][1])

10
40
60
1000

#### 참고) 톱니형 리스트

> 2차원 리스트 [[10, 20], [30, 40], [50, 60]]은 가로 크기가 일정한 사각형 리스트입니다. 특히 파이썬에서는 가로 크기가 불규칙한 톱니형 리스트(jagged list)도 만들 수 있습니다.

In [3]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]

print(a)

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [7]:
a = []
a.append([])
a[0].append(10)
a[0].append(20)
a.append([])
a[1].append(500)
a[1].append(600)
a[1].append(700)
print(a)

[[10, 20], [500, 600, 700]]

#### 참고) 2차원 튜플

 - 튜플 = ((값, 값), (값, 값), (값, 값))
 - 튜플 = ([값, 값], [값, 값], [값, 값])
 - 리스트 = [(값, 값), (값, 값), (값, 값)]

In [8]:
a = ((10, 20), (30, 40), (50, 60))      # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50, 60])      # 튜플 안에 리스트를 넣음
c = [(10, 20), (30, 40), (50, 60)]      # 리스트 안에 튜플을 넣음

> 튜플은 내용을 변경할 수 없으므로 a는 안쪽과 바깥쪽 모두 요소를 변경할 수 없습니다. b는 안쪽 리스트만 요소를 변경할 수 있고, c는 바깥쪽 리스트만 요소를 변경할 수 있습니다.

#### 참고) 사람이 알아보기 쉽게 출력하기

In [9]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [10]:
from pprint import pprint
pprint(a, indent = 4, width = 20)

[   [10, 20],
    [30, 40],
    [50, 60]]

#### 23.2 반복문으로 2차원 리스트의 요소를 모두 출력하기

##### 23.2.1 for 반복문을 한 번만 사용하기

In [12]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:      # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼냄
    print(x, y)

10 20
30 40
50 60

##### 23.2.2 for 반복문을 두 번 사용하기

In [13]:
a = [[10, 20], [30, 40], [50, 60]]

for i in a:         # a에서 안쪽 리스트를 꺼냄
    for j in i:     # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end = ' ')
    print()

10 20
30 40
50 60

##### 23.2.3 for와 range 사용하기

In [16]:
a = [[10, 20], [30, 40], [50, 60]]

for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end = ' ')
    print()

10 20
30 40
50 60

##### 23.2.4 while 반복문을 한 번 사용하기

In [23]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):       # 반복할 때 리스트의 크기 활용(세로 크기)
    x, y = a[i]         # 요소 두 개를 한꺼번에 가져오기
    print(x, y)
    i += 1              # 인덱스를 1 증가시킴

10 20
30 40
50 60

##### 23.2.5 while 반복문을 두 번 사용하기

In [29]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
j = 0
while i < len(a):
    while j < len(a[i]):
        print(a[i][j], end = ' ')
        j += 1
    print()
    i += 1
    j = 0

10 20
30 40
50 60

#### 23.3 반복문으로 리스트 만들기

##### 23.3.1 for 반복문으로 1차원 리스트 만들기

In [1]:
a = []      # 빈 리스트 생성

for i in range(10):
    a.append(0)     # append로 요소 추가

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

##### 23.3.2 for 반복문으로 2차원 리스트 만들기

In [4]:
a = []      # 빈 리스트 생성

for i in range(3):
    line = []               # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)      # 안쪽 리스트에 0 추가
    a.append(line)          # 전체 리스트에 안쪽 리스트를 추가

print(a)

[[0, 0], [0, 0], [0, 0]]

##### 23.3.3 리스트 표현식으로 2차원 리스트 만들기

In [7]:
a = [[0 for _ in range(2)] for _ in range(3)]

print(a)

[[0, 0], [0, 0], [0, 0]]

In [8]:
a = [[0] * 2 for _ in range(3)]

print(a)

[[0, 0], [0, 0], [0, 0]]

##### 23.3.4 톱니형 리스트 만들기

In [9]:
a = [3, 1, 3, 2, 5]     # 가로 크기를 저장한 리스트
b = []      # 빈 리스트 생성

for i in a:
    b.append([0] * i)

print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [14]:
a = [[0] * i for i in [3, 1, 3, 2, 5]]
print(a)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

#### 참고) sorted로 2차원 리스트 정렬하기

 - sorted(반복가능한객체, key=정렬함수, reverse=True 또는 False)

In [19]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

print(sorted(students, key=lambda students: students[1]))   # 안쪽 리스트의 인덱스 1을 기준으로 정렬
print(sorted(students, key=lambda students: students[2]))   # 안쪽 리스트의 인덱스 2를 기준으로 정렬

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]
[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

#### 23.4 2차원 리스트의 할당과 복사 알아보기

In [21]:
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

> 리스트 a를 copy 메서드로 b에 복사한 뒤 b의 요소를 변경해보면 리스트 a와 b에 모두 반영됩니다.

In [22]:
a = [[10, 20], [30, 40]]
b = a.copy()
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [23]:
a = [[10, 20], [30, 40]]
import copy                 # copy 모듈을 가져옴
b = copy.deepcopy(a)        # copy.deepcopy 함수를 사용하여 깊은 복사
b[0][0] = 500
print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]

#### 23.5 퀴즈

##### 1. 다음 중 가로 2, 세로 2 크기의 2차원 리스트를 만드는 방법으로 올바른 것을 고르세요.

In [31]:
a = [[10, 20], [30, 40]] # b번
print(a)

[[10, 20], [30, 40]]

##### 2. 다음 중 리스트 a = [[10, 20], [30, 40, 50], [60]]에서 60을 출력하는 방법으로 올바른 것을 고르세요.

In [26]:
a = [[10, 20], [30, 40, 50], [60]]

print(a[2][0]) # d번

60

##### 3. 다음 중 for 반복문을 사용하여 2차원 리스트 a의 모든 요소를 출력하는 방법으로 올바른 것을 고르세요.

In [30]:
a = [[10, 20], [30, 40, 50], [60]]

for i in a:
    for j in i:
        print(j)
# d번

10
20
30
40
50
60

##### 4. while 반복문을 사용하여 2차원 리스트의 모든 요소를 출력할 때 밑줄 부분에 들어가야 할 코드를 고르세요.

In [32]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    j = 0
    while j < len(a[i]):
        print(a[i][j], end = ' ')
        j += 1
    print()
    i += 1
# b번

10 20
30 40
50 60

##### 5. 다음 중 리스트 [[0, 0, 0], [0, 0, 0], [0, 0, 0]]를 만드는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
[[0 for j in range(3)] for i in range(3)] # a번

In [43]:
[[0, 0, 0] for i in range(3)] # c번

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

#### 23.6 연습문제: 3차원 리스트 만들기

In [46]:
[[[0 for i in range(3)] for j in range(4)] for k in range(2)]

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

#### 23.7 심사문제: 지뢰찾기 (머리 깨질 것 같아)

In [65]:
# 행과 열의 수 입력
row, col = map(int, input().split())

# 빈 리스트 생성
dot_list = []

# col 개수씩 입력을 총 row 개수만큼 받아 지뢰 리스트 생성
for _ in range(row):
    data = input()
    dot = []
    for i in range(col):
        dot.append(data[i])   
    dot_list.append(dot)

# row와 col을 돌면서 '.'인 부분일 때만 if를 걸어 cnt 세기
for i in range(row): # 1
    for j in range(col): # 1
        if dot_list[i][j] == '.':
            cnt = 0

            # 범위가 주변 8칸인데 리스트 범위에 들때만 cnt 세기
            for k in range(i-1, i+2): # 0 ~ 2
                for l in range(j-1, j+2): # 0 ~ 2
                    if (0 <= k < row) and (0 <= l < col):
                        if dot_list[k][l] == '*':
                            cnt += 1
            dot_list[i][j] = cnt

for a in dot_list:
    for b in a:
        print(b, end = '')
    print()

2**
*43
2*1

In [66]:
# 행과 열의 수 입력
row, col = map(int, input().split())

# 빈 리스트 생성
dot_list = []

# 3개씩 입력을 총 row 개수만
for _ in range(row):
    data = input()
    dot = []
    for i in range(col):
        dot.append(data[i])   
    dot_list.append(dot)

for i in range(row): # 1
    for j in range(col): # 1
        if dot_list[i][j] == '.':
            cnt = 0

            for k in range(i-1, i+2): # 0 ~ 2
                for l in range(j-1, j+2): # 0 ~ 2
                    if (0 <= k < row) and (0 <= l < col):
                        if dot_list[k][l] == '*':
                            cnt += 1
            dot_list[i][j] = cnt

for a in dot_list:
    for b in a:
        print(b, end = '')
    print()

01*21
123*1
2*532
3***1
*4*31

## UNIT24 문자열 응용하기

#### 24.1 문자열 조작하기

##### 24.1.1 문자열 바꾸기

In [47]:
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [48]:
s = 'Hello, world!'
s = s.replace('world!', 'Python')
s

'Hello, Python'

##### 24.1.2 문자 바꾸기

In [49]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

##### 24.1.3 문자열 분리하기

In [50]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [51]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

##### 24.1.4 구분자 문자열과 문자열 리스트 연결하기

In [52]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [53]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

##### 24.1.5 소문자를 대문자로 바꾸기

In [54]:
'python'.upper()

'PYTHON'

##### 24.1.6 대문자를 소문자로 바꾸기

In [55]:
'PYTHON'.lower()

'python'

##### 24.1.7 왼쪽 공백 삭제하기

In [56]:
'   Python   '.lstrip()

'Python   '

##### 24.1.8 오른쪽 공백 삭제하기

In [57]:
'   Python   '.rstrip()

'   Python'

##### 24.1.9 양쪽 공백 삭제하기

In [58]:
'   Python   '.strip()

'Python'

##### 24.1.10 왼쪽의 특정 문자 삭제하기

In [59]:
', python.'.lstrip(',.')

' python.'

##### 24.1.11 오른쪽의 특정 문자 삭제하기

In [60]:
', python.'.rstrip(',.')

', python'

##### 24.1.12 양쪽의 특정 문자 삭제하기

In [63]:
', python.'.strip(',.')

' python'

#### 참고) 구두점을 간단하게 삭제하기

In [64]:
import string
', python.'.strip(string.punctuation)

' python'

In [65]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [66]:
', python.'.strip(string.punctuation + ' ')

'python'

In [67]:
', python.'.strip(string.punctuation).strip()

'python'

##### 24.1.13 문자열을 왼쪽 정렬하기

In [68]:
'python'.ljust(10)

'python    '

##### 24.1.14 문자열을 오른쪽 정렬하기

In [69]:
'python'.rjust(10)

'    python'

##### 24.1.15 문자열을 가운데 정렬하기

In [70]:
'python'.center(10)

'  python  '

In [71]:
'python'.center(11)

'   python  '

##### 24.1.16 메서드 체이닝

In [72]:
'python'.rjust(10).upper()

'    PYTHON'

##### 24.1.17 문자열 왼쪽에 0 채우기

In [75]:
print('35'.zfill(4))        # 숫자 앞에 0을 채움
print('3.5'.zfill(6))       # 숫자 앞에 0을 채움
print('hello'.zfill(10))    # 문자열 앞에 0을 채울 수도 있음

0035
0003.5
00000hello

##### 24.1.18 문자열 위치 찾기

In [77]:
print('apple pineapple'.find('pl'))
print('apple pineapple'.find('xy'))

2
-1

##### 24.1.19 오른쪽에서부터 문자열 위치 찾기

In [78]:
print('apple pineapple'.rfind('pl'))
print('apple pineapple'.rfind('xy'))

12
-1

##### 24.1.20 문자열 위치 찾기

In [79]:
'apple pineapple'.index('pl')

2

##### 24.1.21 오른쪽에서부터 문자열 위치 찾기

In [80]:
'apple pineapple'.rindex('pl')

12

##### 24.1.22 문자열 개수 세기

In [81]:
'apple pineapple'.count('pl')

2

#### 24.2 문자열 서식 지정자와 포매팅 사용하기

##### 24.2.1 서식 지정자로 문자열 넣기

 - '%s' % '문자열'

In [82]:
'I am %s.' % 'james'

'I am james.'

##### 24.2.3 서식 지정자로 소수점 표현하기

 - '%f' % 숫자

In [83]:
'%f' % 2.3

'2.300000'

 - '%.자릿수f' % 숫자

In [84]:
'%.2f' % 2.3

'2.30'

In [85]:
'%.3f' % 2.3

'2.300'

##### 24.2.4 서식 지정자로 문자열 정렬하기

In [86]:
'%10s' % 'python'

'    python'

#### 참고) 자릿수가 다른 숫자 출력하기

 - %길이d

In [87]:
'%10d' % 150

'       150'

In [88]:
'%10d' % 15000

'     15000'

 - %길이.자릿수f

In [89]:
'%10.2f' % 2.3

'      2.30'

In [90]:
'%10.2f' % 2000.3

'   2000.30'

 - %-길이s

In [91]:
'%-10s' % 'python'

'python    '

##### 24.2.5 서식 지정자로 문자열 안에 값 여러 개 넣기

In [92]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [93]:
'Today is %d%s.' % (3, 'April')

'Today is 3April.'

##### 24.2.6 format 메서드 사용하기

In [94]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [95]:
'Hello, {0}'.format(100)

'Hello, 100'

##### 24.2.7 format 메서드로 값을 여러 개 넣기

In [96]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

##### 24.2.8 format 메서드로 같은 값을 여러 개 넣기

In [97]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

#### 24.2.9 format 메서드에서 인덱스 생략하기

In [98]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

##### 24.2.10 format 메서드에서 인덱스 대신 이름 지정하기

In [99]:
'Hello, {language} {version}'.format(language = 'Python', version = 3.6)

'Hello, Python 3.6'

##### 24.2.11 문자열 포매팅에 변수를 그대로 사용하기

In [100]:
language = 'Python'
version = 3.6
f'Hello, {language} {version}'

'Hello, Python 3.6'

#### 참고) 중괄호 출력하기

In [103]:
'{{ {0} }}'.format('Python')

'{ Python }'

##### 24.2.12 format 메서드로 문자열 정렬하기

 - '{인덱스:<길이}'.format(값)

In [104]:
'{0:<10}'.format('python')

'python    '

 - '{인덱스:>길이}'.format(값)

In [105]:
'{0:>10}'.format('python')

'    python'

In [106]:
'{:>10}'.format('python')

'    python'

##### 24.2.13 숫자 개수 맞추기

 - '%0개수d' % 숫자
 - '{인덱스:0개수d}'.format(숫자)

In [107]:
'%03d' % 1

'001'

In [108]:
'{0:03d}'.format(35)

'035'

 - '%0개수.자릿수f' % 숫자
 - '{인덱스:0개수.자릿수f}'.format(숫자)

In [109]:
'%08.2f' % 3.6

'00003.60'

In [110]:
'{0:08.2f}'.format(150.37)

'00150.37'

##### 24.2.14 채우기와 정렬을 조합해서 사용하기

 - '{인덱스:[[채우기]정렬][길이][.자릿수][자료형]}'

In [111]:
'{0:0<10}'.format(15)   # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

'1500000000'

In [112]:
'{0:0>10}'.format(15)   # 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'0000000015'

In [113]:
'{0:0>10.2f}'.format(15)    # 길이 10, 오른쪽으로 정렬하고 소수점 자릿수는 2자리

'0000015.00'

In [114]:
'{0: >10}'.format(15)   # 남는 공간을 공백으로 채움

'        15'

In [115]:
'{0:>10}'.format(15)    # 채우기 부분을 생략하면 공백이 들어감

'        15'

In [116]:
'{0:x>10}'.format(15)   # 남는 공간을 문자 x로 채움

'xxxxxxxx15'

#### 참고) 금액에서 천단위로 콤마 넣기

 - format(숫자, ',')

In [117]:
format(1493500, ',')

'1,493,500'

In [118]:
'%20s' % format(1493500, ',')   # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [119]:
'{0:,}'.format(149500)

'149,500'

In [120]:
'{0:>20,}'.format(1493500)  # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [121]:
'{0:0>20,}'.format(1493500) # 길이 20, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'000000000001,493,500'

#### 24.3 퀴즈

##### 1. 다음 중 문자열 메서드에 대한 설명으로 잘못된 것을 모두 고르세요.

a. count는 문자열의 전체 문자 개수를 구한다. (X)  
b. find는 문자열에서 왼쪽부터 문자열을 찾아서 인덱스를 반환한다. (O)  
c. replace는 문자열 안의 문자열을 다른 문자열로 바꾼다. (O)  
d. split은 문자열을 공백 또는 기준 문자열을 기준으로 분리한다. (O)  
e. index는 문자열의 오른쪽에서부터 문자열을 찾아서 인덱스를 반환한다. (X)

##### 2. 다음 코드를 실행했을 때 출력 결과를 고르세요.

In [1]:
print('Python'.lower().replace('on', 'ON').ljust(10)) # d번

pythON

##### 3. 다음 중 문자열 'Hello, Python 3.6'을 만드는 방법으로 올바른 것을 모두 고르세요.

In [4]:
'%s, %s 3.6' % ('Hello', 'Python') # b

'Hello, Python 3.6'

In [5]:
'{hello}, {language} 3.6'.format(hello = 'Hello', language = 'Python') # d

'Hello, Python 3.6'

##### 4. 다음 중 문자열 '   1675.3000'을 만드는 방법으로 올바른 것을 모두 고르세요. 이 문자열의 길이는 12이고 소수점 이하 자릿수는 4자리입니다. 또한, 오른쪽으로 정렬되어 있고 남은 공간은 공백으로 채워져 있습니다.

In [8]:
'{0:>12.4f}'.format(1675.3) # c

'   1675.3000'

In [9]:
'{0: >12.4f}'.format(1675.3) # d

'   1675.3000'

#### 24.4 연습문제: 파일 경로에서 파일명만 가져오기

In [14]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

idx = path.rfind('\\')
filename = path[idx+1:]
print(filename)

python.exe

#### 24.5 심사문제: 특정 단어 개수 세기

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.

In [37]:
data = input()

cnt = 0
for i in data.split():
    if i.strip(',.') == 'the':
        cnt += 1
print(cnt)

6