# UNIT3 Hello, world!로 시작하기

In [ ]:
print('Hello, world!')

Hello, world!

In [ ]:
print('Hello, Python')

Hello, Python

### 3.6 퀴즈
#### 1. 다음 중 'Hello, world!'를 출력하는 방법으로 올바른 것을 고르시오.

In [ ]:
print('Hello, world') # d번

Hello, world

### 3.7 연습문제: 문자열 출력하기
#### 다음 소스 코드를 완성하여 'Hello, world!'와 'Python Programming'이 각 줄에 출력되게 만드세요.

In [ ]:
print('Hello, world!')
print('Python Programming')

Hello, world!
Python Programming

### 3.8 심사문제: 문자열 출력하기
#### 'Hello, world' 두 개를 각 줄에 출력하는 프로그램을 만드세요(대소문자 구분과 띄어쓰기가 정확해야 합니다). 정답에는 출력 결과를 만족하는 전체 소스 코드를 입력해야 합니다.

In [ ]:
print('Hello, world!')
print('Hello, world!')

Hello, world!
Hello, world!

# UNIT4 기본 문법 알아보기

### 4.1 세미콜론

In [ ]:
print('Hello, world!')

Hello, world!

In [ ]:
print('Hello'); print('1234')

Hello
1234

### 4.2.1 한 줄 주석

In [ ]:
# Hello, world! 출력
print('Hello, world!')

Hello, world!

In [ ]:
# print('Hello, world!')

In [ ]:
a = 1 + 2 # 더하기
print('Hello, world!') # printf('1234567890')

### 4.2.2 블록 주석

In [ ]:
# print('Hello, world!')
# print('1234567890')

In [ ]:
# 더하기
# a = 1 + 2
# print('Hello, world!')

### 4.3 들여쓰기

In [ ]:
a = 10

if a == 10:
    print('10입니다.')

10입니다.

### 4.4 코드 블록

In [ ]:
if a == 10:
        print('10')
        print('입니다.')

10
입니다.

# UNIT5 숫자 계산하기

### 5.1.1 사칙연산

In [ ]:
1 + 1

2

In [ ]:
1 - 2

-1

In [ ]:
2 * 2

4

In [ ]:
5 / 2

2.5

In [ ]:
4 / 2

2.0

### 5.1.2 나눗셈 후 소수점 이하를 버리는 // 연산자

In [ ]:
5 // 2

2

In [ ]:
4 // 2

2

In [ ]:
5.5 // 2

2.0

In [ ]:
4 // 2.0

2.0

In [ ]:
4.1 // 2.1

1.0

### 5.1.3 나눗셈 후 나머지를 구하는 % 연산자

In [ ]:
5 % 2

1

### 5.1.4 거듭제곱을 구하는 ** 연산자

In [ ]:
2 ** 10

1024

### 5.1.5 값을 정수로 만들기

In [ ]:
int(3.3) # 숫자

3

In [ ]:
int(5 / 2) # 계산식

2

In [ ]:
int('10') # 문자열

10

### 5.1.6 객체의 자료형 알아내기

In [ ]:
print(type(10))

<class 'int'>

### 5.2 실수 계산하기

In [ ]:
3.5 + 2.1

5.6

In [ ]:
4.3 - 2.7

1.5999999999999996

In [ ]:
1.5 * 3.1

4.65

In [ ]:
5.5 / 3.1

1.7741935483870968

### 5.2.1 실수와 정수를 함께 계산하면?

In [ ]:
4.2 + 5 # 실수가 출력

9.2

### 5.2.2 값을 실수로 만들기

In [ ]:
float(5) # 숫자

5.0

In [ ]:
float(1 + 2) # 계산식

3.0

In [ ]:
float('5.3') # 문자열

5.3

In [ ]:
print(type(3.5))

<class 'float'>

In [ ]:
1.2+1.3j

(1.2+1.3j)

In [ ]:
complex(1.2, 1.3)

(1.2+1.3j)

### 5.3 괄호 사용하기

In [ ]:
35 + 1 * 2

37

In [ ]:
(35 + 1) * 2

72

### 5.4 퀴즈
#### 1. 다음 중 10 / 4를 계산한 결과로 올바른 것을 고르세요(파이썬3).

In [ ]:
10 / 4 # d번

2.5

#### 2. 다음 중 계산식의 결과를 실수로 만드는 방법으로 올바른 것을 고르세요.

In [ ]:
float(10 // 3) # c번

3.0

#### 3. 7 + (10 - 5) * 2의 계산 결과를 입력하세요.

In [ ]:
print(7 + (10 - 5) * 2)

17

### 5.5 연습문제: 아파트에서 소음이 가장 심한 층수 출력하기

In [ ]:
distance = 12
print(0.2467 * distance + 4.159)

7.1194

### 5.6 심사문제: 스킬 공격력 출력하기

In [ ]:
AP = 102
print(AP * 0.6 + 225)

286.2

# UNIT6 변수와 입력 사용하기

### 6.1 변수 만들기

In [ ]:
x = 10
x

10

In [ ]:
y = 'Hello, world!'
y

'Hello, world!'

### 6.1.1 변수의 자료형 알아내기

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### 6.1.2 변수 여러 개를 한 번에 만들기

In [ ]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [ ]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [ ]:
x, y = 10, 20
x, y = y, x
print(x)
print(y)

20
10

In [ ]:
a = 10
b = 20
c = a + b
print(c)

30

### 6.2.1 산술 연산 후 할당 연산자 사용하기

In [ ]:
a = 10
print(a + 20)
print(a)

30
10

In [ ]:
a = 10
a = a + 20 # a와 20을 더한 후 결과를 다시 a에 저장
print(a)

30

In [ ]:
a = 10
a += 20 # a와 20을 더한 후 결과를 다시 a에 저장
a

30

In [ ]:
x = -10
print(+x)
print(-x)

-10
10

### 6.3 입력 값을 변수에 저장하기
### 6.3.1 input 함수 사용하기

In [ ]:
input()

'Hello, world!'

### 6.3.2 input 함수의 결과를 변수에 할당하기

In [ ]:
x = input()

In [ ]:
x

'Hello, world!'

In [ ]:
x = input('문자열을 입력하세요: ')

x

'Hello, world!'

### 6.3.3 두 숫자의 합 구하기

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a + b)

1020

In [ ]:
a = input()

print(type(a))

<class 'str'>

### 6.3.4 입력 값을 정수로 변환하기

In [ ]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))

print(a + b)

30

### 6.4 입력 값을 변수 두 개에 저장하기

In [ ]:
a, b = input('문자열 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리

print(a)
print(b)

Hello
Python

### 6.4.1 두 숫자의 합 구하기

In [ ]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리

print(a + b)

1020

### 6.4.2 입력 값을 정수로 변환하기

In [ ]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리
a = int(a) # 변수를 정수로 변환한 뒤 다시 저장
b = int(b) # 변수를 정수로 변환한 뒤 다시 저장

print(a + b)

30

### 6.4.3 map을 사용하여 정수로 변환하기

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split()) # 입력된 2개의 숫자를 각각 int에 맵핑

print(a + b)

30

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
print(a + b)

30

### 6.5 퀴즈
#### 1. 다음 중 변수를 만드는 방법으로 올바른 것을 고르세요.

In [ ]:
x = 10 # c번

#### 2. 다음 중 변수 이름으로 사용할 수 없는 것을 모두 고르세요.

In [ ]:
# a, c, e, g, h

#### 3. 다음 중 변수와 연산자의 사용 방법으로 올바르지 않은 것을 모두 고르세요(파이썬3).

In [ ]:
a = 20
b = 30

In [ ]:
# b, d

#### 4. 다음과 같이 값이 두 개 입력됩니다. 입력된 값을 실수로 변환하여 변수 두 개에 저장하는 방법을 고르세요.

In [ ]:
a, b = map(float, input('실수를 입력하세요: ').split())

In [ ]:
print(a)
print(b)

1.5
2.7

### 6.6 연습문제: 정수 세 개를 입력받고 합계 출력하기

In [ ]:
a, b, c = map(int, input('정수를 입력하세요: ').split())

print(a + b + c)

40

### 6.7 심사문제: 변수 만들기

In [ ]:
a = 50
b = 100
c = None

print(a)
print(b)
print(c)

50
100
None

### 6.8 심사문제: 평균 점수 구하기

In [ ]:
a, b, c, d = map(int, input().split())

print(int((a + b + c + d) / 4))

88

In [ ]:
a, b, c, d = map(int, input().split())

print(int((a + b + c + d) / 4))

50

# UNIT7 출력 방법 알아보기

### 7.1 값을 여러 개 출력하기

In [ ]:
print(1, 2, 3)
print('Hello', 'Python')

1 2 3
Hello Python

### 7.1.1 sep로 값 사이에 문자 넣기

In [ ]:
print(1, 2, 3, sep=', ')
print(4, 5, 6, sep=',')
print('Hello', 'Python', sep='')
print(1920, 1080, sep='x')

1, 2, 3
4,5,6
HelloPython
1920x1080

### 7.2 줄바꿈 활용하기

In [ ]:
print(1, 2, 3)

1 2 3

In [ ]:
print(1, 2, 3, sep='\n')

1
2
3

In [ ]:
print('1\n2\n3')

1
2
3

### 7.2.1 end 사용하기

In [ ]:
print(1)
print(2)
print(3)

1
2
3

In [ ]:
print(1, end='')
print(2, end='')
print(3)

123

In [ ]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

### 7.3 퀴즈
#### 1. 다음 중 3.1 Python 100을 한 줄에 출력하는 방법으로 올바른 것을 고르세요.

In [ ]:
print(3.1, 'Python', 100) # d번

3.1 Python 100

#### 2. 다음 중 16:9를 출력하는 방법으로 올바른 것을 고르세요.

In [ ]:
print(16, 9, sep=':') # c번

16:9

### 3. 다음 중 'Hello'와 'Python'을 두 줄로 출력하는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
print('Hello\nPython') # b번
print('Hello', 'Python', sep='\n') # d번
print('Hello', '\n', 'Python', sep='') # e번

Hello
Python
Hello
Python
Hello
Python

### 7.4 연습문제: 날짜와 시간 출력하기

In [ ]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

### 7.5 심사문제: 날짜와 시간 출력하기

In [ ]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999-12-31T10:37:21

In [ ]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

2017-10-27T11:43:59

### 핵심정리
#### 숫자 계산하기

In [ ]:
1 + 1

2

In [ ]:
1 - 2

-1

In [ ]:
2 * 2

4

In [ ]:
5 / 2

2.5

#### 계산 결과를 정수, 실수로 만들기

In [ ]:
print(int(5 / 2))
print(float(1 + 2))

2
3.0

#### 괄호 사용하기

In [ ]:
print(35 + 1 * 2)
print((35 + 1) * 2)

37
72

#### 변수 만들기

In [ ]:
x = 10

#### 변수 삭제하기

In [ ]:
x = 10
del x

#### 변수 여러 개 만들기

In [ ]:
a, b, c = 10, 20, 30

In [ ]:
x = y = z = 10

#### 산술 연산 후 할당 연산자 사용하기

In [ ]:
a = 10
a += 20
a

30

#### 객체의 자료형 알아내기

In [ ]:
print(type(3.3))
x = 10
print(type(x))

<class 'float'>
<class 'int'>

#### 입력 값을 변수에 저장하기

In [ ]:
s = input()
a = int(input())
b = float(input())

#### 한 번에 여러 개 입력받기

In [ ]:
a, b = input().split()
a, b = map(int, input().split())
a, b = map(float, input().split())

#### 값을 여러 개 출력하기

In [ ]:
print(1, 2, 3)

1 2 3

#### print 함수의 출력 방식 제어하기

In [ ]:
print(1, 2, 3, sep=', ')

1, 2, 3

In [ ]:
print(1, end=' ')
print(2)

1 2

#### 개행 문자(줄바꿈 문자)

In [ ]:
print('1\n2\n3')

1
2
3

# UNIT8 불과 비교, 논리 연산자 알아보기

### 8.1 불과 비교 연산자 사용하기

In [ ]:
print(True)
print(False)

True
False

### 8.1.1 비교 연산자의 판단 결과

In [ ]:
3 > 1

True

### 8.1.2 숫자가 같은지 다른지 비교하기

In [ ]:
print(10 == 10)
print(10 != 5)

True
True

### 8.1.3 문자열이 같은지 다른지 비교하기

In [ ]:
print('Python' == 'Python')

print('Python' == 'python')

print('Python' != 'python')

True
False
True

### 8.1.4 부등호 사용하기

In [ ]:
print(10 > 20)
print(10 < 20)
print(10 >= 10)
print(10 <= 10)

False
True
True
True

### 8.1.5 객체가 같은지 다른지 비교하기

In [ ]:
print(1 == 1.0) # 값 자체를 비교

print(1 is 1.0) # 객체(object)를 비교

print(1 is not 1.0)

True
False
True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/308936446.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(1 is 1.0)
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/308936446.py:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(1 is not 1.0)

#### 정수 객체와 실수 객체가 서로 다른 것을 확인

In [ ]:
print(id(1))
print(id(1.0))

4390541472
4493107568

#### 값 비교에 is를 쓰지 않기

In [ ]:
a = -5
a is -5

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/632354002.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is -5

True

In [ ]:
a = -6
a is -6

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/782153807.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is -6

False

### 8.2 논리 연산자 사용하기

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
print(not True and False or not False)

True

### 8.2.1 논리 연산자와 비교 연산자를 함께 사용하기

In [ ]:
print(10 == 10 and 10 != 5)
print(10 > 5 or 10 < 3)
print(not 10 > 5)
print(not 1 is 1.0)

True
True
False
True

<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/2329236567.py:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(not 1 is 1.0)

#### 정수, 실수, 문자열을 불로 만들기

In [ ]:
print(bool(1))
print(bool(0))
print(bool(1.5))
print(bool('False')) # 문자열은 모두 True

True
False
True
True

### 8.3 퀴즈
#### 1. 다음 중 "x는 5와 같다"라는 뜻으로 올바른 것을 고르세요.

In [ ]:
x = 5
x == 5 # c

True

#### 2. 다음 중 비교 연산자의 결과로 올바르지 않은 것을 고르세요.

In [ ]:
print(6 == 2 * 3)
print(4 != 2 + 2)
print(2 * 3 is 3 + 3)
print(8 is 4 * 2.0) # d번 (is는 객체를 비교하기 때문에 정수랑 실수가 다르다)
print(5 is 6 - 1.1)

True
False
True
False
False

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/4146563054.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(2 * 3 is 3 + 3)
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/4146563054.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(8 is 4 * 2.0)
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/4146563054.py:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(5 is 6 - 1.1)

#### 3. 다음 중 비교 연산자와 논리 연산자의 결과로 올바른 것을 모두 고르세요.

In [ ]:
a = 10
b = 20

print(a == 10 or b == 10)
print(a >= 10 and b < 30) # b번
print(not a == 10) # c번
print(b != 20 or a != 10)
print(not b != 20 and a > 5)

True
True
False
False
True

#### 4. 다음 중 논리 연산의 결과를 뒤집는 연산자로 올바른 것을 고르세요.

In [ ]:
# d번

### 8.4 연습문제: 합격 여부 출력하기

In [ ]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

### 8.5 심사문제: 합격 여부 출력하기

In [ ]:
a, b, c, d = map(int, input().split())

print(a >= 90 and b > 80 and c > 85 and d >= 80)

True

In [ ]:
a, b, c, d = map(int, input().split())

print(a >= 90 and b > 80 and c > 85 and d >= 80)

False

# UNIT9 문자열 사용하기

### 9.1 문자열 사용하기

In [ ]:
hello = 'Hello, world!'
print(hello)

Hello, world!

In [ ]:
hello = '안녕하세요'
hello

'안녕하세요'

In [ ]:
hello = "Hello, world!"
hello

'Hello, world!'

In [ ]:
hello = '''Hello, Python!'''
hello

'Hello, Python!'

In [ ]:
python = """Python Programming"""
python

'Python Programming'

### 9.1.1 여러 줄로 된 문자열 사용하기

In [ ]:
hello = '''Hello, world!
안녕하세요.
Python입니다.'''
print(hello)

Hello, world!
안녕하세요.
Python입니다.

### 9.1.2 문자열 안에 작은 따옴표나 큰 따옴표 포함하기

In [ ]:
s = "Python isn't difficult"
s

"Python isn't difficult"

In [ ]:
s = 'He said "Python is easy"'
s

'He said "Python is easy"'

In [ ]:
single_quote = '''"안녕하세요.
'파이썬'입니다.'''

print(single_quote)

"안녕하세요.
'파이썬'입니다.

In [ ]:
double_quote1 = """"hello
'Python'"""

print(double_quote1)

"hello
'Python'

In [ ]:
double_quote2 = """Hello, 'Python'"""

print(double_quote2)

Hello, 'Python'

In [ ]:
'Python isn\'t difficult' # 따옴표 앞에 역슬래시 붙이면 포함 가능

"Python isn't difficult"

In [ ]:
print('Hello\nPython')

Hello
Python

### 9.2 퀴즈
#### 1. 다음 중 문자열을 표현하는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
"Hello, world!" # b
'Hello, world!' # d

'Hello, world!'

#### 2. 다음 중 문자열을 여러 줄로 표현하는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
'''안녕하세요.
파이썬입니다.''' # a
"""안녕하세요.
파이썬입니다.""" # c

'안녕하세요.\n파이썬입니다.'

#### 3. 다음 중 문자열 안에 '(작은따옴표)나 "(큰따옴표)를 넣는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
'Hello, \'Python\'' # a
"Hello, 'Python'" # c
""""Hello", Python""" # d

'"Hello", Python'

### 9.3 연습문제: 여러 줄로 된 문자열 사용하기

In [ ]:
s = '''Python is a programming language that lets you work quikly
and integrate systems more effectively.'''

print(s)

Python is a programming language that lets you work quikly
and integrate systems more effectively.

### 9.4 심사문제: 여러 줄로 된 문자열 사용하기

In [ ]:
s = """'Python' is a "Programming language"
that lets you work quickly
and
integrate systems more effectively"""

print(s)

'Python' is a "Programming language"
that lets you work quickly
and
integrate systems more effectively

# UNIT10 리스트와 튜플 사용하기
### 10.1 리스트 만들기

In [ ]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

### 10.1.1 리스트에 여러 가지 자료형 저장하기

In [ ]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

### 10.1.2 빈 리스트 만들기

In [ ]:
a = []
print(a)

b = list()
print(b)

[]
[]

### 10.1.3 range를 사용하여 리스트 만들기

In [ ]:
range(10)

range(0, 10)

In [ ]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [ ]:
c = list(range(-4, 10, 2))
print(c)

[-4, -2, 0, 2, 4, 6, 8]

In [ ]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10.2 튜플 사용하기

In [ ]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [ ]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [ ]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

### 10.2.1 요소가 한 개 들어있는 튜플 만들기

In [ ]:
(38) # 튜플이 아니라 그냥 값

38

In [ ]:
(38, )

(38,)

In [ ]:
38,

(38,)

### 10.2.2 range를 사용하여 튜플 만들기

In [ ]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [ ]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

### 10.2.3 튜플을 리스트로 만들고 리스트를 튜플로 만들기

In [ ]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [ ]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

#### 참고) list와 tuple 안에 문자열을 넣으면?

In [ ]:
print(list('Hello'))
print(tuple('Hello'))

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')

#### 참고) 리스트와 튜플로 변수 만들기

In [ ]:
a, b, c = [1, 2, 3]
print(a, b, c)

d, e, f = (4, 5, 6)
print(d, e, f)

1 2 3
4 5 6

In [ ]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

y = (4, 5, 6)
d, e, f = y
print(d, e, f)

1 2 3
4 5 6

In [ ]:
x = input().split()

a, b = x
print(a, b)

10 20

### 10.3 퀴즈
#### 1. 다음 중 리스트를 만드는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
a = []
print(a) # a

[]

In [ ]:
a = [10, 20, 30]
print(a) # c

[10, 20, 30]

In [ ]:
a = list(range(10, 31, 10))
print(a) # d

[10, 20, 30]

#### 2. 다음 중 튜플을 만드는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
a = 10, 20, 30, False, 'Hello'
print(a) # b

(10, 20, 30, False, 'Hello')

In [ ]:
a = (False, 'Python')
print(a) # c

(False, 'Python')

In [ ]:
a = tuple([10, 20, 30])
print(a) # e

(10, 20, 30)

#### 3. 다음 중 튜플 (-10, -7, -4, -1, 2, 5, 8)을 만드는 방법으로 올바른 것을 고르세요.

In [ ]:
a = tuple(range(-10, 10, 3))
print(a) # d

(-10, -7, -4, -1, 2, 5, 8)

### 10.4 연습문제: range로 리스트 만들기

In [ ]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

### 10.5 심사문제: range로 튜플 만들기

In [ ]:
print(tuple(range(-10, 10, int(input()))))

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [ ]:
print(tuple(range(-10, 10, int(input()))))

(-10, -7, -4, -1, 2, 5, 8)

# UNIT11 시퀀스 자료형 활용하기

### 11.1 시퀀스 자료형의 공통 기능 사용하기
### 11.1.1 특정 값이 있는지 확인하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)

True
False

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(100 not in a)
print(30 not in a)

True
False

In [ ]:
print(43 in (38, 76, 43, 62, 19))
print(1 in range(10))
print('P' in 'Hello, Python')

True
True
True

### 11.1.2 시퀀스 객체 연결하기

In [ ]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

print(a + b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [ ]:
print(list(range(0, 10)) + list(range(10, 20)))

print(tuple(range(0, 10)) + tuple(range(10, 20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
print('Hello, ' + 'world!')

Hello, world!

#### 참고) 문자열에 숫자 연결하기

In [ ]:
print('Hello, ' + str(10))
print('Hello, ' + str(1.5))

Hello, 10
Hello, 1.5

### 11.1.3 시퀀스 객체 반복하기

In [ ]:
print([0, 10, 20, 30] * 3)

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [ ]:
print(list(range(0, 5, 2)) * 3)
print(tuple(range(0, 5, 2)) * 3)

[0, 2, 4, 0, 2, 4, 0, 2, 4]
(0, 2, 4, 0, 2, 4, 0, 2, 4)

In [ ]:
print('Hello, ' * 3)

Hello, Hello, Hello,

### 11.2 시퀀스 객체의 요소 개수 구하기
### 11.2.1 리스트와 튜플의 요소 개수 구하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
len(a)

10

In [ ]:
b = (38, 76, 43, 62, 19)
len(b)

5

### 11.2.2 range의 숫자 생성 개수 구하기

In [ ]:
len(range(0, 10, 2))

5

### 11.2.3 문자열의 길이 구하기

In [ ]:
hello = "Hello, world!"
len(hello)

13

In [ ]:
hello = '안녕하세요'
len(hello)

5

#### 참고) UTF-8 문자열의 바이트 수 구하기

In [ ]:
hello = '안녕하세요'
len(hello.encode('utf-8'))

15

In [ ]:
a = [38, 21, 53, 62, 19]
print(a[0])
print(a[2])
print(a[4])

38
53
19

In [ ]:
b = (38, 21, 53, 62, 19)
print(b[0])

38

In [ ]:
r = range(0, 10, 2)
print(r[2])

4

In [ ]:
hello = 'Hello, world!'
print(hello[7])

w

#### 참고) 시퀀스 객체에 인덱스를 지정하지 않으면?

In [ ]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

#### 참고) \_\_getitem\_\_ 메서드

In [ ]:
a = [38, 21, 53, 62, 19]
a.__getitem__(1)

21

### 11.3.1 음수 인덱스 지정하기

In [ ]:
a = [38, 21, 53, 62, 19]
print(a[-1])
print(a[-5])

19
38

In [ ]:
b = (38, 21, 53, 62, 19)
print(b[-1])

19

In [ ]:
r = range(0, 10, 2)
print(r[-3])

4

In [ ]:
hello = 'Hello, world!'
print(hello[-4])

r

### 11.3.2 인덱스의 범위를 벗어나면?

In [ ]:
a = [38, 21, 53, 62, 19]
print(a[5])

IndexError: list index out of range

### 11.3.3 마지막 요소에 접근하기

In [ ]:
a = [38, 21, 53, 62, 19]
print(len(a))

print(a[5]) # 인덱스 범위 밖이라 에러

5

IndexError: list index out of range

In [ ]:
a[len(a) - 1]

19

### 11.3.4 요소에 값 할당하기

In [ ]:
a = [0, 0, 0, 0, 0]
a[0] = 38
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19

print(a)

print(a[0])
print(a[4])

[38, 21, 53, 62, 19]
38
19

In [ ]:
a[5] = 90 # 범위를 벗어난 인덱스에 값을 할당하여 에러 발생

IndexError: list assignment index out of range

In [ ]:
b = (0, 0, 0, 0, 0)
b[0] = 38 # tuple 객체는 값 할당을 지원하지 않음

TypeError: 'tuple' object does not support item assignment

In [ ]:
r = range(0, 10, 2)
r[0] = 3 # range 객체는 값 할당을 지원하지 않음

TypeError: 'range' object does not support item assignment

In [ ]:
hello = 'Hello, world!'
hello[0] = 'A' # str 객체는 값 할당을 지원하지 않음

TypeError: 'str' object does not support item assignment

### 11.3.5 del로 요소 삭제하기

In [ ]:
a = [38, 21, 53, 62, 19]
del a[2]
print(a)

[38, 21, 62, 19]

In [ ]:
b = (38, 21, 53, 62, 19)
del b[2] # tuple 객체는 값 삭제를 지원하지 않음

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
r = range(0, 10, 2)
del r[2] # range 객체는 값 삭제를 지원하지 않음

TypeError: 'range' object doesn't support item deletion

In [ ]:
hello = 'Hello, world!'
del hello[2] # str 객체는 값 삭제를 지원하지 않음

TypeError: 'str' object doesn't support item deletion

### 11.4 슬라이스 사용하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [ ]:
a[0:10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[1:1])
print(a[1:2])

[]
[10]

### 11.4.1 리스트의 중간 부분 가져오기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[4:7]

[40, 50, 60]

In [ ]:
a[4:-1]

[40, 50, 60, 70, 80]

### 11.4.2 인덱스 증가폭 사용하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:3]

[20, 50]

In [ ]:
a[2:9:3]

[20, 50, 80]

### 11.4.3 인덱스 생략하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [ ]:
a[7:]

[70, 80, 90]

In [ ]:
a[:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 11.4.4 인덱스를 생략하면서 증가폭 사용하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[:7:2]

[0, 20, 40, 60]

In [ ]:
a[7::2]

[70, 90]

In [ ]:
a[::2]

[0, 20, 40, 60, 80]

In [ ]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

#### 참고) 슬라이스의 인덱스 증가폭을 음스로 저장하면?

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[5:1:-1]

[50, 40, 30, 20]

In [ ]:
a[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

### 11.4.5 len 응용하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[0:len(a)])
print(a[:len(a)])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 11.4.6 튜플, range, 문자열에 슬라이스 사용하기

In [ ]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
print(b[4:7])
print(b[4:])
print(b[:7:2])

(40, 50, 60)
(40, 50, 60, 70, 80, 90)
(0, 20, 40, 60)

In [ ]:
r = range(10)
r

range(0, 10)

In [ ]:
print(r[4:7])
print(r[4:])
print(r[:7:2])

range(4, 7)
range(4, 10)
range(0, 7, 2)

In [ ]:
list(r[:7:2])

[0, 2, 4, 6]

In [ ]:
hello = 'Hello, world!'
print(hello[2:9])
print(hello[2:])
print(hello[:9:2])

llo, wo
llo, world!
Hlo o

#### 참고) slice 객체 사용하기

In [ ]:
print(range(10)[slice(4, 7, 2)])

print(range(10).__getitem__(slice(4, 7, 2)))

range(4, 7, 2)
range(4, 7, 2)

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
s = slice(4, 7)
a[s]

[40, 50, 60]

In [ ]:
r = range(10)
r[s]

range(4, 7)

In [ ]:
hello = 'Hello, world!'
hello[s]

'o, '

### 11.4.7 슬라이스에 요소 할당하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a', 'b', 'c']
a

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a']
a

[0, 10, 'a', 50, 60, 70, 80, 90]

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a', 'b', 'c', 'd', 'e']
a

[0, 10, 'a', 'b', 'c', 'd', 'e', 50, 60, 70, 80, 90]

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b', 'c']
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b'] # 킄기가 다른 슬라이스에 할당을 시도해서 에러 발생

ValueError: attempt to assign sequence of size 2 to extended slice of size 3

In [ ]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
b[2:5] = ('a', 'b', 'c') # tuple 객체는 값 할당을 지원하지 않음

TypeError: 'tuple' object does not support item assignment

In [ ]:
r = range(10)
r[2:5] = range(0, 3) # range 객체는 값 할당을 지원하지 않음

TypeError: 'range' object does not support item assignment

In [ ]:
hello = 'Hello, world!'
hello[7:13] = 'Python' # str 객체는 값 할당을 지원하지 않음

TypeError: 'str' object does not support item assignment

### 11.4.8 del로 슬라이스 삭제하기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
del a[2:5]
a

[0, 10, 50, 60, 70, 80, 90]

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

In [ ]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
del b[2:5] # tuple 객체는 값 삭제를 지원하지 않음

TypeError: 'tuple' object does not support item deletion

In [ ]:
r = range(10)
del r[2:5] # range 객체는 값 삭제를 지원하지 않음

TypeError: 'range' object does not support item deletion

In [ ]:
hello = 'Hello, world!'
del hello[2:9] # str 객체는 값 삭제를 지원하지 않음

TypeError: 'str' object does not support item deletion

### 11.5 퀴즈

#### 1. 다음 중 시퀀스 자료형에 대한 설명으로 잘못된 것을 모두 고르세요.

In [ ]:
# a. in 연산자는 시퀀스 객체 안에 특정 값이 없는지 확인한다. (X)
# b. range는 * 연산자로 반복할 수 없다. (O)
# c. 문자열 str은 시퀀스 자료형이다. (O)
# d. + 연산자로 두 시퀀스 객체를 연결하면 첫 번째 객체 안에 두 번째 객체가 들어간다. (X)
# e. len 함수는 시퀀스 객체에 들어있는 요소 개수를 구한다. (O)

#### 2. 리스트 a = [10, 20, 30, 40, 50, 60]에서 인덱스로 요소를 가져왔을 때 값이 올바르지 않은 것을 모두 고르세요.

In [ ]:
# a. a[0]은 10 (O)
# b. a[1]은 10 (X)
# c. a[3]은 40 (O)
# d. a[-1]은 50 (X)
# e. a[-1]은 60 (O)

#### 3. 튜플 a = (11, 22, 33, 44, 55, 66, 77, 88, 99)에서 (11, 55, 99)을 가져오는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
# a. a[0:9] (X)
# b. a[0:9:3] (X)
# c. a[::4] (O)
# d. a[0:6:2] (X)
# e. a[0:len(a):4] (O)

#### 4. 다음 중 시퀀스 자료형의 슬라이스에 대한 설명으로 잘못된 것을 모두 고르세요.

In [ ]:
# a. 시퀀스 객체에 슬라이스로 범위를 지정하여 요소에 값을 할당하면 새 객체가 생성된다. (X)
# b. 문자열은 슬라이스를 사용하여 일부를 가져올 수 있다. (O)
# c. 튜플은 슬라이스를 사용하여 일부를 가져올 수 없다. (X)
# d. range 객체는 슬라이스로 범위를 지정하여 요소를 할당할 수 없다. (O)
# e. 시퀀스 객체에 인덱스 증가폭을 지정하여 요소를 할당할 때는
#    슬라이스 범위의 요소 개수와 할당할 요소 개수가 정확히 일치해야 한다. (O)

### 11.6 연습문제: 최근 3년간 인구 출력하기

In [ ]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233,
              10022181, 9930616, 9857426, 9838892]
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

### 11.7 연습문제: 인덱스가 홀수인 요소 출력하기

In [ ]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

### 11.8 심사문제: 리스트의 마지막 부분 삭제하기

In [ ]:
x = input().split()

print(x[:-5])

['1', '2', '3', '4', '5']

In [ ]:
x = input().split()

print(x[:-5])

['over', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl']

### 11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

In [ ]:
a = input()
b = input()

a = a[1::2]
b = b[::2]

print(a, b, sep='')

yhnpto

In [ ]:
a = input()
b = input()

a = a[1::2]
b = b[::2]

print(a, b, sep='')

plsrwer

In [ ]:
print(1 in range(10))

True

# UNIT12 딕셔너리 사용하기

#### 12.1 딕셔너리 만들기
 - 딕셔너리 = {키1: 값1, 키2: 값2}

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

#### 12.1.1 키 이름이 중복되면?

In [ ]:
lux = {'health' : 490, 'health' : 800, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
print(lux['health']) # 키가 중복되면 가장 뒤에 있는 값만 사용함
print(lux) # 중복되는 키는 저장되지 않음

800
{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

#### 12.1.2 딕셔너리 키의 자료형

In [ ]:
x = {100 : 'hundred', False : 0, 3.5 : [3.5, 3.5]}
x

{100: 'hundred', False: 0, 3.5: [3.5, 3.5]}

키에는 리스트와 딕셔너리를 사용할 수 없다.

In [ ]:
x = {[10, 20] : 100}

TypeError: unhashable type: 'list'

In [ ]:
x = {{'a' : 10} : 100}

TypeError: unhashable type: 'dict'

#### 12.1.3 빈 딕셔너리 만들기
 - 딕셔너리 = {}

In [ ]:
x = {}
x

{}

In [ ]:
y = dict()
y

{}

#### 12.1.4 dict로 딕셔너리 만들기
 - 딕셔너리 = dict(키1=값1, 키2=값2)
 - 딕셔너리 = dict([(키1, 값1), (키2, 값2)])
 - 딕셔너리 = dict(zip([키1, 키2], [값1, 값2]))
 - 딕셔너리 = dict({키: 값1, 키2: 값2})

In [ ]:
lux1 = dict(health = 490, mana = 334, melee = 550, armor = 18.72)
lux1 # 키 = 값 형식으로 딕셔너리를 만듦

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))
lux2 # zip 함수로 키 리스트와 값 리스트를 묶음

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
lux3 # (키, 값) 형식의 튜플로 딕셔너리를 만듦

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
lux4 = dict({'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72})
lux4 # dict 안에서 중괄호로 딕셔너리를 만듦

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

#### 12.2 딕셔너리의 키에 접근하고 값 할당하기
 - 딕셔너리[키]

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
print(lux['health'])
print(lux['armor'])

490
18.72

##### 참고) 딕셔너리에 키를 지정하지 않으면?

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux # 딕셔너리에 키를 지정하지 않으면 딕셔너리 전체를 뜻함

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

#### 12.2.1 딕셔너리의 키에 값 할당하기
 - 딕셔너리[키] = 값

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux['health'] = 2037 # 키 'health'의 값을 2037로 변경
lux['mana'] = 1184   # 키 'mana'의 값을 1184로 변경 
print(lux)

{'health': 2037, 'mana': 1184, 'melee': 550, 'armor': 18.72}

In [ ]:
lux['mana_regen'] = 3.28 # 키 'mana_regen'을 추가하고 값 3.28 할당
lux

{'health': 2037,
 'mana': 1184,
 'melee': 550,
 'armor': 18.72,
 'mana_regen': 3.28}

없는 키에서 값을 가져올 수 없다.

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux['attack_speed'] # lux에는 'attack_speed' 키가 없음

KeyError: 'attack_speed'

#### 12.2.2 딕셔너리에 키가 있는지 확인하기
 - 키 in 딕셔너리

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
print('health' in lux)
print('attack_speed' in lux)

True
False

 - 키 not in 딕셔너리

In [ ]:
print('attack_speed' not in lux)
print('health' not in lux)

True
False

##### 참고) 해시

>딕셔너리는 해시(Hash) 기법을 이용해서 데이터를 저장합니다. 보통 딕셔너리와 같은 키-값 형태의 자료형을 해시, 해시 맵, 해시테이블 등으로 부르기도 합니다.

#### 12.2.3 딕셔너리의 키 개수 구하기
 - len(딕셔너리)

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
print(len(lux))
print(len({'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}))

4
4

#### 12.3 퀴즈

##### 1. 다음 중 딕셔너리를 만드는 방법으로 올바르지 않은 것을 고르세요.

In [ ]:
# b
x = {'a' = 10, 'b' = 20}
x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2081583198.py, line 2)

##### 2. 딕셔너리 x = {10: 'Hello', 'world': 30}에서 키 10의 값을 출력하는 방법으로 올바른 것을 고르세요.

In [ ]:
# e
x = {10: 'Hello', 'world': 30}
print(x[10])

Hello

##### 3. 다음 코드를 실행했을 때 출력 결과로 올바른 것을 고르세요.

In [ ]:
fruits = {'apple' : 1500, 'pear' : 3000, 'grape' : 1400}
fruits['orange'] = 2000
print(fruits['apple'], fruits['orange'])
# c번

1500 2000

##### 4. 다음 중 print(len({10:0, 20:1, 30:2, 40:3, 50:4, 60:7}))의 출력 결과로 올바른 것을 고르세요.

In [ ]:
print(len({10:0, 20:1, 30:2, 40:3, 50:4, 60:7}))
# d번

6

#### 12.4 연습문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

In [ ]:
camille = {
    'health' : 575.6,
    'health_regen' : 1.7,
    'mana' : 338.8,
    'mana_regen' : 1.63,
    'melee' : 125,
    'attack_damage' : 60,
    'attack_speed' : 0.625,
    'armor' : 26,
    'magic_resistance' : 32.1,
    'movement_speed' : 340
}

print(camille['health'])
print(camille['movement_speed'])

575.6
340

#### 12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

In [ ]:
key = input().split()
value = list(map(float, input().split()))

dic = dict(zip(key, value))

print(dic)

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [ ]:
key = input().split()
value = list(map(float, input().split()))

dic = dict(zip(key, value))

print(dic)

{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

# UNIT13 if조건문으로 특정 조건일 때 코드 실행하기

#### 13.1 if 조건문 사용하기

In [ ]:
x = 10
if x == 10:
    print('10입니다.')

10입니다.

#### 13.1.1 if 조건문의 기본 형태와 실행 흐름 알아보기

In [ ]:
if x == 10: # <= 콜론
    print('10입니다.') # <= 조건식이 만족할 때 실행할 코드 (if 본문)
# 들여쓰기 4칸

10입니다.

#### 13.1.2 if 조건문을 사용할 때 주의할 점

In [ ]:
if x = 10: # if에 =을 사용하면 문법 에러가 발생함

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (666452741.py, line 1)

In [ ]:
if x == 10 # 조건식 뒤에 :을 빠뜨리면 문법 에러가 발생함

SyntaxError: expected ':' (2885852796.py, line 1)

#### 13.1.3 if 조건문에서 코드를 생략하기

In [ ]:
x = 10
if x == 10:
    pass

In [ ]:
if x == 10:
    pass # TODO: x가 10일 때 처리가 필요함

##### 참고 TODO

> TODO는 해야 할 일이라는 뜻으로 보통 주석에 넣습니다. 이렇게 TODO를 넣어 두면 검색으로 쉽게 찾을 수 있죠. 그래서 프로그래머들은 주석에 TODO 이외에도 FIXME, BUG, NOTE 등과 같이 코드는 아니지만 일관된 주석을 사용합니다.

#### 13.2 if 조건문과 들여쓰기

In [ ]:
x = 10
if x == 10:
    print('x에 들어있는 숫자는')
        print('10입니다.') # unexpected indent 에러 발생

IndentationError: unexpected indent (3528104600.py, line 4)

In [ ]:
x = 10
if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다.')

x에 들어있는 숫자는
10입니다.

In [ ]:
x = 10
if x == 10:
    print('x에 들어있는 숫자는')
print('10입니다.')

x에 들어있는 숫자는
10입니다.

In [ ]:
x = 5       # x에 5를 할당

if x == 10: # x가 5라서 조건식을 만족하지 않음
    print('x에 들어있는 숫자는')
print('10입니다.')

10입니다.

In [ ]:
x = 5

if x == 10:
    print('x에 들어있는 숫자는')

print('10입니다.')

10입니다.

##### 참고) if와 들여쓰기 칸 수

> if에서는 처음부터 들여쓰기를 4칸으로 했다면 계속 4칸으로 유지하고, 2칸으로 했다면 계속 2칸으로 유지합니다. 어떨 땐 4칸 어떨 땐 2칸 이렇게는 안 됩니다.

In [ ]:
x = 10

if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다.')

x에 들어있는 숫자는
10입니다.

#### 13.3 중첩 if 조건문 사용하기

In [ ]:
x = 15

if x >= 10:
    print('10이상입니다.')

    if x == 15:
        print('15입니다.')

    if x == 20:
        print('20입니다.')

10이상입니다.
15입니다.

In [ ]:
if x >= 10:
    print('10 이상입니다.')

10 이상입니다.

In [ ]:
if x >= 10:
    print('10 이상입니다.')

    if x == 15:
        print('15입니다.')

    if x == 20:
        print('20입니다.')

10 이상입니다.
15입니다.

In [ ]:
if x >= 10:
    print('10 이상입니다.')

    if x == 15:
        print('15입니다.')

    if x == 20:
        print('20입니다.')

10 이상입니다.
15입니다.

#### 13.4 사용자가 입력한 값에 if 조건문 사용하기

In [ ]:
x = int(input()) # 입력받은 값을 변수에 저장

if x == 10:
    print('10입니다.') # x가 10이면
                       # '10입니다.'를 출력
if x == 20:
    print('20입니다.') # x가 20이면
                       # '20입니다.'를 출력

10입니다.

#### 13.5 퀴즈

##### 1. 다음 중 if 조건문의 사용 방법으로 올바른 것을 고르세요.

In [ ]:
# c
if x == 10:
    print('10입니다.')

10입니다.

##### 2. 다음은 코드에서 잘못된 부분을 모두 고르세요.

In [ ]:
x = -20

if x < 0: # 콜론을 붙여야 함 (c)
    print('0미만입니다.')

    if x == -10:
        print('-10입니다.')

    if x == -20:
        print('-20입니다.') # 들여쓰기를 해야 함 (j)

0미만입니다.
-20입니다.

##### 3. 다음 중 잘못된 if 조건문을 고르세요(a와 b는 변수).

In [ ]:
# a
if a = b: # 비교 연산자는 =가 아니라 ==이다.

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (72274956.py, line 2)

#### 13.6 연습문제: if 조건문 사용하기

In [ ]:
x = 5

if x != 10:
    print('ok')

ok

#### 13.7 심사문제: 온라인 할인 쿠폰 시스템 만들기

In [ ]:
price = int(input())
coupon = input()

if coupon == 'Cash3000':
    print(price - 3000)
elif coupon == 'Cash5000':
    print(price - 5000)
else:
    print(price)

24000

In [ ]:
price = int(input())
coupon = input()

if coupon == 'Cash3000':
    print(price - 3000)
elif coupon == 'Cash5000':
    print(price - 5000)
else:
    print(price)

67000

# UNIT14 else를 사용하여 두 방향으로 분기하기

#### 14.1 else 사용하기

In [ ]:
x = 5
if x == 10:
    print('10입니다.')
else:
    print('10이 아닙니다.')

10이 아닙니다.

#### 14.1.1 if와 else의 기본 형태와 실행 흐름 알아보기

In [ ]:
if x == 10:
    print('10입니다.') # 조건식이 만족할 때 실행할 코드(if 본문)
else:
    print('10이 아닙니다.') # 조건식이 만족하지 않을 때 실행할 코드(else 본문)

10이 아닙니다.

##### 참고) 변수에 값 할당을 if, else로 축약하기

In [ ]:
x = 5
if x == 10:
    y = x
else:
    y = 0

y

0

In [ ]:
x = 5
y = x if x == 10 else 0
y

0

#### 14.2 else와 들여쓰기

In [ ]:
x = 5

if x == 10:
    print('10입니다.') # if 본문
else:
print('x에 들어있는 숫자는') # unexpected indent 에러 발생
    print('10이 아닙니다.')

IndentationError: expected an indented block after 'else' statement on line 5 (1966206202.py, line 6)

In [ ]:
if x == 10:
    print('10입니다.') # if 본문
else:
    print('x에 들어있는 숫자는') # else 본문
    print('10이 아닙니다.')  # else 본문

x에 들어있는 숫자는
10이 아닙니다.

In [ ]:
x = 10

if x == 10: # x가 10이라 조건식이 참
    print('10입니다.')
else:
    print('x에 들어있는 숫자는')
print('10이 아닙니다.') # 출력되지 않아야 하는데 출력됨

10입니다.
10이 아닙니다.

In [ ]:
x = 10

if x == 10: # x가 10이라 조건식이 참
    print('10입니다.')
else:
    print('x에 들어있는 숫자는')

print('10이 아닙니다.')

10입니다.
10이 아닙니다.

#### 14.3 if 조건문의 동작 방식 알아보기

In [ ]:
if True:
    print('참') # True는 참
else:
    print('거짓')

if False:
    print('참') # False는 거짓
else:
    print('거짓')

if None:
    print('참')
else:
    print('거짓') # None은 거짓

참
거짓
거짓

#### 14.3.1 if 조건문에 숫자 지정하기

In [ ]:
if 0:
    print('참')
else:
    print('거짓') # 0은 거짓

if 1:
    print('참') # 1은 참
else:
    print('거짓')

if 0x1F: # 16진수
    print('참') # 0x1F는 참
else:
    print('거짓')

if 0b1000: # 2진수
    print('참') # 0b1000은 참
else:
    print('거짓')

if 13.5: # 실수
    print('참') # 13.5는 참
else:
    print('거짓')

거짓
참
참
참
참

#### 14.3.2 if 조건문에 문자열 지정하기

In [ ]:
if 'Hello': # 문자열
    print('참') # 문자열은 참
else:
    print('거짓')

if '': # 빈 문자열
    print('참')
else:
    print('거짓') # 빈 문자열은 거짓

참
거짓

##### 참고) 0, None, 빈 문자열을 not으로 뒤집으면?

> 0, None, 빈 문자열 ''을 not으로 뒤집으면 참(True)이 되므로 if를 동작시킬 수 있습니다.

In [ ]:
if not 0:
    print('참') # not 0은 참

if not None:
    print('참') # not None은 참

if not '':
    print('참') # not 빈 문자열은 참

참
참
참

##### 참고) True, False로 취급하는 것들

> 다음은 파이썬 문법 중에서 False로 취급하는 것들입니다.
 - None
 - False
 - 0인 숫자들: 0, 0.0, 0j
 - 비어 있는 문자열, 리스트, 튜플, 딕셔너리, 세트: '', "", [], (), {}, set()
 - 클래스 인스턴스의 __bool__(), __len__() 메서드가 0 또는 False를 반환할 때

> 앞에서 나열한 것들을 제외한 모든 요소는 True로 취급합니다. 세트는 뒤에서 자세히 설명하겠습니다.

#### 14.4 조건식을 여러 개 지정하기

In [ ]:
x = 10
y = 20

if x == 10 and y == 20: # x가 10이면서 y가 20일 때
    print('참')
else:
    print('거짓')

참

#### 14.4.1 중첩 if 조건문과 논리 연산자

In [ ]:
if x > 0:
    if x < 20:
        print('20보다 작은 양수입니다.')

20보다 작은 양수입니다.

In [ ]:
if x > 0 and x < 20:
    print('20보다 작은 양수입니다.')

20보다 작은 양수입니다.

In [ ]:
if 0 < x < 20:
    print('20보다 작은 양수입니다.')

20보다 작은 양수입니다.

#### 14.5 퀴즈

##### 1. 다음 중 if 조건문에 대한 설명으로 올바른 것을 고르세요.

a. if의 코드는 조건식이 만족하지 않을 때 실행된다. (X)  
b. else의 코드는 조건문이 참일 때 실행된다. (X)  
c. else는 단독으로 사용할 수 없다. (O)  
d. else에서 실행되는 코드는 다음 줄에서 들여쓰기 하지 않아야 한다. (X)  
e. if는 항상 else가 있어야 한다. (X)

##### 2. 다음 if, else 조건문에서 잘못된 부분을 모두 고르세요.

In [ ]:
if x >= 10:
    print('x에 들어있는 값은') # 들여쓰기 해야 함 (b)
    print('10이상입니다.')
else: # 콜론 있어야 함 (d)
    print('x에 들어있는 값은')
    print('10 미만입니다.')

x에 들어있는 값은
10이상입니다.

##### 3. 다음 코드의 출력 결과를 입력하세요.

In [ ]:
if not '':
    print(True)
else:
    print(False)

True

##### 4. 다음 중 if에서 조건식을 여러 개 지정하는 방법으로 올바른 것을 모두 고르세요(x와 y는 변수).

In [ ]:
# if x == 10 or y == 20: (b)

# if x and y: (e)

##### 5. 다음 소스 코드를 실행했을 때 출력 결과로 올바른 것을 고르세요.

In [ ]:
x = 5

if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

# a

홀수

#### 14.6 연습문제: 합격 여부 판단하기

In [ ]:
written_test = 75
coding_test = True

if written_test >= 80 and coding_test == True:
    print('합격')
else:
    print('불합격')

불합격

#### 14.7 심사문제: 합격 여부 판단하기

In [ ]:
score = list(map(int, input().split()))

if (0 <= score[0] <= 100) and (0 <= score[1] <= 100) and (0 <= score[2] <= 100) and (0 <= score[3] <= 100):

    average_score = sum(score) / len(score)

    if average_score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

합격

In [ ]:
score = list(map(int, input().split()))

if (score[0] >= 0 and score[0] <= 100) and (score[1] > 0 and score[1] <= 100) and (score[2] > 0 and score[2] <= 100) and (score[3] > 0 and score[3] <= 100):
    average_score = sum(score) / len(score)

    if average_score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

불합격

In [ ]:
score = list(map(int, input().split()))

if (score[0] >= 0 and score[0] <= 100) and (score[1] > 0 and score[1] <= 100) and (score[2] > 0 and score[2] <= 100) and (score[3] > 0 and score[3] <= 100):
    average_score = sum(score) / len(score)

    if average_score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

잘못된 점수

# UNIT15 elif를 사용하여 여러 방향으로 분기하기

#### 15.1 elif 사용하기

In [ ]:
x = 20
if x == 10:
    print('10입니다.')
elif x == 20:
    print('20입니다.')

20입니다.

#### 15.1.1 if, elif, else를 모두 사용하기

In [ ]:
x = 30

if x == 10: # x가 10일 때
    print('10입니다.')
elif x == 20: # x가 20일 때
    print('20입니다.')
else: # 앞의 조건식에 모두 만족하지 않을 때
    print('10도 20도 아닙니다.')

10도 20도 아닙니다.

In [ ]:
if x == 10:
    print('10입니다.')
else:
    print('10도 20도 아닙니다.')
elif x == 20: # elif 앞에 else가 오면 잘못된 문법
    print('20입니다.')

SyntaxError: invalid syntax (807249351.py, line 5)

#### 15.1.2 음료수 자판기 만들기

In [ ]:
button = int(input())

if button == 1:
    print('콜라')
elif button == 2:
    print('사이다')
elif button == 3:
    print('환타')
else:
    print('제공하지 않는 메뉴')

콜라

#### 15.2 퀴즈

##### 1. 다음 중 if 조건문에 대한 설명으로 잘못된 것을 모두 고르세요.

a. elif는 여러 번 사용할 수 있다. (O)  
b. else는 elif 앞에 올 수 없다. (O)  
c. elif는 조건식을 지정할 수 있다. (O)  
d. elif는 단독으로 사용할 수 있다. (X)  
e. elif는 항상 else가 있어야 한다. (X)

##### 2. 다음 if 조건문을 실행했을 때 출력되는 결과를 고르세요.

In [ ]:
x = 0

if x == 4:
    print('A')
elif x == 3:
    print('B')
elif x == 2:
    print('C')
elif x == 1:
    print('D')
else:
    print('E')

# E

E

#### 15.3 연습문제: if, elif, else 모두 사용하기

In [ ]:
x = int(input())

if x >= 11 and x <= 20:
    print('11~20')
elif x >= 21 and x <= 30:
    print('21~30')
else:
    print('아무것도 해당하지 않음')

아무것도 해당하지 않음

#### 15.4 심사문제: 교통카드 시스템 만들기

In [ ]:
age = int(input())
balance = 9000 # 교통카드 잔액

if age >= 19:
    balance = balance - 1250
elif age >= 13:
    balance = balance - 1050
else:
    balance = balance - 650

print(balance)

7950

In [ ]:
age = int(input())
balance = 9000 # 교통카드 잔액

if age >= 19:
    balance = balance - 1250
elif age >= 13:
    balance = balance - 1050
else:
    balance = balance - 650

print(balance)

8350

## UNIT16 for 반복문으로 Hello, world! 100번 출력하기

In [ ]:
# print 100번 사용
print('Hello, world!')
print('Hello, world!')
print('Hello, world!')
print('Hello, world!')
# ... (생략)
print('Hello, world!')
print('Hello, world!')
print('Hello, world!')
print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

#### 16.1 for와 range 사용하기

In [ ]:
for i in range(100):
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

##### 16.1.1 반복문에서 변수의 변화 알아보기

In [ ]:
for i in range(100):
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9
Hello, world! 10
Hello, world! 11
Hello, world! 12
Hello, world! 13
Hello, world! 14
Hello, world! 15
Hello, world! 16
Hello, world! 17
Hello, world! 18
Hello, world! 19
Hello, world! 20
Hello, world! 21
Hello, world! 22
Hello, world! 23
Hello, world! 24
Hello, world! 25
Hello, world! 26
Hello, world! 27
Hello, world! 28
Hello, world! 29
Hello, world! 30
Hello, world! 31
Hello, world! 32
Hello, world! 33
Hello, world! 34
Hello, world! 35
Hello, world! 36
Hello, world! 37
Hello, world! 38
Hello, world! 39
Hello, world! 40
Hello, world! 41
Hello, world! 42
Hello, world! 43
Hello, world! 44
Hello, world! 45
Hello, world! 46
Hello, world! 47
Hello, world! 48
Hello, world! 49
Hello, world! 50
Hello, world! 51
Hello, world! 52
Hello, world! 53
Hello, world! 54
Hello, world! 55
Hello, world! 56
Hello, world! 57
Hello, world! 58
Hello, world! 59
Hello, world! 60
Hello, world! 61
Hello, world! 62
Hello, world! 63
Hello, world! 64
Hello, world! 65
Hello, world! 66
Hello, world! 67
Hello, world! 68
Hello, world! 69
Hello, world! 70
Hello, world! 71
Hello, world! 72
Hello, world! 73
Hello, world! 74
Hello, world! 75
Hello, world! 76
Hello, world! 77
Hello, world! 78
Hello, world! 79
Hello, world! 80
Hello, world! 81
Hello, world! 82
Hello, world! 83
Hello, world! 84
Hello, world! 85
Hello, world! 86
Hello, world! 87
Hello, world! 88
Hello, world! 89
Hello, world! 90
Hello, world! 91
Hello, world! 92
Hello, world! 93
Hello, world! 94
Hello, world! 95
Hello, world! 96
Hello, world! 97
Hello, world! 98
Hello, world! 99

#### 참고) 반복문의 변수 i

> 변수 i를 루프 인덱스라고도 부르며 index의 첫머리 글자를 따서 i를 주로 사용합니다.

#### 16.2 for와 range 응용하기

##### 16.2.1 시작하는 숫자와 끝나는 숫자 지정하기

In [ ]:
for i in range(5, 12): # 5부터 11까지 반복
    print('Hello, world', i)

Hello, world 5
Hello, world 6
Hello, world 7
Hello, world 8
Hello, world 9
Hello, world 10
Hello, world 11

##### 16.2.2 증가폭 사용하기

In [ ]:
for i in range(0, 10, 2): # 0부터 8까지 2씩 증가
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 2
Hello, world! 4
Hello, world! 6
Hello, world! 8

##### 16.2.3 숫자를 감소시키기

In [ ]:
for i in range(10, 0): # range(10, 0)은 동작하지 않음
    print('Hello, world!', i)

In [ ]:
for i in range(10, 0, -1): # 10에서 1까지 1씩 감소
    print('Hello, world!', i)

Hello, world! 10
Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [ ]:
for i in reversed(range(10)): # reversed를 사용하여 숫자의 순서를 반대로 뒤집음
    print('Hello, world!', i) # 9부터 0까지 10번 반복

Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1
Hello, world! 0

##### 참고) 반복문의 변수 i를 변경할 수 있을까?

In [ ]:
for i in range(10):
    print(i, end=' ')
    i = 10

0 1 2 3 4 5 6 7 8 9

##### 16.2.4 입력한 횟수대로 반복하기

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))

for i in range(count):
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 1
Hello, world! 2

#### 16.3 시퀀스 객체로 반복하기

In [ ]:
a = [10, 20, 30, 40, 50]
for i in a:
    print(i)

10
20
30
40
50

In [ ]:
fruits = ('apple', 'orange', 'grape')
for fruits in fruits:
    print(fruits)

apple
orange
grape

In [ ]:
for letter in 'Python':
    print(letter, end=' ')

P y t h o n

In [ ]:
for letter in reversed('Python'):
    print(letter, end=' ')

n o h t y P

#### 16.4 퀴즈

##### 1. 다음 중 for로 10번 반복하는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
# for i in range(10): # a번
# for i in range(20, 40, 2): # d번

##### 2. 다음 중 20부터 10까지 출력하는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
# c
for i in range(20, 9, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10

In [ ]:
# d
for i in reversed(range(10, 21)):
    print(i)

20
19
18
17
16
15
14
13
12
11
10

##### 3. 다음 소스 코드에서 잘못된 부분을 모두 고르세요.

In [ ]:
count = int(input()) # int를 붙여야 한다.

for i in range(count): # 콜론(:)을 붙여야 한다.
    print('i의 값은', end=' ')
    print(i)

i의 값은 0
i의 값은 1
i의 값은 2
i의 값은 3
i의 값은 4

##### 4. 다음 for 반복문을 실행했을 때의 출력 결과를 고르세요.

In [ ]:
for i in reversed('Python'):
    print(i, end='.')
# d

n.o.h.t.y.P.

#### 16.5 연습문제: 리스트의 요소에 10을 곱해서 출력하기

In [ ]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
    print(i * 10, end = ' ')

490 -170 250 1020 80 620 210

#### 16.6 심사문제: 구구단 출력하기

In [ ]:
dan = int(input())

for i in range(1, 10):
    print(f'{dan} * {i} = {dan * i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
dan = int(input())

for i in range(1, 10):
    print(f'{dan} * {i} = {dan * i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## UNIT17 while 반복문으로 Hello, world! 100번 출력하기

In [ ]:
i = 0                      # 초기식
while i < 100:             # while 조건식
    print('Hello, world!') # 반복할 코드
    i += 1                 # 변화식

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

#### 17.1 while 반복문 사용하기

In [ ]:
i = 0
while i < 100:
    print('Hello, world!')
    i += 1

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

##### 17.1.1 초깃값을 1부터 시작하기

In [ ]:
i = 1
while i <= 100:
    print('Hello, world!', i)
    i += 1

Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9
Hello, world! 10
Hello, world! 11
Hello, world! 12
Hello, world! 13
Hello, world! 14
Hello, world! 15
Hello, world! 16
Hello, world! 17
Hello, world! 18
Hello, world! 19
Hello, world! 20
Hello, world! 21
Hello, world! 22
Hello, world! 23
Hello, world! 24
Hello, world! 25
Hello, world! 26
Hello, world! 27
Hello, world! 28
Hello, world! 29
Hello, world! 30
Hello, world! 31
Hello, world! 32
Hello, world! 33
Hello, world! 34
Hello, world! 35
Hello, world! 36
Hello, world! 37
Hello, world! 38
Hello, world! 39
Hello, world! 40
Hello, world! 41
Hello, world! 42
Hello, world! 43
Hello, world! 44
Hello, world! 45
Hello, world! 46
Hello, world! 47
Hello, world! 48
Hello, world! 49
Hello, world! 50
Hello, world! 51
Hello, world! 52
Hello, world! 53
Hello, world! 54
Hello, world! 55
Hello, world! 56
Hello, world! 57
Hello, world! 58
Hello, world! 59
Hello, world! 60
Hello, world! 61
Hello, world! 62
Hello, world! 63
Hello, world! 64
Hello, world! 65
Hello, world! 66
Hello, world! 67
Hello, world! 68
Hello, world! 69
Hello, world! 70
Hello, world! 71
Hello, world! 72
Hello, world! 73
Hello, world! 74
Hello, world! 75
Hello, world! 76
Hello, world! 77
Hello, world! 78
Hello, world! 79
Hello, world! 80
Hello, world! 81
Hello, world! 82
Hello, world! 83
Hello, world! 84
Hello, world! 85
Hello, world! 86
Hello, world! 87
Hello, world! 88
Hello, world! 89
Hello, world! 90
Hello, world! 91
Hello, world! 92
Hello, world! 93
Hello, world! 94
Hello, world! 95
Hello, world! 96
Hello, world! 97
Hello, world! 98
Hello, world! 99
Hello, world! 100

##### 17.1.2 초깃값을 감소시키기

In [ ]:
i = 100
while i > 0:
    print('Hello, world!', i)
    i -= 1

Hello, world! 100
Hello, world! 99
Hello, world! 98
Hello, world! 97
Hello, world! 96
Hello, world! 95
Hello, world! 94
Hello, world! 93
Hello, world! 92
Hello, world! 91
Hello, world! 90
Hello, world! 89
Hello, world! 88
Hello, world! 87
Hello, world! 86
Hello, world! 85
Hello, world! 84
Hello, world! 83
Hello, world! 82
Hello, world! 81
Hello, world! 80
Hello, world! 79
Hello, world! 78
Hello, world! 77
Hello, world! 76
Hello, world! 75
Hello, world! 74
Hello, world! 73
Hello, world! 72
Hello, world! 71
Hello, world! 70
Hello, world! 69
Hello, world! 68
Hello, world! 67
Hello, world! 66
Hello, world! 65
Hello, world! 64
Hello, world! 63
Hello, world! 62
Hello, world! 61
Hello, world! 60
Hello, world! 59
Hello, world! 58
Hello, world! 57
Hello, world! 56
Hello, world! 55
Hello, world! 54
Hello, world! 53
Hello, world! 52
Hello, world! 51
Hello, world! 50
Hello, world! 49
Hello, world! 48
Hello, world! 47
Hello, world! 46
Hello, world! 45
Hello, world! 44
Hello, world! 43
Hello, world! 42
Hello, world! 41
Hello, world! 40
Hello, world! 39
Hello, world! 38
Hello, world! 37
Hello, world! 36
Hello, world! 35
Hello, world! 34
Hello, world! 33
Hello, world! 32
Hello, world! 31
Hello, world! 30
Hello, world! 29
Hello, world! 28
Hello, world! 27
Hello, world! 26
Hello, world! 25
Hello, world! 24
Hello, world! 23
Hello, world! 22
Hello, world! 21
Hello, world! 20
Hello, world! 19
Hello, world! 18
Hello, world! 17
Hello, world! 16
Hello, world! 15
Hello, world! 14
Hello, world! 13
Hello, world! 12
Hello, world! 11
Hello, world! 10
Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

##### 17.1.3 입력한 횟수대로 반복하기

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))

i = 0
while i < count: # i가 count보다 작을 때 반복
    print('Hello, world!', i)
    i += 1

Hello, world! 0
Hello, world! 1
Hello, world! 2

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))

while count > 0: # count가 0보다 클 때 반복
    print('Hello, world!', count)
    count -= 1 # count를 1씩 감소시킴

Hello, world! 3
Hello, world! 2
Hello, world! 1

#### 17.2 반복 횟수가 정해지지 않은 경우

In [ ]:
import random # random 모듈을 가져옴

In [ ]:
random.random() # 0~1 사이의 실수 난수 생성

0.715828131388978

In [ ]:
random.randint(1, 6) # 1~6 사이의 정수 난수 생성

6

In [ ]:
import random # random 모듈을 가져옴

i = 0
while i != 3: # 3이 아닐 때 계속 반복
    i = random.randint(1, 6) # randint를 사용하여 1과 6 사이의 난수를 생성
    print(i)

# 마지막에 3이 나오면 스탑

6
2
6
4
4
4
4
4
4
1
4
2
3

##### 참고) random.choice

In [ ]:
dice = [1, 2, 3, 4, 5, 6]
random.choice(dice) # dice 리스트에서 랜덤으로 하나 추출

4

#### 17.3 while 반복문으로 무한 루프 만들기

In [ ]:
while True: # while에 True를 지정하면 무한 루프
    print('Hello, world!')

In [ ]:
while 1: # 0이 아닌 숫자는 True로 취급하여 무한 루프로 동작
    print('Hello, world!')

In [ ]:
while 'Hello': # 내용이 있는 문자열은 True로 취급하여 무한 루프로 동작
    print('Hello, world!')

#### 17.4 퀴즈

##### 1. 다음 중 while 반복문에 대한 설명으로 잘못된 것을 모두 고르세요.

a. while 반복문에는 조건식 또는 값을 지정하면 된다. (O)  
b. while 반복문은 조건식의 결과가 True이면 반복을 끝낸다. (X)  
c. while 반복문은 반복 횟수가 정해져 있을 때만 사용할 수 있다. (X)  
d. while 반복문의 다음 줄은 반드시 들여쓰기를 해야 한다. (O)  
e. while 반복문의 조건식에 True를 지정하면 무한 루프가 된다. (O)

##### 2. 다음 while 반복문을 실행했을 때 출력 결과를 고르세요.

In [ ]:
i = 10

while i < 19:
    print(i, end=' ')
    i += 2

# d

10 12 14 16 18

##### 3. while 반복문으로 'Hello, world!'를 10번 출력한다고 했을 때, 잘못된 부분을 고르세요.

In [ ]:
i = 0

while i < 20: # >가 아니라 <를 써야한다.
    print('Hello, world!')
    i = i + 2

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

##### 4. 다음 while 반복문 중 무한 루프를 모두 고르세요.

a. while '': (X)  
b. while 1.1: (O)  
c. while None: (X)  
d. while False: (X)  
e. while not 0: (O)

#### 17.5 연습문제: 변수 두 개를 다르게 반복하기

In [ ]:
i = 2
j = 5

while i <= 32 or j >= 1:
    print(i, j)
    i *= 2
    j -= 1

2 5
4 4
8 3
16 2
32 1

#### 17.6 심사문제: 교통카드 잔액 출력하기

In [ ]:
balance = int(input())
while balance >= 0:
    balance -= 1350
    if balance < 0:
        break
    print(balance)

8650
7300
5950
4600
3250
1900
550

In [ ]:
balance = int(input())

while balance >= 0:
    balance -= 1350
    if balance < 0:
        break
    print(balance)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

## UNIT18 break, continue로 반복문 제어하기

#### 18.1 break로 반복문 끝내기

##### 18.1.1 while에서 break로 반복문 끝내기

In [ ]:
i = 0
while True: # 무한 루프
    print(i)
    i += 1         # i를 1씩 증가시킴
    if i == 100:   # i가 100일 때
        break      # 반복문을 끝냄. while의 제어 흐름을 벗어남

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##### 18.1.2 for에서 break로 반복문 끝내기

In [ ]:
for i in range(10000): # 0부터 9999까지 반복
    print(i)
    if i == 100:       # i가 100일 때
        break          # 반복문을 끝냄. for의 제어 흐름을 벗어남

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### 18.2 continue로 코드 실행 건너뛰기

##### 18.2.1 for에서 continue로 코드 실행 건너뛰기

In [ ]:
for i in range(100):    # 0부터 99까지 증가하면서 100번 반복
    if i % 2 == 0:      # i를 2로 나누었을 때 나머지가 0면 짝수
        continue        # 아래 코드를 실행하지 않고 건너뜀
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

##### 18.2.2 while 반복문에서 continue로 코드 실행 건너뛰기

In [ ]:
i = 0
while i < 100:       # i가 100보다 작을 때 반복. 0부터 99까지 증가하면서 100번 반복
    i += 1           # i를 1씩 증가시킴
    if i % 2 == 0:   # i를 2로 나누었을 때 나머지가 0이면 짝수
        continue     # 아래 코드를 실행하지 않고 건너뜀
    
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### 참고) 반복문과 pass

> for, while의 반복할 코드에서 아무 일도 하지 않지만, 반복문의 형태를 유지하고 싶다면 pass를 사용하면 됩니다.

In [ ]:
for i in range(10):  # 10번 반복
    pass             # 아무 일도 하지 않음

In [ ]:
while True: # 무한 루프
    pass    # 아무 일도 하지 않음

#### 18.3 입력한 횟수대로 반복하기

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))

i = 0
while True: # 무한 루프
    print(i)
    i += 1
    if i == count: # i가 입력받은 값과 같을 때
        break      # 반복문을 끝냄

0
1
2

##### 18.3.1 입력한 숫자까지 홀수 출력하기

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))

for i in range(count + 1):  # 0부터 증가하면서 count까지 반복(count + 1)
    if i % 2 == 0:          # i를 2로 나누었을 때 나머지가 0이면 짝수
        continue            # 아래 코드를 실행하지 않고 건너뜀
    print(i)

1
3
5
7
9

#### 18.4 퀴즈

##### 1. 다음 중 break와 continue에 대한 설명으로 올바른 것을 모두 고르세요.

a. break는 if 조건문을 끝낸다. (X)  
b. break는 while 반복문을 끝낸다. (O)  
c. break는 for range 반복문에 사용할 수 없다. (X)  
d. continue는 코드를 실행하지 않고 건너뛰며 루프를 중단하지 않는다. (O)  
e. continue는 코드를 실행하지 않고 건너뛴 뒤 루프를 중단한다. (X)

##### 2. 다음 코드로 1부터 10까지 출력하면서 3의 배수는 제외하려고 할 때 밑줄 부분에 들어가야 할 코드를 고르세요.

In [ ]:
for i in range(1, 11):
    if i % 3 == 0:
        continue
    print(i)
# b

1
2
4
5
7
8
10

##### 3. 다음 코드로 30부터 10까지 출력할 때 밑줄 부분에 들어가야 할 코드를 고르세요.

In [ ]:
i = 30

while True:
    print(i)
    if i == 10:
        break
    i -= 1
# c

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

#### 18.5 연습문제: 3으로 끝나는 숫자만 출력하기

In [ ]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    elif i > 73:
        break
    print(i, end = ' ')
    i += 1

3 13 23 33 43 53 63 73

#### 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력

In [ ]:
start, stop = map(int, input().split())

i = start

while True:
    if i % 10 == 3:
        i += 1
        continue
    elif i > stop:
        break
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [ ]:
start, stop = map(int, input().split())

i = start

while True:
    if i % 10 == 3:
        i += 1
        continue
    elif i > stop:
        break
    print(i, end=' ')
    i += 1

21 22 24 25 26 27 28 29 30 31 32

## UNIT19 계단식으로 별 출력하기

#### 19.1 중첩 루프 사용하기

In [ ]:
for i in range(5):                  # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):              # 5번 반복. 안쪽 루프는 가로 방향
        print('j:', j, sep = '', end = ' ')  # j값 출력
                                             # end에 ' '를 지정하여 줄바꿈 대신 한 칸 띄움
    print('i:', i, '\\n', sep = '') # i값 출력, 개행 문자 모양도 출력
                                    # 가로 방향으로 숫자를 모두 출력한 뒤 다음 줄로 넘어감
                                    # (print는 기본적으로 출력 후 다음 줄로 넘어감)

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

#### 19.2 사각형으로 별 출력하기

In [ ]:
for i in range(5):              # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):          # 5번 반복. 안쪽 루프는 가로 방향
        print('*', end = '')    # 별 출력, end에 ''를 지정하여 줄바꿈을 하지 않음
    print()             # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
                        # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*****
*****
*****
*****
*****

#### 19.2.1 사각형 모양 바꾸기

In [ ]:
for i in range(3):              # 3번 반복. 세로 방향
    for j in range(7):          # 7번 반복. 가로 방향
        print('*', end = '')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()         # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
                    # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*******
*******
*******

#### 19.3 계단식으로 별 출력하기

In [ ]:
for i in range(5):          # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):      # 0부터 4까지 5번 반복. 가로 방향
        if j <= i:                  # 세로 방향 변수 i만큼
            print('*', end = '')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음 
    print()     # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
                # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*
**
***
****
*****

##### 19.3.1 대각선으로 별 출력하기

In [ ]:
for i in range(5):
    for j in range(i+1):
        # if i == j:
        #     print('*')
        # else:
        #     print(' ', end = '')
        print('*' if i == j else ' ', end = '\n' if i == j else '')

*
 *
  *
   *
    *

In [ ]:
for i in range(5):                  # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):              # 0부터 4까지 5번 반복. 가로 방향
        if j == i:                      # 세로 방향 변수와 같을 때
            print('*', end = '')        # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
        else:                           # 세로 방향 변수와 다를 때
            print(' ', end = '')        # 공백 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()         # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
                    # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*
 *
  *
   *
    *

#### 19.4 퀴즈

##### 1. 다음 코드에 대한 설명으로 잘못된 것을 모두 고르세요.

> a. 정사각형 모양으로 별이 출력된다. (O)  
b. 반복문 안에 반복문이 들어있는 중첩 루프이다. (O)  
c. i가 있는 반복문은 가로 방향을 처리한다. (X)  
d. j가 있는 반복문은 가로 방향을 처리한다. (O)  
e. print()처럼 아무것도 지정하지 않으면 print는 줄바꿈을 하지 않는다. (X)

In [ ]:
for i in range(5):
    for j in range(5):
        print('*', end = '')
    print()

*****
*****
*****
*****
*****

##### 2. 다음과 같은 모양으로 별을 출력할 때 밑줄 부분에 들어가야 할 조건식을 고르세요.

In [ ]:
for i in range(5):
    for j in range(5):
        if i >= j:
            print('*', end = '')
    print()

# c번

*
**
***
****
*****

#### 19.5 연습문제: 역삼각형 모양으로 별 출력하기

In [ ]:
for i in range(5):
    for j in range(5):
        if i <= j:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

*****
 ****
  ***
   **
    *

#### 19.6 심사문제: 산 모양으로 별 출력하기

In [ ]:
height = int(input())

for i in range(height):
    for j in range((height * 2) - 1):
        if (height - 1) - i <= j <= (height - 1) + i:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

  *
 ***
*****

In [ ]:
height = int(input())

for i in range(height):
    for j in range((height * 2) - 1):
        if (height - 1) - i <= j <= (height - 1) + i:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

    *
   ***
  *****
 *******
*********

## UNIT20 FizzBuzz 문제

#### 20.1 1부터 100까지 숫자 출력하기

In [ ]:
for i in range(1, 101): # 1부터 100까지 100번 반복
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### 20.2 3의 배수일 때와 5의 배수일 때 처리하기

In [ ]:
for i in range(1, 101):     # 1부터 100까지 100번 반복
    if i % 3 == 0:          # 3의 배수일 때
        print('Fizz')       # Fizz 출력
    elif i % 5 == 0:        # 5의 배수일 때
        print('Buzz')       # Buzz 출력
    else:
        print(i)            # 아무것도 해당되지 않을 때 숫자 출력

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### 20.3 3과 5의 공배수 처리하기

In [ ]:
for i in range(1, 101):             # 1부터 100까지 100번 반복
    if i % 3 == 0 and i % 5 == 0:   # 3과 5의 공배수일 때
        print('FizzBuzz')           # FizzBuzz 출력
    elif i % 3 == 0:                # 3의 배수일 때
        print('Fizz')               # Fizz 출력
    elif i % 5 == 0:                # 5의 배수일 때
        print('Buzz')               # Buzz 출력
    else:
        print(i)                    # 아무것도 해당되지 않을 때 숫자 출력

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### 20.4 논리 연산자를 사용하지 않고 3과 5의 공배수 처리하기

In [ ]:
for i in range(1, 101):     # 1부터 100까지 100번 반복
    if i % 15 == 0:         # 15의 배수 (3과 5의 공배수)일 때
        print('FizzBuzz')   # FizzBuzz 출력
    elif i % 3 == 0:        # 3의 배수일 때
        print('Fizz')       # Fizz 출력
    elif i % 5 == 0:        # 5의 배수일 때
        print('Buzz')       # Buzz 출력
    else:
        print(i)            # 아무것도 해당되지 않을 때 숫자 출력

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### 20.5 코드 단축하기

In [ ]:
for i in range(1, 101):
    print('Fizz' * (i % 3 == 0) + 'Buzz' * (i % 5 == 0) or i)
    # 문자열 곱셈과 덧셈을 이용하여 print 안에서 처리

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### 20.6 퀴즈

##### 1. 다음 중 변수 i가 6의 배수인지 확인하는 방법으로 올바른 것을 고르세요.

d. i % 6 == 0

##### 2. 다음 중 변수 i가 5와 10의 공배수인지 확인하는 방법으로 올바른 것을 모두 고르세요.

d. i % 5 == 0 and i % 10 == 0  
e. i % 10 == 0

#### 20.7 연습문제: 2와 11의 배수, 공배수 처리하기

In [ ]:
for i in range(1, 101):
    if i % 2 == 0 and i % 11 == 0:
        print('FizzBuzz')
    elif i % 2 == 0:
        print('Fizz')
    elif i % 11 == 0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
5
Fizz
7
Fizz
9
Fizz
Buzz
Fizz
13
Fizz
15
Fizz
17
Fizz
19
Fizz
21
FizzBuzz
23
Fizz
25
Fizz
27
Fizz
29
Fizz
31
Fizz
Buzz
Fizz
35
Fizz
37
Fizz
39
Fizz
41
Fizz
43
FizzBuzz
45
Fizz
47
Fizz
49
Fizz
51
Fizz
53
Fizz
Buzz
Fizz
57
Fizz
59
Fizz
61
Fizz
63
Fizz
65
FizzBuzz
67
Fizz
69
Fizz
71
Fizz
73
Fizz
75
Fizz
Buzz
Fizz
79
Fizz
81
Fizz
83
Fizz
85
Fizz
87
FizzBuzz
89
Fizz
91
Fizz
93
Fizz
95
Fizz
97
Fizz
Buzz
Fizz

#### 20.8 심사문제: 5와 7의 배수, 공배수 처리하기

In [ ]:
num1 = int(input())
num2 = int(input())

for i in range(num1, num2 + 1):
    if i % 5 == 0 and i % 7 == 0:
        print('FizzBuzz')
    elif i % 5 == 0:
        print('Fizz')
    elif i % 7 == 0:
        print('Buzz')
    else:
        print(i)

FizzBuzz
36
37
38
39
Fizz

## UNIT21 터틀 그래픽스로 그림 그리기

#### 21.1 사각형 그리기

In [ ]:
import turtle as t
t.shape('turtle')

t.fd(100)
t.rt(90)
t.fd(100)
t.rt(90)
t.fd(100)
t.rt(90)
t.fd(100)

#### 21.2 다각형 그리기

In [ ]:
import turtle as t

t.shape('turtle')
for i in range(4):  # 사각형이므로 4번 반복
    t.forward(100)
    t.right(90)

##### 21.2.1 오각형 그리기

In [ ]:
import turtle as t
t.shape('turtle')
for i in range(5):      # 오각형이므로 5번 반복
    t.forward(100)
    t.right(360 / 5)    # 360을 5로 나누어서 외각을 구함

##### 21.2.2 다각형 그리기

In [ ]:
import turtle as t

n = int(input())        # 사용자의 입력을 받음
t.shape('turtle')
for i in range(n):      # n번 반복
    t.forward(100)
    t.right(360 / n)    # 360을 n으로 나누어서 외각을 구함

##### 21.2.3 다각형에 색칠하기

In [ ]:
import turtle as t

n = 6   # 육각형
t.shape('turtle')
t.color('red')          # 펜의 색을 빨간색으로 설정
t.begin_fill()          # 색칠한 영역 시작

In [ ]:
for i in range(n):      # n번 반복
    t.forward(100)
    t.right(360 / n)    # 360을 n으로 나누어서 외각을 구함
t.end_fill()            # 색칠할 영역 끝

#### 참고) color에 색깔 지정하기

> 웹 색상: https://ko.wikipedia.org/wiki/웹_색상  
HTML Color Picker: https://www.w3schools.com/colors/colors_picker.asp

In [ ]:
t.color('#FF6984')

#### 21.3 복잡한 도형 그리기

In [ ]:
import turtle as t
t.shape('turtle')
t.circle(120)

##### 21.3.1 원을 반복해서 그리기

In [ ]:
import turtle as t

n = 60      # 원을 60번 그림
t.shape('turtle')
t.speed('fastest')      # 거북이 속도를 가장 빠르게 설정
for i in range(n):
    t.circle(120)       # 반지름이 120인 원을 그림
    t.right(360 / n)    # 오른쪽으로 6도 회전

##### 21.3.2 선으로 복잡한 무늬 그리기

In [ ]:
import turtle as t

t.shape('turtle')
t.speed('fastest')      # 거북이 속도를 가장 빠르게 설정
for i in range(300):    # 300번 반복
    t.forward(i)        # i만큼 앞으로 이동. 반복할 때마다 선이 길어짐
    t.right(91)         # 오른쪽으로 91도 회전

#### 참고) 터틀 모양 설정하기

In [ ]:
import turtle as t
t.shape('arrow')    # 화살표 모양 사용
t.shape()           # 현재 모양 알아내기

'arrow'

#### 21.4 퀴즈

1. import turtle as t로 터틀 모듈을 가져왔습니다. 다음 중 설명이 잘못된 것을 고르세요.

a. t.fd는 앞으로 이동 (O)  
b. t.bk는 뒤로 이동 (O)  
c. t.speed는 거북이 속도 설정 (O)  
d. t.lt는 오른쪽으로 회전 (X)  
e. t.color는 펜의 색상 설정 (O)

2. import turtle as t로 터틀 모듈을 가져왔습니다. 다음 중 반지름이 30인 초록색 원 한 개를 그리는 방법으로 올바른 것을 고르세요.

In [ ]:
import turtle as t
t.color('green')
t.begin_fill()
t.circle(30)
t.end_fill()

# d번

#### 21.5 연습문제: 오각별 그리기

In [ ]:
import turtle as t

n = 5

for i in range(n):
    t.forward(100)
    t.right((360 / n) * 2)
    t.forward(100)
    t.left(360 / n)

#### 21.6 심사문제: 별 그리기

In [ ]:
import turtle as t

n, line = map(int, input().split())
t.shape('turtle')
t.speed('fastest')
for i in range(n):
    t.forward(line)
    t.right((360 / n) * 2)
    t.forward(line)
    t.left(360 / n)

## UNIT22 리스트와 튜플 응용하기

#### 22.1 리스트 조작하기

##### 22.1.1 리스트에 요소 추가하기

 - append: 요소 하나를 추가
 - extend: 리스트를 연결하여 확장
 - insert: 특정 인덱스에 요소 추가

##### 22.1.2 리스트에 요소 하나 추가하기

In [ ]:
a = [10, 20, 30]
a.append(500)
print(a)
print(len(a))

[10, 20, 30, 500]
4

In [ ]:
a = []
a.append(10)
print(a)

[10]

#### 22.1.3 리스트 안에 리스트 추가하기

In [ ]:
a = [10, 20, 30]
a.append([500, 600])
print(a)
print(len(a))

[10, 20, 30, [500, 600]]
4

##### 22.1.4 리스트 확장하기

In [ ]:
a = [10, 20, 30]
a.extend([500, 600])
print(a)
print(len(a))

[10, 20, 30, 500, 600]
5

##### 22.1.5 리스트의 특정 인덱스에 요소 추가하기

In [ ]:
a = [10, 20, 30]
a.insert(2, 500)
print(a)
print(len(a))

[10, 20, 500, 30]
4

In [ ]:
a = [10, 20, 30]
a.insert(0, 500)
print(a)

[500, 10, 20, 30]

In [ ]:
a = [10, 20, 30]
a.insert(len(a), 500)
print(a)

[10, 20, 30, 500]

In [ ]:
a = [10, 20, 30]
a.insert(1, [500, 600])
print(a)

[10, [500, 600], 20, 30]

In [ ]:
a = [10, 20, 30]
a[1:1] = [500, 600]
print(a)

[10, 500, 600, 20, 30]

##### 21.1.6 리스트에서 요소 삭제하기

 - pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
 - remove: 특정 값을 찾아서 삭제

##### 22.1.7 리스트에서 특정 인덱스의 요소를 삭제하기

In [ ]:
a = [10, 20, 30]
print(a.pop())
print(a)

30
[10, 20]

In [ ]:
a = [10, 20, 30]
print(a.pop(1))
print(a)

20
[10, 30]

In [ ]:
a = [10, 20, 30]
del a[1]
print(a)

[10, 30]

##### 22.1.8 리스트에서 특정 값을 찾아서 삭제하기

In [ ]:
a = [10, 20, 30]
a.remove(20)
print(a)

[10, 30]

In [ ]:
a = [10, 20, 30, 20]
a.remove(20)
print(a)

[10, 30, 20]

#### 참고) 리스트로 스택과 큐 만들기

 - deque(반복가능한객체)

In [ ]:
from collections import deque   # collections 모듈에서 deque를 가져옴
a = deque([10, 20, 30])
print(a)
a.append(500)   # 덱의 오른쪽에 500 추가
print(a)
a.popleft()     # 덱의 왼쪽 요소 하나 삭제
print(a)

deque([10, 20, 30])
deque([10, 20, 30, 500])
deque([20, 30, 500])

##### 22.1.9 리스트에서 특정 값의 인덱스 구하기

In [ ]:
a = [10, 20, 30, 15, 20, 40]
print(a.index(20))

1

##### 22.1.10 특정 값의 개수 구하기

In [ ]:
a = [10, 20, 30, 15, 20, 40]
print(a.count(20))

2

##### 22.1.11 리스트의 순서를 뒤집기

In [ ]:
a = [10, 20, 30, 15, 20, 40]
a.reverse()
print(a)

[40, 20, 15, 30, 20, 10]

##### 22.1.12 리스트의 요소를 정렬하기

In [ ]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
print(a)

[10, 15, 20, 20, 30, 40]

#### 참고) sort메서드와 sorted 함수

In [ ]:
a = [10, 20, 30, 15, 20, 40]
a.sort()    # a의 내용을 변경하여 정렬
print(a)

b = [10, 20, 30, 15, 20, 40]
sorted(b)   # 정렬된 새 리스트를 생성

[10, 15, 20, 20, 30, 40]

[10, 15, 20, 20, 30, 40]

##### 22.1.13 리스트의 모든 요소를 삭제하기

In [ ]:
a = [10, 20, 30]
a.clear()
print(a)

[]

In [ ]:
a = [10, 20, 30]
del a[:]
print(a)

[]

##### 22.1.14 리스트를 슬라이스로 조작하기

In [ ]:
a = [10, 20, 30]
a[len(a):] = [500]
print(a)

[10, 20, 30, 500]

In [ ]:
a = [10, 20, 30]
a[len(a):] = [500, 600]
print(a)

[10, 20, 30, 500, 600]

#### 참고) 리스트가 비어 있는지 확인하기

In [ ]:
seq = [10, 20, 30]
print(seq[-1])

30

In [ ]:
seq = []
if seq:             # 리스트에 요소가 있는지 확인
    print(seq[-1])  # 요소가 있을 때만 마지막 요소를 가져옴

#### 22.2 리스트의 할당과 복사 알아보기

In [ ]:
a = [0, 0, 0, 0, 0]
b = a

print(a is b)

True

In [ ]:
b[2] = 99
print(a)
print(b)

[0, 0, 99, 0, 0]
[0, 0, 99, 0, 0]

In [ ]:
a = [0, 0, 0, 0, 0]
b = a.copy()

print(a is b)
print(a == b)

b[2] = 99
print(a)
print(b)

False
True
[0, 0, 0, 0, 0]
[0, 0, 99, 0, 0]

#### 22.3 반복문으로 리스트의 요소를 모두 출력하기

##### 22. 3.1 for 반복문으로 요소 출력하기

In [ ]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

In [ ]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [ ]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index + 1, value)

1 38
2 21
3 53
4 62
5 19

 - for 인덱스, 요소 in enumerate(리스트, start=숫자):

In [ ]:
for index, value in enumerate(a, start=1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

#### 참고) for 반복문에서 인덱스로 요소를 출력하기

In [ ]:
a = [38, 21, 53, 62, 19]
for i in range(len(a)):
    print(a[i])

38
21
53
62
19

##### 22.3.3 while 반복문으로 요소 출력하기

In [ ]:
a = [38, 21, 53, 62, 19]
i = 0
while i < len(a):
    print(a[i])
    i += 1

38
21
53
62
19

#### 22.4 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

##### 22.4.1 가장 작은 수와 가장 큰 수 구하기

In [ ]:
a = [38, 21, 53, 62, 19]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i

print(smallest)

19

In [ ]:
a = [38, 21, 53, 62, 19]
largest = a[0]
for i in a:
    if i > largest:
        largest = i

print(largest)

62

In [ ]:
a = [38, 21, 53, 62, 19]
print(min(a))
print(max(a))

19
62

##### 22.4.2 요소의 합계 구하기

In [ ]:
a = [10, 10, 10, 10, 10]
x = 0
for i in a:
    x += i

print(x)

50

In [ ]:
a = [10, 10, 10, 10, 10]
print(sum(a))

50

#### 22.5 리스트 표현식 사용하기

 - [식 for 변수 in 리스트]
 - list(식 for 변수 in 리스트)

In [ ]:
a = [i for i in range(10)]      # 0부터 9까지 숫자를 생성하여 리스트 생성
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b = list(i for i in range(10))      # 0부터 9까지 숫자를 생성하여 리스트 생성
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
c = [i + 5 for i in range(10)]      # 0부터 9까지 숫자를 생성하면서 값에 5를 더하여
print(c)                            # 리스트 생성

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
d = [i * 2 for i in range(10)]      # 0부터 9까지 숫자를 생성하면서 값에 2를 곱하여
print(d)                            # 리스트 생성

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### 참고) 대괄호와 list() 리스트 표현식

> 리스트 표현식은 [식 for 변수 in 리스트]처럼 [](대괄호)로 만들 수도 있고, list(식 for 변수 in 리스트)처럼 list로 만들 수도 있습니다. 둘 중에 성능은 대괄호 방식이 더 좋습니다. 특히 list 방식은 C 언어 스타일이라 대괄호 방식이 파이썬 다운 코드입니다. 따라서 리스트 표현식은 대괄호 방식을 사용하는 것이 좋습니다. list는 리스트 표현식을 만들 수 있다는 정도만 알아 두면 됩니다.

##### 22.5.1 리스트 표현식에서 if 조건문 사용하기

 - [식 for 변수 in 리스트 if 조건식]
 - list(식 for 변수 in 리스트 if 조건식)

In [ ]:
a = [i for i in range(10) if i % 2 == 0]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
b = [i + 5 for i in range(10) if i % 2 == 1]
print(b)

[6, 8, 10, 12, 14]

##### 22.5.2 for 반복문과 if 조건문을 여러 번 사용하기

In [ ]:
a = [i * j for i in range(2, 10) for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
a = [i * j for i in range(2, 10)
           for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

#### 22.6 리스트에 map 사용하기

 - list(map(함수, 리스트))
 - tuple(map(함수, 튜플))

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])

print(a)

[1, 2, 3, 4]

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [ ]:
a = list(map(str, range(10)))
print(a)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

##### 22.6.1 input().split()과 map

In [ ]:
a = input().split()
print(a)

['10', '20']

In [ ]:
a = map(int, input().split())
print(a)
print(list(a))

<map object at 0x1064ea620>
[10, 20]

In [ ]:
a, b = [10, 20]
print(a)
print(b)

10
20

#### 22.7 튜플 응용하기

##### 22.7.1 튜플에서 특정 값의 인덱스 구하기

In [ ]:
a = (38, 21, 53, 62, 19, 53)
print(a.index(53))

2

##### 22.7.2 특정 값의 개수 구하기

In [ ]:
a = (10, 20, 30, 15, 20, 40)
print(a.count(20))

2

##### 22.7.3 for 반복문으로 요소 출력하기

In [ ]:
a = (38, 21, 53, 62, 19)
for i in a:
    print(i, end = ' ')

38 21 53 62 19

##### 22.7.4 튜플 표현식 사용하기
 - tuple(식 for 변수 in 리스트 if 조건식)

In [ ]:
a = tuple(i for i in range(10) if i % 2 == 0)
print(a)

(0, 2, 4, 6, 8)

In [ ]:
(i for i in range(10) if i % 2 == 0)

##### 22.7.5 tuple에 map 사용하기

In [ ]:
a = (1.2, 2.5, 3.7, 4.6)
a = tuple(map(int, a))
print(a)

(1, 2, 3, 4)

##### 22.7.6 튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기

In [ ]:
a = (38, 21, 53, 62, 19)

print(min(a))

print(max(a))

print(sum(a))

19
62
193

#### 22.8 퀴즈

##### 1. 리스트 a가 있을 때 다음 중 리스트 a.append(40)과 동작이 같은 것을 모두 고르세요.

a. a.insert(len(a), 40) (O)  
b. a[0:] = 40 (X)  
c. a[len(a):] = 40 (X)  
d. a[len(a):] = [40] (O)  
e. a[-1:] = 40 (X)

##### 2. 다음 중 리스트의 모든 요소를 삭제하는 메서드를 고르세요.

a. clean  
b. remove  
c. reverse  
d. pop  
e. clear (O)

##### 3. 다음 중 리스트 a의 모든 요소를 출력하는 방법으로 올바른 것을 모두 고르세요.

a. (O)  
for i in range(len(a)):  
    print(a[i])  
  
b. (X)  
for i in a:  
    print(a[i])  
  
c. (X)  
i = 0  
while i <= len(a):  
    print(a[i])  
    i += 1  
  
d. (O)  
i = 0  
while i < len(a):  
    print(a[i])  
    i += 1  
  
e. (O)  
for i in a:  
    print(i)

##### 4. 다음 중 튜플 a에 사용할 수 없는 코드를 고르세요.

a. print(a[:]) (O)  
b. a.pop() (X)  
c. sum(a) (O)  
d. a.count(10) (O)  
e. min(a) (O)

##### 5. 리스트 [0, 1, 2, 3, 17, 18, 19]를 만드는 방법으로 올바른 것을 고르세요.

In [ ]:
# d
[i for i in range(20) if i <= 3 or i >= 17]

[0, 1, 2, 3, 17, 18, 19]

##### 6. 다음 중 실수가 들어있는 리스트 [4.7, 3.5, 2.9]의 요소를 문자열로 변환하는 방법으로 올바른 것을 고르세요. a는 리스트가 되어야 합니다.

In [ ]:
# c
a = list(map(str, [4.7, 3.5, 2.9]))
print(a)

['4.7', '3.5', '2.9']

#### 22.9 연습문제: 리스트에서 특정 요소만 뽑아내기

In [ ]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

#### 22.10 심사문제: 2의 거듭제곱 리스트 생성하기

In [ ]:
a, b = map(int, input().split())

c = [2**i for i in range(a, b+1) if i != a + 1 and i != b - 1]

print(c)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [ ]:
a, b = map(int, input().split())

c = [2**i for i in range(a, b+1) if i != a + 1 and i != b - 1]

print(c)

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

## UNIT23 2차원 리스트 사용하기

#### 23.1 2차원 리스트를 만들고 요소에 접근하기

In [1]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

##### 23.1.1 2차원 리스트의 요소에 접근하기

 - 리스트[세로인덱스][가로인덱스]
 - 리스트[세로인덱스][가로인덱스] = 값

In [2]:
a = [[10, 20], [30, 40], [50, 60]]
print(a[0][0])      # 세로 인덱스 0, 가로 인덱스 0인 요소 출력
print(a[1][1])      # 세로 인덱스 1, 가로 인덱스 1인 요소 출력
print(a[2][1])      # 세로 인덱스 2, 가로 인덱스 1인 요소 출력
a[0][1] = 1000      # 세로 인덱스 0, 가로 인덱스 1인 요소에 값 할당
print(a[0][1])

10
40
60
1000

#### 참고) 톱니형 리스트

> 2차원 리스트 [[10, 20], [30, 40], [50, 60]]은 가로 크기가 일정한 사각형 리스트입니다. 특히 파이썬에서는 가로 크기가 불규칙한 톱니형 리스트(jagged list)도 만들 수 있습니다.

In [3]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]

print(a)

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [7]:
a = []
a.append([])
a[0].append(10)
a[0].append(20)
a.append([])
a[1].append(500)
a[1].append(600)
a[1].append(700)
print(a)

[[10, 20], [500, 600, 700]]

#### 참고) 2차원 튜플

 - 튜플 = ((값, 값), (값, 값), (값, 값))
 - 튜플 = ([값, 값], [값, 값], [값, 값])
 - 리스트 = [(값, 값), (값, 값), (값, 값)]

In [8]:
a = ((10, 20), (30, 40), (50, 60))      # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50, 60])      # 튜플 안에 리스트를 넣음
c = [(10, 20), (30, 40), (50, 60)]      # 리스트 안에 튜플을 넣음

> 튜플은 내용을 변경할 수 없으므로 a는 안쪽과 바깥쪽 모두 요소를 변경할 수 없습니다. b는 안쪽 리스트만 요소를 변경할 수 있고, c는 바깥쪽 리스트만 요소를 변경할 수 있습니다.

#### 참고) 사람이 알아보기 쉽게 출력하기

In [9]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [10]:
from pprint import pprint
pprint(a, indent = 4, width = 20)

[   [10, 20],
    [30, 40],
    [50, 60]]

#### 23.2 반복문으로 2차원 리스트의 요소를 모두 출력하기

##### 23.2.1 for 반복문을 한 번만 사용하기

In [12]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:      # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼냄
    print(x, y)

10 20
30 40
50 60

##### 23.2.2 for 반복문을 두 번 사용하기

In [13]:
a = [[10, 20], [30, 40], [50, 60]]

for i in a:         # a에서 안쪽 리스트를 꺼냄
    for j in i:     # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end = ' ')
    print()

10 20
30 40
50 60

##### 23.2.3 for와 range 사용하기

In [16]:
a = [[10, 20], [30, 40], [50, 60]]

for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end = ' ')
    print()

10 20
30 40
50 60

##### 23.2.4 while 반복문을 한 번 사용하기

In [23]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):       # 반복할 때 리스트의 크기 활용(세로 크기)
    x, y = a[i]         # 요소 두 개를 한꺼번에 가져오기
    print(x, y)
    i += 1              # 인덱스를 1 증가시킴

10 20
30 40
50 60

##### 23.2.5 while 반복문을 두 번 사용하기

In [29]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
j = 0
while i < len(a):
    while j < len(a[i]):
        print(a[i][j], end = ' ')
        j += 1
    print()
    i += 1
    j = 0

10 20
30 40
50 60

#### 23.3 반복문으로 리스트 만들기

##### 23.3.1 for 반복문으로 1차원 리스트 만들기

In [1]:
a = []      # 빈 리스트 생성

for i in range(10):
    a.append(0)     # append로 요소 추가

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

##### 23.3.2 for 반복문으로 2차원 리스트 만들기

In [4]:
a = []      # 빈 리스트 생성

for i in range(3):
    line = []               # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)      # 안쪽 리스트에 0 추가
    a.append(line)          # 전체 리스트에 안쪽 리스트를 추가

print(a)

[[0, 0], [0, 0], [0, 0]]

##### 23.3.3 리스트 표현식으로 2차원 리스트 만들기

In [7]:
a = [[0 for _ in range(2)] for _ in range(3)]

print(a)

[[0, 0], [0, 0], [0, 0]]

In [8]:
a = [[0] * 2 for _ in range(3)]

print(a)

[[0, 0], [0, 0], [0, 0]]

##### 23.3.4 톱니형 리스트 만들기

In [9]:
a = [3, 1, 3, 2, 5]     # 가로 크기를 저장한 리스트
b = []      # 빈 리스트 생성

for i in a:
    b.append([0] * i)

print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [14]:
a = [[0] * i for i in [3, 1, 3, 2, 5]]
print(a)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

#### 참고) sorted로 2차원 리스트 정렬하기

 - sorted(반복가능한객체, key=정렬함수, reverse=True 또는 False)

In [19]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

print(sorted(students, key=lambda students: students[1]))   # 안쪽 리스트의 인덱스 1을 기준으로 정렬
print(sorted(students, key=lambda students: students[2]))   # 안쪽 리스트의 인덱스 2를 기준으로 정렬

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]
[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

#### 23.4 2차원 리스트의 할당과 복사 알아보기

In [21]:
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

> 리스트 a를 copy 메서드로 b에 복사한 뒤 b의 요소를 변경해보면 리스트 a와 b에 모두 반영됩니다.

In [22]:
a = [[10, 20], [30, 40]]
b = a.copy()
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [23]:
a = [[10, 20], [30, 40]]
import copy                 # copy 모듈을 가져옴
b = copy.deepcopy(a)        # copy.deepcopy 함수를 사용하여 깊은 복사
b[0][0] = 500
print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]

#### 23.5 퀴즈

##### 1. 다음 중 가로 2, 세로 2 크기의 2차원 리스트를 만드는 방법으로 올바른 것을 고르세요.

In [31]:
a = [[10, 20], [30, 40]] # b번
print(a)

[[10, 20], [30, 40]]

##### 2. 다음 중 리스트 a = [[10, 20], [30, 40, 50], [60]]에서 60을 출력하는 방법으로 올바른 것을 고르세요.

In [26]:
a = [[10, 20], [30, 40, 50], [60]]

print(a[2][0]) # d번

60

##### 3. 다음 중 for 반복문을 사용하여 2차원 리스트 a의 모든 요소를 출력하는 방법으로 올바른 것을 고르세요.

In [30]:
a = [[10, 20], [30, 40, 50], [60]]

for i in a:
    for j in i:
        print(j)
# d번

10
20
30
40
50
60

##### 4. while 반복문을 사용하여 2차원 리스트의 모든 요소를 출력할 때 밑줄 부분에 들어가야 할 코드를 고르세요.

In [32]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    j = 0
    while j < len(a[i]):
        print(a[i][j], end = ' ')
        j += 1
    print()
    i += 1
# b번

10 20
30 40
50 60

##### 5. 다음 중 리스트 [[0, 0, 0], [0, 0, 0], [0, 0, 0]]를 만드는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
[[0 for j in range(3)] for i in range(3)] # a번

In [43]:
[[0, 0, 0] for i in range(3)] # c번

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

#### 23.6 연습문제: 3차원 리스트 만들기

In [46]:
[[[0 for i in range(3)] for j in range(4)] for k in range(2)]

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

#### 23.7 심사문제: 지뢰찾기 (머리 깨질 것 같아)

In [65]:
# 행과 열의 수 입력
row, col = map(int, input().split())

# 빈 리스트 생성
dot_list = []

# col 개수씩 입력을 총 row 개수만큼 받아 지뢰 리스트 생성
for _ in range(row):
    data = input()
    dot = []
    for i in range(col):
        dot.append(data[i])   
    dot_list.append(dot)

# row와 col을 돌면서 '.'인 부분일 때만 if를 걸어 cnt 세기
for i in range(row): # 1
    for j in range(col): # 1
        if dot_list[i][j] == '.':
            cnt = 0

            # 범위가 주변 8칸인데 리스트 범위에 들때만 cnt 세기
            for k in range(i-1, i+2): # 0 ~ 2
                for l in range(j-1, j+2): # 0 ~ 2
                    if (0 <= k < row) and (0 <= l < col):
                        if dot_list[k][l] == '*':
                            cnt += 1
            dot_list[i][j] = cnt

for a in dot_list:
    for b in a:
        print(b, end = '')
    print()

2**
*43
2*1

In [66]:
# 행과 열의 수 입력
row, col = map(int, input().split())

# 빈 리스트 생성
dot_list = []

# 3개씩 입력을 총 row 개수만
for _ in range(row):
    data = input()
    dot = []
    for i in range(col):
        dot.append(data[i])   
    dot_list.append(dot)

for i in range(row): # 1
    for j in range(col): # 1
        if dot_list[i][j] == '.':
            cnt = 0

            for k in range(i-1, i+2): # 0 ~ 2
                for l in range(j-1, j+2): # 0 ~ 2
                    if (0 <= k < row) and (0 <= l < col):
                        if dot_list[k][l] == '*':
                            cnt += 1
            dot_list[i][j] = cnt

for a in dot_list:
    for b in a:
        print(b, end = '')
    print()

01*21
123*1
2*532
3***1
*4*31

## UNIT24 문자열 응용하기

#### 24.1 문자열 조작하기

##### 24.1.1 문자열 바꾸기

In [47]:
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [48]:
s = 'Hello, world!'
s = s.replace('world!', 'Python')
s

'Hello, Python'

##### 24.1.2 문자 바꾸기

In [49]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

##### 24.1.3 문자열 분리하기

In [50]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [51]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

##### 24.1.4 구분자 문자열과 문자열 리스트 연결하기

In [52]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [53]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

##### 24.1.5 소문자를 대문자로 바꾸기

In [54]:
'python'.upper()

'PYTHON'

##### 24.1.6 대문자를 소문자로 바꾸기

In [55]:
'PYTHON'.lower()

'python'

##### 24.1.7 왼쪽 공백 삭제하기

In [56]:
'   Python   '.lstrip()

'Python   '

##### 24.1.8 오른쪽 공백 삭제하기

In [57]:
'   Python   '.rstrip()

'   Python'

##### 24.1.9 양쪽 공백 삭제하기

In [58]:
'   Python   '.strip()

'Python'

##### 24.1.10 왼쪽의 특정 문자 삭제하기

In [59]:
', python.'.lstrip(',.')

' python.'

##### 24.1.11 오른쪽의 특정 문자 삭제하기

In [60]:
', python.'.rstrip(',.')

', python'

##### 24.1.12 양쪽의 특정 문자 삭제하기

In [63]:
', python.'.strip(',.')

' python'

#### 참고) 구두점을 간단하게 삭제하기

In [64]:
import string
', python.'.strip(string.punctuation)

' python'

In [65]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [66]:
', python.'.strip(string.punctuation + ' ')

'python'

In [67]:
', python.'.strip(string.punctuation).strip()

'python'

##### 24.1.13 문자열을 왼쪽 정렬하기

In [68]:
'python'.ljust(10)

'python    '

##### 24.1.14 문자열을 오른쪽 정렬하기

In [69]:
'python'.rjust(10)

'    python'

##### 24.1.15 문자열을 가운데 정렬하기

In [70]:
'python'.center(10)

'  python  '

In [71]:
'python'.center(11)

'   python  '

##### 24.1.16 메서드 체이닝

In [72]:
'python'.rjust(10).upper()

'    PYTHON'

##### 24.1.17 문자열 왼쪽에 0 채우기

In [75]:
print('35'.zfill(4))        # 숫자 앞에 0을 채움
print('3.5'.zfill(6))       # 숫자 앞에 0을 채움
print('hello'.zfill(10))    # 문자열 앞에 0을 채울 수도 있음

0035
0003.5
00000hello

##### 24.1.18 문자열 위치 찾기

In [77]:
print('apple pineapple'.find('pl'))
print('apple pineapple'.find('xy'))

2
-1

##### 24.1.19 오른쪽에서부터 문자열 위치 찾기

In [78]:
print('apple pineapple'.rfind('pl'))
print('apple pineapple'.rfind('xy'))

12
-1

##### 24.1.20 문자열 위치 찾기

In [79]:
'apple pineapple'.index('pl')

2

##### 24.1.21 오른쪽에서부터 문자열 위치 찾기

In [80]:
'apple pineapple'.rindex('pl')

12

##### 24.1.22 문자열 개수 세기

In [81]:
'apple pineapple'.count('pl')

2

#### 24.2 문자열 서식 지정자와 포매팅 사용하기

##### 24.2.1 서식 지정자로 문자열 넣기

 - '%s' % '문자열'

In [82]:
'I am %s.' % 'james'

'I am james.'

##### 24.2.3 서식 지정자로 소수점 표현하기

 - '%f' % 숫자

In [83]:
'%f' % 2.3

'2.300000'

 - '%.자릿수f' % 숫자

In [84]:
'%.2f' % 2.3

'2.30'

In [85]:
'%.3f' % 2.3

'2.300'

##### 24.2.4 서식 지정자로 문자열 정렬하기

In [86]:
'%10s' % 'python'

'    python'

#### 참고) 자릿수가 다른 숫자 출력하기

 - %길이d

In [87]:
'%10d' % 150

'       150'

In [88]:
'%10d' % 15000

'     15000'

 - %길이.자릿수f

In [89]:
'%10.2f' % 2.3

'      2.30'

In [90]:
'%10.2f' % 2000.3

'   2000.30'

 - %-길이s

In [91]:
'%-10s' % 'python'

'python    '

##### 24.2.5 서식 지정자로 문자열 안에 값 여러 개 넣기

In [92]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [93]:
'Today is %d%s.' % (3, 'April')

'Today is 3April.'

##### 24.2.6 format 메서드 사용하기

In [94]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [95]:
'Hello, {0}'.format(100)

'Hello, 100'

##### 24.2.7 format 메서드로 값을 여러 개 넣기

In [96]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

##### 24.2.8 format 메서드로 같은 값을 여러 개 넣기

In [97]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

#### 24.2.9 format 메서드에서 인덱스 생략하기

In [98]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

##### 24.2.10 format 메서드에서 인덱스 대신 이름 지정하기

In [99]:
'Hello, {language} {version}'.format(language = 'Python', version = 3.6)

'Hello, Python 3.6'

##### 24.2.11 문자열 포매팅에 변수를 그대로 사용하기

In [100]:
language = 'Python'
version = 3.6
f'Hello, {language} {version}'

'Hello, Python 3.6'

#### 참고) 중괄호 출력하기

In [103]:
'{{ {0} }}'.format('Python')

'{ Python }'

##### 24.2.12 format 메서드로 문자열 정렬하기

 - '{인덱스:<길이}'.format(값)

In [104]:
'{0:<10}'.format('python')

'python    '

 - '{인덱스:>길이}'.format(값)

In [105]:
'{0:>10}'.format('python')

'    python'

In [106]:
'{:>10}'.format('python')

'    python'

##### 24.2.13 숫자 개수 맞추기

 - '%0개수d' % 숫자
 - '{인덱스:0개수d}'.format(숫자)

In [107]:
'%03d' % 1

'001'

In [108]:
'{0:03d}'.format(35)

'035'

 - '%0개수.자릿수f' % 숫자
 - '{인덱스:0개수.자릿수f}'.format(숫자)

In [109]:
'%08.2f' % 3.6

'00003.60'

In [110]:
'{0:08.2f}'.format(150.37)

'00150.37'

##### 24.2.14 채우기와 정렬을 조합해서 사용하기

 - '{인덱스:[[채우기]정렬][길이][.자릿수][자료형]}'

In [111]:
'{0:0<10}'.format(15)   # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

'1500000000'

In [112]:
'{0:0>10}'.format(15)   # 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'0000000015'

In [113]:
'{0:0>10.2f}'.format(15)    # 길이 10, 오른쪽으로 정렬하고 소수점 자릿수는 2자리

'0000015.00'

In [114]:
'{0: >10}'.format(15)   # 남는 공간을 공백으로 채움

'        15'

In [115]:
'{0:>10}'.format(15)    # 채우기 부분을 생략하면 공백이 들어감

'        15'

In [116]:
'{0:x>10}'.format(15)   # 남는 공간을 문자 x로 채움

'xxxxxxxx15'

#### 참고) 금액에서 천단위로 콤마 넣기

 - format(숫자, ',')

In [117]:
format(1493500, ',')

'1,493,500'

In [118]:
'%20s' % format(1493500, ',')   # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [119]:
'{0:,}'.format(149500)

'149,500'

In [120]:
'{0:>20,}'.format(1493500)  # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [121]:
'{0:0>20,}'.format(1493500) # 길이 20, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'000000000001,493,500'

#### 24.3 퀴즈

##### 1. 다음 중 문자열 메서드에 대한 설명으로 잘못된 것을 모두 고르세요.

a. count는 문자열의 전체 문자 개수를 구한다. (X)  
b. find는 문자열에서 왼쪽부터 문자열을 찾아서 인덱스를 반환한다. (O)  
c. replace는 문자열 안의 문자열을 다른 문자열로 바꾼다. (O)  
d. split은 문자열을 공백 또는 기준 문자열을 기준으로 분리한다. (O)  
e. index는 문자열의 오른쪽에서부터 문자열을 찾아서 인덱스를 반환한다. (X)

##### 2. 다음 코드를 실행했을 때 출력 결과를 고르세요.

In [1]:
print('Python'.lower().replace('on', 'ON').ljust(10)) # d번

pythON

##### 3. 다음 중 문자열 'Hello, Python 3.6'을 만드는 방법으로 올바른 것을 모두 고르세요.

In [4]:
'%s, %s 3.6' % ('Hello', 'Python') # b

'Hello, Python 3.6'

In [5]:
'{hello}, {language} 3.6'.format(hello = 'Hello', language = 'Python') # d

'Hello, Python 3.6'

##### 4. 다음 중 문자열 '   1675.3000'을 만드는 방법으로 올바른 것을 모두 고르세요. 이 문자열의 길이는 12이고 소수점 이하 자릿수는 4자리입니다. 또한, 오른쪽으로 정렬되어 있고 남은 공간은 공백으로 채워져 있습니다.

In [8]:
'{0:>12.4f}'.format(1675.3) # c

'   1675.3000'

In [9]:
'{0: >12.4f}'.format(1675.3) # d

'   1675.3000'

#### 24.4 연습문제: 파일 경로에서 파일명만 가져오기

In [14]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

idx = path.rfind('\\')
filename = path[idx+1:]
print(filename)

python.exe

#### 24.5 심사문제: 특정 단어 개수 세기

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.

In [37]:
data = input()

cnt = 0
for i in data.split():
    if i.strip(',.') == 'the':
        cnt += 1
print(cnt)

6

## UNIT25 딕셔너리 응용하기

#### 25.1 딕셔너리 조작하기

##### 25.1.1 딕셔너리에 키-값 쌍 추가하기

##### 25.1.2 딕셔너리에 키와 기본값 저장하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.setdefault('e')
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [ ]:
x.setdefault('f', 100)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

##### 25.1.3 딕셔너리에서 키의 값 수정하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.update(a = 90)
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
x.update(e = 50)
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [ ]:
x.update(a = 900, f = 60)
print(x)

{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [ ]:
y = {1: 'one', 2: 'two'}
y.update({1 : 'ONE', 3 : 'THREE'})
print(y)

{1: 'ONE', 2: 'two', 3: 'THREE'}

In [ ]:
y.update([[2, 'TWO'], [4, 'FOUR']])
print(y)

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [ ]:
y.update(zip([1, 2], ['one', 'two']))
print(y)

{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

##### 25.1.4 딕셔너리에서 키-값 쌍 삭제하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.pop('a')
print(x)

{'b': 20, 'c': 30, 'd': 40}

##### 25.1.5 딕셔너리에서 임의의 키-값 쌍 삭제하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.popitem()
print(x)

{'a': 10, 'b': 20, 'c': 30}

##### 25.1.6 딕셔너리의 모든 키-값 쌍을 삭제하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.clear()
print(x)

{}

##### 25.1.7 딕셔너리에서 키의 값을 가져오기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.get('a')

10

In [ ]:
x.get('z', 0)

0

##### 25.1.8 딕셔너리에서 키-값 쌍을 모두 가져오기

 - items: 키-값 쌍을 모두 가져옴
 - keys: 키를 모두 가져옴
 - values: 값을 모두 가져옴

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [ ]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
x.values()

dict_values([10, 20, 30, 40])

##### 25.1.9 리스트와 튜플로 딕셔너리 만들기

In [ ]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [ ]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

#### 25.2 반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
for i in x:
    print(i, end = ' ')

a b c d

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

##### 25.2.1 딕셔너리의 키만 출력하기

 - items: 키-값 쌍을 모두 가져옴
 - keys: 키를 모두 가져옴
 - values: 값을 모두 가져옴

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
for key in x.keys():
    print(key, end = ' ')

a b c d

##### 25.2.2 딕셔너리의 값만 출력하기

In [ ]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
for value in x.values():
    print(value, end = ' ')

10 20 30 40

#### 25.3 딕셔너리 표현식 사용하기

In [10]:
keys = ['a', 'b', 'c', 'd']
x = {key : value for key, value in dict.fromkeys(keys).items()}

print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [15]:
{key : 0 for key in dict.fromkeys(keys).keys()}

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [23]:
{value : key for key, value in {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}.items()}

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

##### 25.3.1  딕셔너리 표현식에서 if 조건문 사용하기

In [27]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
x = {key : value for key, value in x.items() if value != 20}

print(x)

{'a': 10, 'c': 30, 'd': 40}

#### 25.4 딕셔너리 안에서 딕셔너리 사용하기

In [28]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

print(terrestrial_planet['Venus']['mean_radius'])

6051.8

#### 25.5 딕셔너리의 할당과 복사

In [29]:
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x

print(x is y)

True

In [30]:
y['a'] = 99

print(x)
print(y)

{'a': 99, 'b': 0, 'c': 0, 'd': 0}
{'a': 99, 'b': 0, 'c': 0, 'd': 0}

In [31]:
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x.copy()

print(x is y)
print(x == y)

False
True

In [34]:
y['a'] = 99

print(x)
print(y)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}
{'a': 99, 'b': 0, 'c': 0, 'd': 0}

##### 25.5.1  중첩 딕셔너리의 할당과 복사 알아보기

In [35]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()

In [36]:
y['a']['python'] = '2.7.15'

print(x)
print(y)

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}
{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [37]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

import copy             # copy 모듈을 가져옴
y = copy.deepcopy(x)    # copy.deepcopy 함수를 사용하여 깊은 복사
y['a']['python'] = '2.7.15'

print(x)
print(y)

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

#### 25.6 퀴즈

##### 1. 다음 중 딕셔너리 x에서 키 'Python'과 해당 값을 삭제하는 방법으로 올바른 것을 모두 고르세요.

a. x.pop() (X)  
b. x.popitem() (X)  
c. x.pop('Python', 100) (O)  
d. x.remove('Python') (X)  
e. del x['Python'] (O)

##### 2. 다음 중 딕셔너리의 메서드에 대한 설명으로 올바르지 않은 것을 모두 고르세요.

a. setdefault는 딕셔너리에 키-값 쌍을 추가한다. (O)  
b. setdefault는 키만 지정하면 값은 0으로 저장한다. (X)  
c. keys는 딕셔너리의 키-값 쌍을 모두 가져온다. (X)  
d. clear는 딕셔너리의 모든 키-값 쌍을 삭제한다. (O)  
e. update는 딕셔너리에서 키의 값을 수정한다. (O)

##### 3. 다음 중 반복문으로 딕셔너리 x의 모든 키를 출력하는 방법으로 올바른 것을 모두 고르세요.

a. (X)  
for key, value in x:  
    print(key)  
b. (O)  
for key in x:  
    print(key)  
c. (O)  
for key in x.keys():  
    print(key)  
d. (X)  
for value in x.values():  
    print(value)  
e. (O)  
for key, value in x.items():  
    print(key)

##### 4. 다음 중 딕셔너리 x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}에서 값이 40인 키-값 쌍을 삭제하는 방법으로 올바른 것을 고르세요.

In [57]:
# a. (X)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

for key, value in x.items():
    if value == 40:
        del x[key]

print(x)

RuntimeError: dictionary changed size during iteration

In [58]:
# b. (X)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

del[40]

print(x)

SyntaxError: cannot delete literal (2757662425.py, line 4)

In [59]:
# c. (X)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

x = {key : value for key, value in x.items()}

print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [60]:
# d. (O)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

x = {key : value for key, value in x.items() if value != 40}

print(x)

{'a': 10, 'b': 20, 'c': 30}

In [61]:
# e. (X)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

x = {key : value for key, value in x.items() if value == 40}

print(x)

{'d': 40}

##### 5. 다음 코드에서 딕셔너리 terrestrial_planet의 키 'satellites'에 접근하는 방법으로 올바른 것을 고르세요.

In [62]:
terrestrial_planet = {
    'Earth': {
        'physical_characteristics': {
            'mean_radius': 6371.0,
            'mass': 5.97219E+24
        },
        'orbital_characteristics': {
            'orbital_period': 365.25641,
            'satellites': 1
        }
    },
    'Mars': {
        'physical_characteristics': {
            'mean_radius': 3389.5,
            'mass': 6.4185E+23
        },
        'orbital_characteristics': {
            'orbital_period': 686.9600,
            'satellites': 2
        }
    }
}

In [66]:
# d
terrestrial_planet['Earth']['orbital_characteristics']['satellites']

1

##### 6. 다음 코드의 실행 결과로 올바른 것을 고르세요.

In [67]:
import copy
x = {'python': {'version': '2.7'}, 'script': {'name': 'hello.py'}}
a = x
b = x.copy()
c = copy.deepcopy(x)
x['python']['version'] = '3.6'
print(a['python']['version'], b['python']['version'], c['python']['version'])

3.6 3.6 2.7

#### 25.7 연습문제: 평균 점수 구하기

다음 소스 코드를 완성하여 평균 점수가 출력되게 만드세요.

In [68]:
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

average = sum(maria.values()) / len(maria)

print(average)

89.25

#### 25.8 심사문제: 딕셔너리에서 특정 값 삭제하기

표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [2]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

x = {key : value for key, value in x.items() if key != 'delta' and value != 30}

print(x)

{'alpha': 10, 'bravo': 20}

In [1]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

x = {key : value for key, value in x.items() if key != 'delta' and value != 30}

print(x)

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

## Unit 26. 세트 사용하기

#### 26.1 세트 만들기

In [3]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

print(fruits)

{'cherry', 'pineapple', 'strawberry', 'orange', 'grape'}

In [4]:
fruits = {'orange', 'orange', 'cherry'}

print(fruits)

{'orange', 'cherry'}

##### 26.1.1  세트에 특정 값이 있는지 확인하기

In [5]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

print('orange' in fruits)

print('peach' in fruits)

True
False

In [6]:
print('peach' not in fruits)

print('orange' not in fruits)

True
False

##### 26.1.2  set를 사용하여 세트 만들기

In [7]:
a = set('apple')    # 유일한 문자만 세트로 만듦
print(a)

{'p', 'a', 'l', 'e'}

In [8]:
b = set(range(5))
print(b)

{0, 1, 2, 3, 4}

In [9]:
c = set()

print(c)

set()

In [10]:
c = {}
print(type(c))

c = set()
print(type(c))

<class 'dict'>
<class 'set'>

In [11]:
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

In [13]:
a = frozenset(range(10))
print(a)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [17]:
frozenset({frozenset({1, 2}), frozenset({3, 4})})

frozenset({frozenset({3, 4}), frozenset({1, 2})})

#### 26.2 집합 연산 사용하기

In [19]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(a | b) # 합집합
print(set.union(a, b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [21]:
print(a & b) # 교집합
print(set.intersection(a, b))

{3, 4}
{3, 4}

In [22]:
print(a - b)
print(set.difference(a, b))

{1, 2}
{1, 2}

In [23]:
print(a ^ b)
print(set.symmetric_difference(a, b))

{1, 2, 5, 6}
{1, 2, 5, 6}

##### 26.2.1  집합 연산 후 할당 연산자 사용하기

In [24]:
a = {1, 2, 3, 4}
a = a | {5}

print(a)

{1, 2, 3, 4, 5}

In [25]:
a = {1, 2, 3, 4}
a.update({5})

print(a)

{1, 2, 3, 4, 5}

In [26]:
a = {1, 2, 3, 4}
a = a & {0, 1, 2, 3, 4}

print(a)

{1, 2, 3, 4}

In [27]:
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})

print(a)

{1, 2, 3, 4}

In [28]:
a = {1, 2, 3, 4}
a = a - {3}

print(a)

{1, 2, 4}

In [29]:
a = {1, 2, 3, 4}
a.difference_update({3})

print(a)

{1, 2, 4}

In [30]:
a = {1, 2, 3, 4}
a = a ^ {3, 4, 5, 6}

print(a)

{1, 2, 5, 6}

In [31]:
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})

print(a)

{1, 2, 5, 6}

##### 26.2.2  부분 집합과 상위집합 확인하기

In [38]:
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [39]:
a = {1, 2, 3, 4}
a < {1, 2, 3, 4}

False

In [35]:
a.issubset({1, 2, 3, 4, 5})

True

In [40]:
a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

a.issuperset({1, 2, 3, 4})

True

In [41]:
a = {1, 2, 3, 4}
a > {1, 2, 3}

True

##### 26.2.3  세트가 같은지 다른지 확인하기

In [42]:
a = {1, 2, 3, 4}
print(a == {1, 2, 3, 4})
print(a == {4, 2, 1, 3})

True
True

In [43]:
a = {1, 2, 3, 4}
a != {1, 2, 3}

True

##### 26.2.4  세트가 겹치지 않는지 확인하기

In [44]:
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})      # 겹치는 요소가 없음

True

In [45]:
a.isdisjoint({3, 4, 5, 6})      # a와 3, 4가 겹침

False

#### 26.3 세트 조작하기

##### 26.3.1  세트에 요소 추가하기

In [50]:
a = {1, 2, 3, 4}
a.add(5)

print(a)

{1, 2, 3, 4, 5}

In [51]:
a.remove(3)
print(a)

{1, 2, 4, 5}

In [52]:
a.discard(2) # 요소가 있으면 삭제함
print(a)

{1, 4, 5}

In [53]:
a.discard(3) # 요소가 없으면 그냥 넘어감
print(a)

{1, 4, 5}

##### 26.3.3  세트에서 임의의 요소 삭제하기

In [54]:
a = {1, 2, 3, 4}
a.pop()

print(a)

{2, 3, 4}

##### 26.3.4  세트의 모든 요소를 삭제하기

In [55]:
a.clear()
print(a)

set()

##### 26.3.5  세트의 요소 개수 구하기

In [56]:
a = {1, 2, 3, 4}
len(a)

4

#### 26.4 세트의 할당과 복사

In [57]:
a = {1, 2, 3, 4}
b = a

In [58]:
a is b

True

In [59]:
b.add(5)

print(a)
print(b)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [60]:
a = {1, 2, 3, 4}
b = a.copy()

In [63]:
print(a is b)
print(a == b)

False
True

In [64]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)

print(a)
print(b)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

#### 26.5 반복문으로 세트의 요소를 모두 출력하기

In [65]:
a = {1, 2, 3, 4}

for i in a:
    print(i)

1
2
3
4

In [66]:
for i in {1, 2, 3, 4}:
    print(i)

1
2
3
4

#### 26.6 세트 표현식 사용하기

In [67]:
a = {i for i in 'apple'}
print(a)

{'p', 'a', 'l', 'e'}

In [68]:
a = {i for i in 'pineapple' if i not in 'apl'}

print(a)

{'i', 'e', 'n'}

#### 26.7 퀴즈

##### 1. 다음 중 세트를 만드는 방법으로 올바르지 않은 것을 고르세요.

a. a = {1, 2, 3, 4, 5}  
b. a = {}  
c. a = set('hello')  
d. a = set(range(10))  
e. a = set()

In [70]:
a = {1, 2, 3, 4, 5}
a

{1, 2, 3, 4, 5}

In [72]:
a = {} # 이러면 딕셔너리가 만들어짐
a

{}

In [73]:
a = set('hello')
a

{'e', 'h', 'l', 'o'}

In [74]:
a = set(range(10))
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
a = set()
a

set()

##### 2. 세트 a = {1, 2, 3} 그리고 b = {3, 4, 5}가 있을 때 집합 연산의 결과로 잘못된 것을 모두 고르세요.

In [76]:
a = {1, 2, 3}
b = {3, 4, 5}

In [77]:
set.union(a, b) # O

{1, 2, 3, 4, 5}

In [78]:
a ^ b # X

{1, 2, 4, 5}

In [79]:
a - b # O

{1, 2}

In [80]:
a & b # O

{3}

In [81]:
set.difference(b, a) # X

{4, 5}

##### 3. 다음 중 부분집합, 상위집합에 대한 설명으로 잘못된 것을 모두 고르세요.

a. 부분집합은 <=와 issubset로 구할 수 있고, 두 세트가 같을 때 참이다. (O)  
b. 진부분집합은 <와 issubset로 구할 수 있고, 두 세트가 다를 때 참이다. (X)  
c. 상위집합은 >=와 issuperset로 구할 수 있고, 두 세트가 같을 때 참이다. (O)  
d. 진상위집합은 >로 구할 수 있고, 두 세트가 같을 때 참이다. (X)  
e. 진부분집합과 진상위집합을 구하는 메서드는 없다. (O)

##### 4. 다음 중 세트 메서드에 대한 설명으로 올바른 것을 모두 고르세요.

a. intersection_update는 현재 세트와 다른 세트 중에서 겹치는 요소만 현재 세트에 저장한다. (O)  
b. set.symmetric_difference는 두 세트의 대칭차집합을 구한다. (O)  
c. isdisjoint는 현재 세트가 다른 세트와 겹치지 않는지 확인한다. (O)  
d. discard는 현재 세트에서 특정 요소를 삭제하고, 요소가 없으면 에러를 발생시킨다. (X)  
e. pop은 현재 세트에서 지정된 요소를 삭제하고, 요소가 없으면 에러를 발생시킨다. (X)

##### 5. 다음 중 메서드와 연산자의 기능이 잘못 짝지어진 것을 고르세요.

a. set.intersection은 &와 같다. (O)    
b. set.update는 |=와 같다. (O)  
c. symmetric_difference_update은 -=와 같다. (X)  
d. issuperset은 >와 같다. (X)  
e. set.union은 |와 같다. (O)

##### 6. 다음 중 세트 {0, 1, 3, 4, 5, 6, 8, 9}을 만드는 방법으로 올바른 것을 고르세요.

a. {i for i in range(10) if i != 2 and i != 7}  
b. {i for i in range(10) if i != 2 or i != 7}  
c. {i for i in range(10) if i is not 2 and i is not 7}  
d. {i for i in range(10) if i is not 2 or i is not 7}  
e. {i for i in range(10) if i is 2 or i is 7}

In [84]:
x = {i for i in range(10) if i != 2 and i != 7}

print(x) # a

{0, 1, 3, 4, 5, 6, 8, 9}

#### 26.8 연습문제: 공배수 구하기

In [5]:
a = {i for i in range(1, 101) if i % 3 == 0}
b = {i for i in range(1, 101) if i % 5 == 0}

print(a & b)

{75, 45, 15, 90, 60, 30}

#### 26.9 심사문제: 공약수 구하기

표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

In [6]:
a, b = list(map(int, input().split()))

a = {i for i in range(1, a + 1) if a % i == 0}
b = {i for i in range(1, b + 1) if b % i == 0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

18

In [7]:
a, b = list(map(int, input().split()))

a = {i for i in range(1, a + 1) if a % i == 0}
b = {i for i in range(1, b + 1) if b % i == 0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

217

## Unit 27. 파일 사용하기

#### 27.1 파일에 문자열 쓰기, 읽기

##### 27.1.1  파일에 문자열 쓰기

In [1]:
file = open('hello.txt', 'w')
file.write('Hello, world!')
file.close()

##### 27.1.2  파일에서 문자열 읽기

In [3]:
file = open('hello.txt', 'r')
s = file.read()
print(s)
file.close()

##### 27.1.3  자동으로 파일 객체 닫기

In [4]:
with open('hello.txt', 'r') as file:
    s = file.read()
    print(s)

#### 27.2 문자열 여러 줄을 파일에 쓰기, 읽기

##### 27.2.1  반복문으로 문자열 여러 줄을 파일에 쓰기

In [5]:
with open('hello.txt', 'w') as file:
    for i in range(3):
        file.write('Hello, world! {0}\n'.format(i))

##### 27.2.2  리스트에 들어있는 문자열을 파일에 쓰기

In [6]:
lines = ['안녕하세요.\n', '파이썬\n', '코딩 도장입니다.\n']

with open('hello.txt', 'w') as file:
    file.writelines(lines)

##### 27.2.3  파일의 내용을 한 줄씩 리스트로 가져오기

In [7]:
with open('hello.txt', 'r') as file:
    lines = file.readlines()
    print(lines)

['안녕하세요.\n', '파이썬\n', '코딩 도장입니다.\n']

##### 27.2.4  파일의 내용을 한 줄씩 읽기

In [9]:
with open('hello.txt', 'r') as file:
    line = None
    while line != '':
        line = file.readline()
        print(line.strip('\n'))

안녕하세요.
파이썬
코딩 도장입니다.

##### 27.2.5  for 반복문으로 파일의 내용을 줄 단위로 읽기

In [10]:
with open('hello.txt', 'r') as file:
    for line in file:
        print(line.strip('\n'))

안녕하세요.
파이썬
코딩 도장입니다.

#### 참고 | 파일 객체는 이터레이터

파일 객체는 이터레이터입니다. 따라서 변수 여러 개에 저장하는 언패킹(unpacking)도 가능합니다(이터레이터는 'Unit 39 이터레이터 사용하기' 참조).

In [12]:
file = open('hello.txt', 'r')
a, b, c = file
a, b, c

('안녕하세요.\n', '파이썬\n', '코딩 도장입니다.\n')

#### 27.3 파이썬 객체를 파일에 저장하기, 가져오기

In [13]:
import pickle

name = 'james'
age = 17
address ='서울시 서초구 반포동'
scores = {'korean' : 90, 'english' : 95, 'mathematics' : 85, 'science' : 82}

with open('james.p', 'wb') as file:
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)

##### 27.3.2  파일에서 파이썬 객체 읽기

In [1]:
import pickle
with open('james.p', 'rb') as file:
    name = pickle.load(file)
    age = pickle.load(file)
    address = pickle.load(file)
    scores = pickle.load(file)
    print(name)
    print(age)
    print(address)
    print(scores)

james
17
서울시 서초구 반포동
{'korean': 90, 'english': 95, 'mathematics': 85, 'science': 82}

#### 27.4 퀴즈

##### 1. 다음 중 파일에 문자열을 쓸 때 파일 열기 방법으로 올바른 것을 고르세요.

a. file = open('hello.txt', 'r')  
b. file = open('hello.txt', 'b')  
c. file = open('hello.txt', 'rb')  
d. file = open('hello.txt', 'w') (O)   
e. file = open('hello.txt', 'wb')

##### 2. 다음 중 파일에서 문자열을 한 줄씩 읽어서 리스트 형태로 가져오는 메서드로 올바른 것을 고르세요.

a. read  
b. readline  
c. readlines (O)  
d. writelines  
e. write

##### 3. 다음 중 pickle 모듈로 파일에 저장된 파이썬의 객체를 읽어올 때 파일 열기 방법으로 올바른 것을 고르세요.

a. file = open('maria.p', 'r')  
b. file = open('maria.p', 'rb') (O)  
c. file = open('maria.p', 'w')  
d. file = open('maria.p', 'wb')  
e. file = open('maria.p', 'rt')

#### 27.5 연습문제: 파일에서 10자 이하인 단어 개수 세기

단어가 줄 단위로 저장된 words.txt 파일이 주어집니다. 다음 소스 코드를 완성하여 10자 이하인 단어의 개수가 출력되게 만드세요.

In [3]:
with open('words.txt', 'r') as file:
    lines = file.readlines()
    count = 0

    for i in range(len(lines)):
        lines[i] = lines[i].strip('\n')
    
    for i in lines:
        if len(i) <= 10:
            count += 1

print(count)

4

#### 27.6 심사문제: 특정 문자가 들어있는 단어 찾기

문자열이 저장된 words.txt 파일이 주어집니다(문자열은 한 줄로 저장되어 있습니다). words.txt 파일에서 문자 c가 포함된 단어를 각 줄에 출력하는 프로그램을 만드세요. 단어를 출력할 때는 등장한 순서대로 출력해야 하며 ,(콤마)와 .(점)은 출력하지 않아야 합니다.

In [31]:
with open('words2.txt', 'r') as file:
    lines = file.readlines()

new_lines =lines[0].split()

for i in range(len(new_lines)):
    new_lines[i] = new_lines[i].strip(",.")

for i in new_lines:
    if 'c' in i:
        print(i)

dictator
subjects
change
costume
elegance
accepted

## UNIT29 함수 사용하기

#### 29.1 Hello, world! 출력 함수 만들기

In [ ]:
def hello():
    print('Hello, world!')

##### 29.1.2 함수 호출하기

 - 함수()

In [ ]:
hello()

Hello, world!

##### 29.1.3 소스 파일에서 함수를 만들고 호출하기

In [ ]:
def hello():
    print('Hello, world!')

hello()

Hello, world!

##### 29.1.4 함수의 실행 순서

1. 파이썬 스크립트 최초 실행
2. hello 함수 호출
3. hello 함수 실행
4. print 함수 실행 및 'Hello, world!' 출력
5. hello 함수 종료
6. 파이썬 스크립트 종료

##### 29.1.5 함수 작성과 함수 호출 순서

In [ ]:
hello()         # hello 함수를 만들기 전에 함수를 먼저 호출

def hello():    # hello 함수를 만듦
    print('Hello, world!')

Hello, world!

#### 참고) 빈 함수 만들기

In [ ]:
def hello():
    pass

#### 29.2 덧셈 함수 만들기

In [ ]:
def add(a, b):
    print(a + b)

In [ ]:
add(10, 20)

30

#### 29.2 함수의 결과를 반환하기

In [ ]:
def add(a, b):
    return a + b

In [ ]:
x = add(10, 20)
x

30

In [ ]:
print(add(1, 20))

21

#### 참고) 매개변수는 없고 반환값만 있는 함수

In [ ]:
def one():
    return 1

x = one()
x

1

#### 29.4 함수에서 값을 여러 개 반환하기

In [ ]:
def add_sub(a, b):
    return a + b, a - b

In [ ]:
x, y = add_sub(10, 20)
print(x)
print(y)

30
-10

In [ ]:
x = add_sub(10, 20)
print(x)

(30, -10)

In [ ]:
x, y = (30, -10)
print(x)
print(y)

30
-10

#### 29.5 함수의 호출 과정 알아보기

In [ ]:
def mul(a, b):
    c = a * b
    return c

def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)

x = 10
y = 20
add(x, y)

30
200

#### 29.6 퀴즈

##### 1. 다음 중 매개변수가 없는 hello 함수를 호출하는 방법으로 올바른 것을 고르세요.

c. hello()

##### 2. 두 수를 받은 뒤 곱한 결과를 반환하는 함수를 만들려고 합니다.

In [ ]:
def mul(a, b):
    return a * b

print(mul(2, 3))

6

##### 3. 다음 중 값을 세 개 반환하는 함수를 만들려고 합니다. 올바른 코드를 모두 고르세요.

In [ ]:
# a
def three():
    return 1, 2, 3

print(three())

(1, 2, 3)

In [ ]:
# c
def three():
    return (1, 2, 3)

print(three())

(1, 2, 3)

In [ ]:
# d
def three():
    return [1, 2, 3]

print(three())

[1, 2, 3]

#### 29.7 연습문제: 몫과 나머지를 구하는 함수 만들기

In [ ]:
x = 10
y = 3

def get_quotient_remainder(x, y):
    quotient = x // y
    remainder = x % y
    return quotient, remainder

quotient, remainder = get_quotient_remainder(x, y)
print('몫: {0}, 나머지: {1}'.format(quotient, remainder))

몫: 3, 나머지: 1

#### 29.8 심사문제: 사칙 연산 함수 만들기

In [ ]:
x, y = map(int, input().split())

def calc(x, y):
    add = x + y
    minus = x - y
    multiply = x * y
    divide = x / y
    return add, minus, multiply, divide

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈 {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 30, 뺄셈: -10, 곱셈 200, 나눗셈: 0.5

In [ ]:
x, y = map(int, input().split())

def calc(x, y):
    add = x + y
    minus = x - y
    multiply = x * y
    divide = x / y
    return add, minus, multiply, divide

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈 {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 48, 뺄셈: 32, 곱셈 320, 나눗셈: 5.0

## Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

#### 30.1 위치 인수와 리스트 언패킹 사용하기

In [ ]:
print(10, 20, 30)

10 20 30

##### 30.1.1  위치 인수를 사용하는 함수를 만들고 호출하기

In [ ]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [ ]:
print_numbers(10, 20, 30)

10
20
30

##### 30.1.2  언패킹 사용하기

In [ ]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [ ]:
print_numbers(*[10, 20, 30])

10
20
30

##### 30.1.3  가변 인수 함수 만들기

In [ ]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [ ]:
print_numbers(10)

10

In [ ]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [ ]:
x = [10]
print_numbers(*x)

10

In [ ]:
y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

In [ ]:
def print_numbers(a, *args):
    print(a)
    print(args)

In [ ]:
print_numbers(1)

1
()

In [ ]:
print_numbers(1, 10, 20)

1
(10, 20)

In [ ]:
print_numbers(*[10, 20, 30])

10
(20, 30)

#### 30.2 키워드 인수 사용하기

In [ ]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

 - 함수(키워드 = 값)

In [ ]:
personal_info(name = '홍길동', age = 30, address = '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
personal_info(age = 30, address = '서울시 용산구 이촌동', name = '홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
print(10, 20, 30, sep = ':', end = '')

10:20:30

#### 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [ ]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
personal_info(**{'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

##### 30.3.1  **를 두 번 사용하는 이유

In [ ]:
x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(*x) # 키 값만 빠지게 됨

이름:  name
나이:  age
주소:  address

##### 30.3.2  키워드 인수를 사용하는 가변 인수 함수 만들기

In [ ]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep = '')

In [ ]:
personal_info(name = '홍길동')

name: 홍길동

In [ ]:
personal_info(name = '홍길동', age = 30, adress = '서울시 용산구 이촌동')

name: 홍길동
age: 30
adress: 서울시 용산구 이촌동

In [ ]:
x = {'name' : '홍길동'}
personal_info(**x)

name: 홍길동

In [ ]:
y = {'name' : '홍길동', 'age' : 30, 'adress' : '서울시 용산구 이촌동'}
personal_info(**y)

name: 홍길동
age: 30
adress: 서울시 용산구 이촌동

In [ ]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

#### 참고) 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

In [ ]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [ ]:
personal_info('홍길동')

홍길동
{}

In [ ]:
personal_info('홍길동', age = 30, address = '서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [ ]:
personal_info(**{'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'})

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

#### 참고) 위치 인수와 키워드 인수를 함께 사용하기

In [ ]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

custom_print(1, 2, 3, sep = ':', end = '')

1:2:3

In [ ]:
def example(*args, **kwargs):
    print(args, kwargs)

example(1, 2, 3, sep = ':', end = '')

(1, 2, 3) {'sep': ':', 'end': ''}

In [ ]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

custom_print(1, 2, 3, sep = ':', end = '')

1:2:3

#### 30.4 매개변수에 초깃값 지정하기

In [ ]:
def personal_info(name, age, address = '비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [ ]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

##### 30.4.1  초깃값이 지정된 매개변수의 위치

> 초기값이 지정된 매개변수는 뒤쪽에 몰아줘야 한다.

In [ ]:
# def personal_info(name, address = '비공개'):
#     print('이름: ', name)
#     print('나이: ', age)
#     print('주소: ', address)

# 이렇게 못씀

In [ ]:
# def personal_info(name, age, address='비공개'):
# def personal_info(name, age=0, address='비공개'):
# def personal_info(name='비공개', age=0, address='비공개'):

# 이렇게 뒤에 몰아줘야 함

#### 30.5 퀴즈

##### 1. 함수를 def print_numbers(a, b, c):처럼 만들었을 때 이 함수를 호출하는 방법으로 잘못된 것을 고르세요.

a. print_numbers(1, 3, 5) (O)  
b. print_numbers(a=1, b=2, c=3) (O)  
c. a = [5, 0, 2]  
   print_numbers(*a) (O)  
d. a = [3, 7, 9]  
   print_numbers(**a) (X)  
e. print_numbers(*[9, 1, 2]) (O)

##### 2. 다음 중 print_numbers(*[10, 20, 30])으로 호출할 수 있는 함수로 올바른 것을 모두 고르세요.

a. def print_numbers(args): (X)  
b. def print_numbers(a, b, c): (O)  
c. def print_numbers(*args): (O)  
d. def print_numbers(**kwargs): (X)  
e. def print_numbers(): (X)

##### 3. 다음 중 personal_info(**{'name': '홍길동', 'age': 30})으로 호출할 수 있는 함수로 올바른 것을 모두 고르세요.

a. def personal_info(**kwargs): (O)  
b. def personal_info(*args): (X)  
c. def personal_info(name='미공개', age=0): (O)  
d. def personal_info(name, address): (X)  
e. def personal_info(kwargs): (X)

#### 30.6 연습문제: 가장 높은 점수를 구하는 함수 만들기

In [ ]:
korean, english, mathematics, science = 100, 86, 81, 91

def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

#### 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

> 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [ ]:
# 겁나 어렵다.
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    return sum(kwargs.values()) / len(kwargs)


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [ ]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    return sum(kwargs.values()) / len(kwargs)


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50