In [1]:
type(40000/3) # 40000/3의 타입을 알려줘

float

In [2]:
int(40000/3)

13333

In [3]:
float(40000/3)

13333.333333333334

In [4]:
import pandas as pd # pandas를 pd라고 축약

In [5]:
df = pd.DataFrame({'value':[40000/3]}) # {'value':[40000/3]} 딕셔너리 값

In [6]:
df # 파이썬은 인덱스가 0 부터 시작된다

          value
0  13333.333333

In [7]:
df.dtypes # df 의 타입

value    float64
dtype: object

In [9]:
df['value'].astype(int) # value를 int형태로 바꿔줘 (정수)

0    13333
Name: value, dtype: int64

In [11]:
df['value'].astype(float) #value를 float(R에서는 numeric)형태로 바꿔줘 (실수)

0    13333.333333
Name: value, dtype: float64