## 01

### 데이터 활용 방법 - 전치
- 행과 열을 서로 바꾸는 것
- 방법
    - 1. 메서드 : 변수명.transpose()
    - 2.  속성  : 변수명.T

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [4]:
# [2] 데이터 준비
file_name = 'data.csv'

In [17]:
# [3] CSV ==> DataFrame 형태로 저장
df = pd.read_csv(file_name, encoding = 'utf-8')
pd.DataFrame(df)

   no   name   age  gender
0   1   Hong    10       F
1   2   Park    13       F
2   3    Kim    12       M
3   4    Lee    16       F
4   5    Lim    15       M

In [19]:
# [4] DF 형태 변경 : 행 ==> 열, 열 ==> 행
print('변경 전', df.index, df.columns, sep = '\n')


# 속성 T 사용 후
dfT = df.T
print('변경 후', dfT.index, dfT.columns, sep = '\n')
dfT

변경 전
RangeIndex(start=0, stop=5, step=1)
Index(['no', ' name', ' age', ' gender'], dtype='object')
변경 후
Index(['no', ' name', ' age', ' gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

             0      1     2     3     4
no           1      2     3     4     5
 name     Hong   Park   Kim   Lee   Lim
 age        10     13    12    16    15
 gender      F      F     M     F     M

In [20]:
# 메서드 transpose() 사용
dftran = df.transpose()
print('변경 후', dftran.index, dftran.columns, sep = '\n')
dftran

변경 후
Index(['no', ' name', ' age', ' gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

             0      1     2     3     4
no           1      2     3     4     5
 name     Hong   Park   Kim   Lee   Lim
 age        10     13    12    16    15
 gender      F      F     M     F     M