In [71]:
# [1] 모듈 로딩
import pandas as pd

In [72]:
# [2] 데이터
file1 = 'test_data3.csv'

In [73]:
# [3] CSV => DataFrame 형태로 저장
df1 = pd.read_csv(file1)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    10
3   2021   대구    11    22
4   2021   대구    12    23

In [74]:
# [4] 데이터 추출
# [4-1] 대구 관련 데이터만 추출
df1[df1['col1'] == '대구']

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [75]:
# [4-2] index와 col1컬럼을 행 인덱스 설정
df2 = df1.set_index(['index', 'col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    10
      대구      11    22
      대구      12    23

In [76]:
# 인덱스 속성
df2.index

MultiIndex([(2020, '서울'),
            (2020, '대구'),
            (2021, '서울'),
            (2021, '대구'),
            (2021, '대구')],
           names=['index', 'col1'])

In [77]:
df2.loc[2020, '대구']

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_46320/641999200.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[2020, '대구']

            col2  col3
index col1
2020  대구      11    22

In [78]:
df2.loc[2021, '대구']

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_46320/3822932767.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[2021, '대구']

            col2  col3
index col1
2021  대구      11    22
      대구      12    23

In [79]:
df2.values

array([[10, 20],
       [11, 22],
       [10, 10],
       [11, 22],
       [12, 23]])

In [83]:
sr1 = pd.Series({'col2' : 15, 'col3' : 20})
sr1

col2    15
col3    20
dtype: int64

In [95]:
df2.loc[(2022, '부산'), :] = 0
df2.loc[(2022, '마산'), :] = [3, 4]
df2.loc[(2022, '울산'), :] = [pd.Series({'col2' : 8, 'col3' : 10})]
df2

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_46320/1551118266.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '부산'), :] = 0
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_46320/1551118266.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '마산'), :] = [3, 4]
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_46320/1551118266.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '울산'), :] = [pd.Series({'col2' : 8, 'col3' : 10})]

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    11.0  22.0
2021  서울    10.0  10.0
      대구    11.0  22.0
      대구    12.0  23.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     8.0  10.0