### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [209]:
# [1] 모듈 로딩
import pandas as pd
import df_util as util

In [210]:
# 데이터 준비
file1 = 'test_data.csv'
file2 = 'test_data2.csv'

In [211]:
# [3] CSV ==> DataFrame으로 저장
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [212]:
# 데이터 확인 => 기본 정보
util.print_info(df1, file1)

[test_data.csv]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[Index] : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

In [213]:
util.print_info(df2, file2)

[test_data2.csv]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[Index] : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

In [214]:
# [5] 행 인덱스 설정
# [5-1] df1의 첫 번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1, 컬럼2])
df11 = df1.set_index(['index'])
df11.index.name = None
df11.index

# 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [215]:
# 'A', 'C'행 추출
df11.loc[['A', 'C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [216]:
# [5-2] df1의 첫 번째, 두 번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1, 컬럼2])
df12 = df1.set_index(['index', 'col1'])
df12.index.name = None
df12.index

df12.loc[('A', 8)]

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/3161875483.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5

In [217]:
# 'A', 'C'행 추출
df12.loc[['A', 'C']]

            col2  col3
index col1
A     8        6     5
      1        8     7
      3        1     4
C     8        4     3
      8        2     0
      8        8     6
      5        5     6

In [218]:
# ('A', 8), ('A', 1) 행 추출
df12.loc[[('A', 8), ('A', 1)]]

            col2  col3
index col1
A     8        6     5
      1        8     7

In [219]:
# 멀티인덱스의 속성들 확인
mIndex = df12.index

print(f'nlevels : {mIndex.nlevels}')
print(f'levels : {mIndex.levels}')
print(f'names : {mIndex.names}')

# mIndex.names = [None, None]
# mIndex.names[0] = 'A' 지원 안함

mIndex.set_names('a', level = 0) # 0번째 레벨 인덱스를 'a'로 변경

nlevels : 2
levels : [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names : ['index', 'col1']

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['a', 'col1'])

In [220]:
# 멀티인덱스에서 level0이 동일한 행 추출
# - 'A'
df12.loc['A']

      col2  col3
col1
8        6     5
1        8     7
3        1     4

In [221]:
# 멀티인덱스에서 level1이 동일한 행 추출
# - 8
# df12.loc[8]     # Error 발생
# 하위 레벨 가져오는 방법
df12.xs(8, level = 1)

       col2  col3
index
A         6     5
C         4     3
C         2     0
C         8     6

In [222]:
# 멀티인덱스에서 행 추가
# - 인덱스에 행 추가 => 변수명.loc[행인덱스] = 값
df12.loc[('D', 9), :] = [9, 9]
df12

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/2232607214.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D', 9), :] = [9, 9]
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/2232607214.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D', 9), :] = [9, 9]

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0

In [233]:
sr1 = pd.Series({'col1' : 10, 'col2' : 11})
sr1

col1    10
col2    11
dtype: int64

In [224]:
df12.loc[('F', 11), :] = [sr1]

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/3242248857.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('F', 11), :] = [sr1]
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/3242248857.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('F', 11), :] = [sr1]

In [225]:
df12.loc[('AA', 12), :] = [sr1]

/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/2039717175.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('AA', 12), :] = [sr1]
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_44650/2039717175.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('AA', 12), :] = [sr1]

In [226]:
df12

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0
F     11    10.0  11.0
AA    12    10.0  11.0

In [227]:
pd.Series({'A' : 10, 'B' : 20})

A    10
B    20
dtype: int64

In [228]:
pd.Series({'col2' : 10, 'col3' : 10}, index = ['D', 10])
# 시리즈를 'col2' : 10, 'col3' : 10로 만들었는데 인덱스가 'D', 10인건 없기 때문에 NaN으로 불러옴

D    NaN
10   NaN
dtype: float64

In [229]:
pd.Series({'가' : 10, '나' : 20, '다' : 30, '라' : 40}, index = ['다', '라'])

다    30
라    40
dtype: int64

In [230]:
sr1 = pd.Series({'col2' : 10, 'col3' : 10})
sr1.index = ['D', 10]
sr1

D     10
10    10
dtype: int64

In [231]:
sr1.T

D     10
10    10
dtype: int64

In [232]:
a = pd.Series({'가' : 10, '나' : 20})
a.index = ['다', '라']
a

다    10
라    20
dtype: int64