## UNIT24 문자열 응용하기

#### 24.1 문자열 조작하기

##### 24.1.1 문자열 바꾸기

In [ ]:
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [ ]:
s = 'Hello, world!'
s = s.replace('world!', 'Python')
s

'Hello, Python'

##### 24.1.2 문자 바꾸기

In [ ]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

##### 24.1.3 문자열 분리하기

In [ ]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [ ]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

##### 24.1.4 구분자 문자열과 문자열 리스트 연결하기

In [ ]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [ ]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

##### 24.1.5 소문자를 대문자로 바꾸기

In [ ]:
'python'.upper()

'PYTHON'

##### 24.1.6 대문자를 소문자로 바꾸기

In [ ]:
'PYTHON'.lower()

'python'

##### 24.1.7 왼쪽 공백 삭제하기

In [ ]:
'   Python   '.lstrip()

'Python   '

##### 24.1.8 오른쪽 공백 삭제하기

In [ ]:
'   Python   '.rstrip()

'   Python'

##### 24.1.9 양쪽 공백 삭제하기

In [ ]:
'   Python   '.strip()

'Python'

##### 24.1.10 왼쪽의 특정 문자 삭제하기

In [ ]:
', python.'.lstrip(',.')

' python.'

##### 24.1.11 오른쪽의 특정 문자 삭제하기

In [ ]:
', python.'.rstrip(',.')

', python'

##### 24.1.12 양쪽의 특정 문자 삭제하기

In [ ]:
', python.'.strip(',.')

' python'

#### 참고) 구두점을 간단하게 삭제하기

In [ ]:
import string
', python.'.strip(string.punctuation)

' python'

In [ ]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
', python.'.strip(string.punctuation + ' ')

'python'

In [ ]:
', python.'.strip(string.punctuation).strip()

'python'

##### 24.1.13 문자열을 왼쪽 정렬하기

In [ ]:
'python'.ljust(10)

'python    '

##### 24.1.14 문자열을 오른쪽 정렬하기

In [ ]:
'python'.rjust(10)

'    python'

##### 24.1.15 문자열을 가운데 정렬하기

In [ ]:
'python'.center(10)

'  python  '

In [ ]:
'python'.center(11)

'   python  '

##### 24.1.16 메서드 체이닝

In [ ]:
'python'.rjust(10).upper()

'    PYTHON'

##### 24.1.17 문자열 왼쪽에 0 채우기

In [ ]:
print('35'.zfill(4))        # 숫자 앞에 0을 채움
print('3.5'.zfill(6))       # 숫자 앞에 0을 채움
print('hello'.zfill(10))    # 문자열 앞에 0을 채울 수도 있음

0035
0003.5
00000hello

##### 24.1.18 문자열 위치 찾기

In [ ]:
print('apple pineapple'.find('pl'))
print('apple pineapple'.find('xy'))

2
-1

##### 24.1.19 오른쪽에서부터 문자열 위치 찾기

In [ ]:
print('apple pineapple'.rfind('pl'))
print('apple pineapple'.rfind('xy'))

12
-1

##### 24.1.20 문자열 위치 찾기

In [ ]:
'apple pineapple'.index('pl')

2

##### 24.1.21 오른쪽에서부터 문자열 위치 찾기

In [ ]:
'apple pineapple'.rindex('pl')

12

##### 24.1.22 문자열 개수 세기

In [ ]:
'apple pineapple'.count('pl')

2

#### 24.2 문자열 서식 지정자와 포매팅 사용하기

##### 24.2.1 서식 지정자로 문자열 넣기

 - '%s' % '문자열'

In [ ]:
'I am %s.' % 'james'

'I am james.'

##### 24.2.3 서식 지정자로 소수점 표현하기

 - '%f' % 숫자

In [ ]:
'%f' % 2.3

'2.300000'

 - '%.자릿수f' % 숫자

In [ ]:
'%.2f' % 2.3

'2.30'

In [ ]:
'%.3f' % 2.3

'2.300'

##### 24.2.4 서식 지정자로 문자열 정렬하기

In [ ]:
'%10s' % 'python'

'    python'

#### 참고) 자릿수가 다른 숫자 출력하기

 - %길이d

In [ ]:
'%10d' % 150

'       150'

In [ ]:
'%10d' % 15000

'     15000'

 - %길이.자릿수f

In [ ]:
'%10.2f' % 2.3

'      2.30'

In [ ]:
'%10.2f' % 2000.3

'   2000.30'

 - %-길이s

In [ ]:
'%-10s' % 'python'

'python    '

##### 24.2.5 서식 지정자로 문자열 안에 값 여러 개 넣기

In [ ]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [ ]:
'Today is %d%s.' % (3, 'April')

'Today is 3April.'

##### 24.2.6 format 메서드 사용하기

In [ ]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [ ]:
'Hello, {0}'.format(100)

'Hello, 100'

##### 24.2.7 format 메서드로 값을 여러 개 넣기

In [ ]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

##### 24.2.8 format 메서드로 같은 값을 여러 개 넣기

In [ ]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

#### 24.2.9 format 메서드에서 인덱스 생략하기

In [ ]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

##### 24.2.10 format 메서드에서 인덱스 대신 이름 지정하기

In [ ]:
'Hello, {language} {version}'.format(language = 'Python', version = 3.6)

'Hello, Python 3.6'

##### 24.2.11 문자열 포매팅에 변수를 그대로 사용하기

In [ ]:
language = 'Python'
version = 3.6
f'Hello, {language} {version}'

'Hello, Python 3.6'

#### 참고) 중괄호 출력하기

In [ ]:
'{{ {0} }}'.format('Python')

'{ Python }'

##### 24.2.12 format 메서드로 문자열 정렬하기

 - '{인덱스:<길이}'.format(값)

In [ ]:
'{0:<10}'.format('python')

'python    '

 - '{인덱스:>길이}'.format(값)

In [ ]:
'{0:>10}'.format('python')

'    python'

In [ ]:
'{:>10}'.format('python')

'    python'

##### 24.2.13 숫자 개수 맞추기

 - '%0개수d' % 숫자
 - '{인덱스:0개수d}'.format(숫자)

In [ ]:
'%03d' % 1

'001'

In [ ]:
'{0:03d}'.format(35)

'035'

 - '%0개수.자릿수f' % 숫자
 - '{인덱스:0개수.자릿수f}'.format(숫자)

In [ ]:
'%08.2f' % 3.6

'00003.60'

In [ ]:
'{0:08.2f}'.format(150.37)

'00150.37'

##### 24.2.14 채우기와 정렬을 조합해서 사용하기

 - '{인덱스:[[채우기]정렬][길이][.자릿수][자료형]}'

In [ ]:
'{0:0<10}'.format(15)   # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

'1500000000'

In [ ]:
'{0:0>10}'.format(15)   # 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'0000000015'

In [ ]:
'{0:0>10.2f}'.format(15)    # 길이 10, 오른쪽으로 정렬하고 소수점 자릿수는 2자리

'0000015.00'

In [ ]:
'{0: >10}'.format(15)   # 남는 공간을 공백으로 채움

'        15'

In [ ]:
'{0:>10}'.format(15)    # 채우기 부분을 생략하면 공백이 들어감

'        15'

In [ ]:
'{0:x>10}'.format(15)   # 남는 공간을 문자 x로 채움

'xxxxxxxx15'

#### 참고) 금액에서 천단위로 콤마 넣기

 - format(숫자, ',')

In [ ]:
format(1493500, ',')

'1,493,500'

In [ ]:
'%20s' % format(1493500, ',')   # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [ ]:
'{0:,}'.format(149500)

'149,500'

In [ ]:
'{0:>20,}'.format(1493500)  # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [ ]:
'{0:0>20,}'.format(1493500) # 길이 20, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'000000000001,493,500'

#### 24.3 퀴즈

##### 1. 다음 중 문자열 메서드에 대한 설명으로 잘못된 것을 모두 고르세요.

a. count는 문자열의 전체 문자 개수를 구한다. (X)  
b. find는 문자열에서 왼쪽부터 문자열을 찾아서 인덱스를 반환한다. (O)  
c. replace는 문자열 안의 문자열을 다른 문자열로 바꾼다. (O)  
d. split은 문자열을 공백 또는 기준 문자열을 기준으로 분리한다. (O)  
e. index는 문자열의 오른쪽에서부터 문자열을 찾아서 인덱스를 반환한다. (X)

##### 2. 다음 코드를 실행했을 때 출력 결과를 고르세요.

In [ ]:
print('Python'.lower().replace('on', 'ON').ljust(10)) # d번

pythON

##### 3. 다음 중 문자열 'Hello, Python 3.6'을 만드는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
'%s, %s 3.6' % ('Hello', 'Python') # b

'Hello, Python 3.6'

In [ ]:
'{hello}, {language} 3.6'.format(hello = 'Hello', language = 'Python') # d

'Hello, Python 3.6'

##### 4. 다음 중 문자열 '   1675.3000'을 만드는 방법으로 올바른 것을 모두 고르세요. 이 문자열의 길이는 12이고 소수점 이하 자릿수는 4자리입니다. 또한, 오른쪽으로 정렬되어 있고 남은 공간은 공백으로 채워져 있습니다.

In [ ]:
'{0:>12.4f}'.format(1675.3) # c

'   1675.3000'

In [ ]:
'{0: >12.4f}'.format(1675.3) # d

'   1675.3000'

#### 24.4 연습문제: 파일 경로에서 파일명만 가져오기

In [ ]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

idx = path.rfind('\\')
filename = path[idx+1:]
print(filename)

python.exe

#### 24.5 심사문제: 특정 단어 개수 세기

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.

In [ ]:
data = input()

cnt = 0
for i in data.split():
    if i.strip(',.') == 'the':
        cnt += 1
print(cnt)

6

#### 24.6 심사문제: 높은 가격순으로 출력하기

표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [134]:
data = list(map(int, input().split(';')))

sort_data = sorted(data, reverse = True)

for i in sort_data:
    print('{0:>9,}'.format(i))

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

## UNIT29 함수 사용하기

#### 29.1 Hello, world! 출력 함수 만들기

In [1]:
def hello():
    print('Hello, world!')

##### 29.1.2 함수 호출하기

 - 함수()

In [2]:
hello()

Hello, world!

##### 29.1.3 소스 파일에서 함수를 만들고 호출하기

In [3]:
def hello():
    print('Hello, world!')

hello()

Hello, world!

##### 29.1.4 함수의 실행 순서

1. 파이썬 스크립트 최초 실행
2. hello 함수 호출
3. hello 함수 실행
4. print 함수 실행 및 'Hello, world!' 출력
5. hello 함수 종료
6. 파이썬 스크립트 종료

##### 29.1.5 함수 작성과 함수 호출 순서

In [4]:
hello()         # hello 함수를 만들기 전에 함수를 먼저 호출

def hello():    # hello 함수를 만듦
    print('Hello, world!')

Hello, world!

#### 참고) 빈 함수 만들기

In [5]:
def hello():
    pass

#### 29.2 덧셈 함수 만들기

In [6]:
def add(a, b):
    print(a + b)

In [7]:
add(10, 20)

30

#### 29.2 함수의 결과를 반환하기

In [8]:
def add(a, b):
    return a + b

In [9]:
x = add(10, 20)
x

30

In [10]:
print(add(1, 20))

21

#### 참고) 매개변수는 없고 반환값만 있는 함수

In [11]:
def one():
    return 1

x = one()
x

1

#### 29.4 함수에서 값을 여러 개 반환하기

In [14]:
def add_sub(a, b):
    return a + b, a - b

In [15]:
x, y = add_sub(10, 20)
print(x)
print(y)

30
-10

In [17]:
x = add_sub(10, 20)
print(x)

(30, -10)

In [18]:
x, y = (30, -10)
print(x)
print(y)

30
-10

#### 29.5 함수의 호출 과정 알아보기

In [19]:
def mul(a, b):
    c = a * b
    return c

def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)

x = 10
y = 20
add(x, y)

30
200

#### 29.6 퀴즈

##### 1. 다음 중 매개변수가 없는 hello 함수를 호출하는 방법으로 올바른 것을 고르세요.

c. hello()

##### 2. 두 수를 받은 뒤 곱한 결과를 반환하는 함수를 만들려고 합니다.

In [24]:
def mul(a, b):
    return a * b

print(mul(2, 3))

6

##### 3. 다음 중 값을 세 개 반환하는 함수를 만들려고 합니다. 올바른 코드를 모두 고르세요.

In [22]:
# a
def three():
    return 1, 2, 3

print(three())

(1, 2, 3)

In [25]:
# c
def three():
    return (1, 2, 3)

print(three())

(1, 2, 3)

In [26]:
# d
def three():
    return [1, 2, 3]

print(three())

[1, 2, 3]

#### 29.7 연습문제: 몫과 나머지를 구하는 함수 만들기

In [27]:
x = 10
y = 3

def get_quotient_remainder(x, y):
    quotient = x // y
    remainder = x % y
    return quotient, remainder

quotient, remainder = get_quotient_remainder(x, y)
print('몫: {0}, 나머지: {1}'.format(quotient, remainder))

몫: 3, 나머지: 1

#### 29.8 심사문제: 사칙 연산 함수 만들기

In [32]:
x, y = map(int, input().split())

def calc(x, y):
    add = x + y
    minus = x - y
    multiply = x * y
    divide = x / y
    return add, minus, multiply, divide

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈 {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 30, 뺄셈: -10, 곱셈 200, 나눗셈: 0.5

In [33]:
x, y = map(int, input().split())

def calc(x, y):
    add = x + y
    minus = x - y
    multiply = x * y
    divide = x / y
    return add, minus, multiply, divide

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈 {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 48, 뺄셈: 32, 곱셈 320, 나눗셈: 5.0

## Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

#### 30.1 위치 인수와 리스트 언패킹 사용하기

In [1]:
print(10, 20, 30)

10 20 30

##### 30.1.1  위치 인수를 사용하는 함수를 만들고 호출하기

In [3]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [4]:
print_numbers(10, 20, 30)

10
20
30

##### 30.1.2  언패킹 사용하기

In [5]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [6]:
print_numbers(*[10, 20, 30])

10
20
30

##### 30.1.3  가변 인수 함수 만들기

In [7]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [8]:
print_numbers(10)

10

In [9]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [10]:
x = [10]
print_numbers(*x)

10

In [13]:
y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

In [14]:
def print_numbers(a, *args):
    print(a)
    print(args)

In [15]:
print_numbers(1)

1
()

In [16]:
print_numbers(1, 10, 20)

1
(10, 20)

In [17]:
print_numbers(*[10, 20, 30])

10
(20, 30)

#### 30.2 키워드 인수 사용하기

In [19]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [20]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

 - 함수(키워드 = 값)

In [21]:
personal_info(name = '홍길동', age = 30, address = '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [22]:
personal_info(age = 30, address = '서울시 용산구 이촌동', name = '홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [23]:
print(10, 20, 30, sep = ':', end = '')

10:20:30

#### 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [32]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [25]:
x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [26]:
personal_info(**{'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

##### 30.3.1  **를 두 번 사용하는 이유

In [28]:
x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(*x) # 키 값만 빠지게 됨

이름:  name
나이:  age
주소:  address

##### 30.3.2  키워드 인수를 사용하는 가변 인수 함수 만들기

In [58]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep = '')

In [59]:
personal_info(name = '홍길동')

name: 홍길동

In [60]:
personal_info(name = '홍길동', age = 30, adress = '서울시 용산구 이촌동')

name: 홍길동
age: 30
adress: 서울시 용산구 이촌동

In [61]:
x = {'name' : '홍길동'}
personal_info(**x)

name: 홍길동

In [62]:
y = {'name' : '홍길동', 'age' : 30, 'adress' : '서울시 용산구 이촌동'}
personal_info(**y)

name: 홍길동
age: 30
adress: 서울시 용산구 이촌동

In [63]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

#### 참고) 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

In [64]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [65]:
personal_info('홍길동')

홍길동
{}

In [66]:
personal_info('홍길동', age = 30, address = '서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [68]:
personal_info(**{'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'})

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

#### 참고) 위치 인수와 키워드 인수를 함께 사용하기

In [69]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

custom_print(1, 2, 3, sep = ':', end = '')

1:2:3

In [73]:
def example(*args, **kwargs):
    print(args, kwargs)

example(1, 2, 3, sep = ':', end = '')

(1, 2, 3) {'sep': ':', 'end': ''}

In [92]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

custom_print(1, 2, 3, sep = ':', end = '')

1:2:3

#### 30.4 매개변수에 초깃값 지정하기

In [93]:
def personal_info(name, age, address = '비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [94]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [95]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

##### 30.4.1  초깃값이 지정된 매개변수의 위치

> 초기값이 지정된 매개변수는 뒤쪽에 몰아줘야 한다.

In [96]:
# def personal_info(name, address = '비공개'):
#     print('이름: ', name)
#     print('나이: ', age)
#     print('주소: ', address)

# 이렇게 못씀

In [98]:
# def personal_info(name, age, address='비공개'):
# def personal_info(name, age=0, address='비공개'):
# def personal_info(name='비공개', age=0, address='비공개'):

# 이렇게 뒤에 몰아줘야 함

#### 30.5 퀴즈

##### 1. 함수를 def print_numbers(a, b, c):처럼 만들었을 때 이 함수를 호출하는 방법으로 잘못된 것을 고르세요.

a. print_numbers(1, 3, 5) (O)  
b. print_numbers(a=1, b=2, c=3) (O)  
c. a = [5, 0, 2]  
   print_numbers(*a) (O)  
d. a = [3, 7, 9]  
   print_numbers(**a) (X)  
e. print_numbers(*[9, 1, 2]) (O)

##### 2. 다음 중 print_numbers(*[10, 20, 30])으로 호출할 수 있는 함수로 올바른 것을 모두 고르세요.

a. def print_numbers(args): (X)  
b. def print_numbers(a, b, c): (O)  
c. def print_numbers(*args): (O)  
d. def print_numbers(**kwargs): (X)  
e. def print_numbers(): (X)

##### 3. 다음 중 personal_info(**{'name': '홍길동', 'age': 30})으로 호출할 수 있는 함수로 올바른 것을 모두 고르세요.

a. def personal_info(**kwargs): (O)  
b. def personal_info(*args): (X)  
c. def personal_info(name='미공개', age=0): (O)  
d. def personal_info(name, address): (X)  
e. def personal_info(kwargs): (X)

#### 30.6 연습문제: 가장 높은 점수를 구하는 함수 만들기

In [110]:
korean, english, mathematics, science = 100, 86, 81, 91

def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

#### 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

> 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [121]:
# 겁나 어렵다.
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    return sum(kwargs.values()) / len(kwargs)


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [120]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    return sum(kwargs.values()) / len(kwargs)


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50