## 02-2 데이터셋 불러오기

#### Do it! 실습: 첫 데이터셋 불러오기

In [1]:
import pandas

In [2]:
df = pandas.read_csv('C:\VSCode-1\K-Digital Training\Pandas\codes\data\gapminder.tsv', sep = '\t')

In [3]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
import pandas as pd

df = pd.read_csv('C:\VSCode-1\K-Digital Training\Pandas\codes\data\gapminder.tsv', sep = '\t')

#### Do it! 실습: 데이터프레임 이해하기

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(df.shape)

(1704, 6)

#### 한 걸음 더!: shape는 메서드가 아니랍니다!

> shape는 데이터프레임 객체의 함수나 메서드가 아닌 속성입니다. 따라서 이름 뒤에 소괄호가 없습니다.  
즉, df.shape()가 아니라 df.shape로 써야 합니다. 다음과 같이 속성 이름 뒤에 소괄호를 덧붙이면 오류가 발생합니다.

In [7]:
print(df.shape())

TypeError: 'tuple' object is not callable

In [8]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [9]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

#### 한 걸음 더!: 판다스의 자료형은 파이썬과는 달라요!

> 앞선 결과에서 country는 object로, year는 int64라는 자료형으로 출력했습니다. 이처럼 판다스는 파이썬과는 다른 자료형을 사용합니다.  
다음 표는 판다스의 자료형이 어떻게 다른지 알아두세요.

|판다스|파이썬|설명|
|------|---|---|
|object|string|문자열, 가장 일반적인 자료형|
|int64|int|정수|
|float64|float|소수점이 있는 숫자|
|datetime64|datetime|표준 라이브러리 datetime에서 제공하는 자료형

## 02-3 데이터 추출하기

In [12]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

#### Do it! 실습: 문자열로 열 데이터 추출하기

In [13]:
country_df = df['country']

In [14]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [15]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

#### Do it! 실습: 리스트로 열 데이터 추출하기

In [16]:
subset = df[['country', 'continent', 'year']]

In [17]:
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

#### 한 걸음 더!: 대괄호 표기법을 사용할 때 주의하세요!

> 데이터프레임에 대괄호를 덧붙이는 대괄호 표기법에 열 이름이 아닌 열 위치를 전달하면 오류가 발생합니다.  
예를 들어 첫 번째 열을 추출한다는 의미로 0을 지정하면 다음과 같은 오류가 발생합니다.

In [18]:
df[0]

KeyError: 0

#### Do it! 실습: 열 데이터를 추출하는 두 가지 방법의 차이점 이해하기

In [19]:
country_df = df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [20]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [21]:
country_df_list = df[['country']]
print(type(country_df_list))

<class 'pandas.core.frame.DataFrame'>

In [22]:
print(country_df_list)

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

#### 한 걸음 더!: 점 표기법으로도 열 데이터를 추출해요!

> 대괄호에 열의 이름을 문자열로 넣는 방법 외에 하나의 열을 선택하는 방법이 한 가지 더 있습니다.  
바로 열 이름을 데이터프레임의 속성처럼 사용하여 열 데이터를 추출하는 점 표기법(단축 표기법)입니다.  
다음과 같이 두 가지 방법으로 df에서 country 열을 추출할 수 있으며 모두 같은 열을 반환합니다.

In [23]:
# 대괄호 표기법
print(df['country'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [24]:
# 점 표기법
print(df.country)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

#### Do it! 실습: 행 이름으로 행 데이터 추출하기

In [25]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [26]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [27]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [28]:
print(df.loc[-1]) # loc 속성은 행 이름을 참조하는데 -1이라는 행 이름은 없음

KeyError: -1

In [30]:
# shape 속성을 사용하여 행의 개수 구하기
number_of_rows = df.shape[0]

In [31]:
# 행의 개수에서 1을 뺀 값으로 마지막 행의 인덱스 구하기
last_row_index = number_of_rows - 1

In [32]:
# 마지막 행의 인덱스로 데이터 추출하기
print(df.loc[last_row_index])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [33]:
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

#### 한 걸음 더!: tail() 메서드와 loc 속성이 반환한 1행의 자료형은 어떻게 다를까?

> tail()로 1행 데이터를 추출한 결과는 loc 속성으로 추출했을 때와 다릅니다.  
type() 함수로 두 결과의 자료형이 어떻게 다른지 살펴봅시다.

In [34]:
subset_loc = df.loc[0]
subset_head = df.head(n=1)

In [35]:
print(type(subset_loc))

<class 'pandas.core.series.Series'>

In [36]:
print(type(subset_head))

<class 'pandas.core.frame.DataFrame'>

In [37]:
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

#### Do it! 실습: 행 번호로 행 데이터 추출하기

In [38]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [39]:
print(df.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [40]:
print(df.iloc[-1]) # iloc 속성은 특정 값이 아닌 요소의 위치, 즉 행 번호로 작동하기 때문에 -1 가능

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [41]:
print(df.iloc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

#### Do it! 실습: 슬라이싱 구문으로 데이터 추출하기

In [42]:
subset = df.loc[:, ['year', 'pop']]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [43]:
subset = df.iloc[:, [2, 4, -1]]
print(subset)

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [44]:
subset = df.loc[:, [2, 4, -1]]
print(subset) # loc는 행 이름을 사용하므로 행 번호를 쓰면 에러

KeyError: "None of [Index([2, 4, -1], dtype='int32')] are in the [columns]"

In [45]:
subset = df.iloc[:, ['year', 'pop']]
print(subset) # loc는 행 번호를 사용하므로 행 이름을 쓰면 에러

IndexError: .iloc requires numeric indexers, got ['year' 'pop']

#### Do it! 실습: range()로 데이터 추출하기

In [46]:
small_range = list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [47]:
subset = df.iloc[:, small_range]
print(subset)

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]

In [48]:
small_range = list(range(3, 6))
print(small_range)

[3, 4, 5]

In [49]:
subset = df.iloc[:, small_range]
print(subset)

      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [50]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
print(subset)

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

#### Do it! 실습: 슬라이싱 구문과 range() 비교하기

In [51]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [52]:
small_range = list(range(3))
subset = df.iloc[:, small_range]
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [53]:
subset = df.iloc[:, :3]
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [54]:
small_range = list(range(3, 6))
subset = df.iloc[:, small_range]
print(subset)

      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [55]:
subset = df.iloc[:, 3:6]
print(subset)

      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [56]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
print(subset)

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [57]:
subset = df.iloc[:, 0:6:2]
print(subset)

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

### 행과 열 함께 지정하여 추출하기

In [58]:
print(df.loc[42, 'country'])

Angola

In [59]:
print(df.iloc[42, 0])

Angola

#### Do it! 실습: 여러 행과 열 지정하여 데이터 추출하기

In [61]:
print(df.iloc[[0, 99, 999], [0, 3, 5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [63]:
print(df.loc[[9, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
9    Afghanistan   41.763   635.341351
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

#### 한 걸음 더!: 슬라이싱 구문을 사용할 때는 주의하세요!

> loc와 iloc 속성이 슬라이싱 구문을 해석하는 방법은 서로 다르다는 점을 주의하세요.  
loc는 이름을 기준으로 해석하고 iloc는 위치르 기준으로 해석합니다.  
그러므로 loc는 콜론 오른쪽 번호를 결과에 포함하지만 위치가 기준인 iloc는 콜론 오른쪽 번호를 결과에서 제외한다는 차이점이 있으니 꼭 기억하세요.

In [69]:
print(df.loc[10:13, :]) # 이름 기준이므로 13도 포함합니다.

        country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244

In [71]:
print(df.iloc[10:13, :]) # 번호 기준이므로 13은 제외합니다.

        country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136

## 03-1 나만의 데이터 만들기

### 시리즈와 데이터프레임 만들기

#### Do it! 실습: 시리즈 만들기

In [2]:
import pandas as pd

In [3]:
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [6]:
s = pd.Series(data = ['Wes McKinney', 'Creator of Pandas'],
              index = ['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### Do it! 실습: 데이터 프레임 만들기

In [7]:
scientists = pd.DataFrame({
    "Name" : ["Rosaline Franklin", 'William Gosset'],
    "Occupation" : ["Chemist", 'Statistician'],
    'Born' : ['1920-07-25', "1876-06-13"],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [8]:
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16'],
        'Age' : [37, 61]
},
index = ['Rosaline Franklin', 'Willian Gosset'],
columns = ['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
Willian Gosset     Statistician  1876-06-13  1937-10-16   61

## 03-2 시리즈 다루기

#### Do it! 실습: 시리즈 추출하기

In [9]:
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16'],
        'Age' : [37, 61]
},
index = ['Rosaline Franklin', 'Willian Gosset'],
columns = ['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
Willian Gosset     Statistician  1876-06-13  1937-10-16   61

In [10]:
first_row = scientists.loc['Willian Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [11]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: Willian Gosset, dtype: object

In [12]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [13]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

### 시리즈의 keys() 메서드

In [14]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [15]:
print(first_row.index[0])

Occupation

In [16]:
print(first_row.keys()[0])

Occupation

### 시리즈와 ndarray

#### Do it! 실습: 시리즈의 메서드 사용하기

In [17]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
Willian Gosset       61
Name: Age, dtype: int64

In [18]:
# 평균
print(ages.mean())

49.0

In [19]:
print(ages.min())

37

In [20]:
print(ages.max())

61

In [21]:
print(ages.std())

16.97056274847714

### 시리즈와 불리언

In [22]:
scientists = pd.read_csv('/Users/anhyojun/VSCode/K-Digital Training/Pandas/codes/data/scientists.csv')

In [23]:
ages = scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [24]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [25]:
print(ages.mean())

59.125

In [26]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [27]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [28]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [29]:
manual_bool_values = [
    True,   # 0
    True,   # 1
    False,  # 2
    False,  # 3
    True,   # 4
    True,   # 5
    False,  # 6
    True    # 7
]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

### 시리즈와 브로드캐스팅

#### Do it! 실습: 벡터와 벡터, 벡터와 스칼라 계산하기

In [30]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [31]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [32]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [33]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### Do it! 실습: 길이가 서로 다른 벡터 연산하기

In [34]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [35]:
import numpy as np

In [37]:
# print(ages + np.array([1, 100])) # 길이가 서로 다른 넘파이 array 연산은 오류

#### Do it! 실습: 인덱스가 같은 벡터 자동 정렬하기

In [38]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [39]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [41]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

## 03-3 데이터프레임 다루기

#### 데이터프레임의 구성

In [42]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [43]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [44]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

#### 데이터프레임과 불리언 추출

In [45]:
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

### 데이터프레임과 브로드캐스팅

#### Do it! 실습: 데이터프레임을 대상으로 연산하기

In [46]:
first_half = scientists[:4]
second_half = scientists[4:]
print(first_half)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [47]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [48]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [49]:
df1 = df2 = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_added = df1.add(df2)
print(df_added)

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18