## 01

### [Series 연산 - 1]
- Series & 숫자 연산 진행
- 일대일 대응으로 연산 수행 됨!

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
bibibig = [13, 600, 1500]

In [14]:
# [3] 1D List 데이터 ===> Series 형태로 저장
sr1 = pd.Series(bibibig, dtype = 'int16')
sr1

0      13
1     600
2    1500
dtype: int16

In [15]:
# - Series 데이터의 속성
print(sr1, sr1.index, sr1.values, sr1.ndim, sr1.dtype, sep = '\n\n')

0      13
1     600
2    1500
dtype: int16

RangeIndex(start=0, stop=3, step=1)

[  13  600 1500]

1

int16

In [16]:
# [4] 연산 수행
# - 덧셈 연산
sr1 + 5

0      18
1     605
2    1505
dtype: int16

In [17]:
# - 뺄셈 연산
sr1 - 5

0       8
1     595
2    1495
dtype: int16

In [18]:
# - 곱셈 연산
sr1 * 5

0      65
1    3000
2    7500
dtype: int16

In [19]:
# - 나눗셈 연산
sr1 / 5

0      2.6
1    120.0
2    300.0
dtype: float64

In [21]:
# - // 몫 연산자
sr1 // 5

0      2
1    120
2    300
dtype: int16

In [22]:
# - % 나머지 연산자
sr1 % 5

0    3
1    0
2    0
dtype: int16

In [23]:
# - ** 제곱 연산자
sr1 ** 5

0   -21923
1   -32768
2    23552
dtype: int16

In [32]:
# - > 비교 연산자 : 결과 bool 타입으로 True/False : boolean index
resultSR = sr1 > 5
resultSR

0    True
1    True
2    True
dtype: bool

## 02

### [Series 연산 - 2]
- Series와 Series 연산 수행
- 각 Series에서 해당하는 인덱스의 요소끼리 연산 수행

In [62]:
# [1] 모듈 로딩
import pandas as pd

In [63]:
# [2] 데이터 준비
bibibig = [13, 600, 1500]

In [64]:
# [3] 1D List ==> Series 형태 저장
sr1 = pd.Series(bibibig, dtype = 'int16')
sr2 = sr1 * 2

In [40]:
print(sr1, sr2, sep = '\n\n')

0      13
1     600
2    1500
dtype: int16

0      26
1    1200
2    3000
dtype: int16

In [41]:
# [4] 연산 수행
# - 덧셈 연산
sr1 + sr2

0      39
1    1800
2    4500
dtype: int16

In [42]:
# - 뺄셈 연산
sr1 - sr2

0     -13
1    -600
2   -1500
dtype: int16

In [44]:
# - 곱셈 연산
sr1 * sr2

0      338
1     -896
2   -21984
dtype: int16

In [45]:
# - 나눗셈 연산
sr1 / sr2

0    0.5
1    0.5
2    0.5
dtype: float64

In [46]:
# - 비교 연산
sr1 <= sr2

0    True
1    True
2    True
dtype: bool

In [47]:
sr1 == sr2

0    False
1    False
2    False
dtype: bool

## 03

### [Series 연산 - 3]
- 원소값이 비어 있는 경우
- 인덱스가 서로 다른 Series의 경우

In [89]:
# [1] 모듈 로딩
import pandas as pd
import math
import numpy as np

In [90]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 ==> pandas에 없음
# math 모듈과 numpy 패키지를 사용
math.nan, np.NaN

(nan, nan)

In [91]:
# [2] 데이터 준비
bibibig = [13, 600, np.NaN, 1500]
merona = [32, 700, 1200, 1500]

In [92]:
# [3] 1D List ==> Series 형태 저장
sr1 = pd.Series(bibibig)
sr2 = pd.Series(merona, dtype = 'int16')

In [93]:
print(sr1, sr2, sep = '\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1200
3    1500
dtype: int16

In [94]:
# [4-1] 연산 수행 : Series + 숫자
# - 산술 연산
sr1 + 5, sr1 - 5, sr1 % 5

(0      18.0
 1     605.0
 2       NaN
 3    1505.0
 dtype: float64,
 0       8.0
 1     595.0
 2       NaN
 3    1495.0
 dtype: float64,
 0    3.0
 1    0.0
 2    NaN
 3    0.0
 dtype: float64)

In [95]:
# - 비교 연산
sr1 >= 5

0     True
1     True
2    False
3     True
dtype: bool

In [96]:
# [4-2] 연산 수행 : Series + Series
# - 산술 연산
sr1 + sr2

0      45.0
1    1300.0
2       NaN
3    3000.0
dtype: float64

In [97]:
# - 비교 연산
sr1 != sr2

0     True
1     True
2     True
3    False
dtype: bool

In [98]:
# [5] 인덱스가 다른 Series 끼리 연산 수행
# - sr3 생성 : sr2에서 인덱스 변경 [0, 1, 2, 3] ==> [0, 2, 3, 4]
sr3 = sr2.rename(index = {1:2, 2:3, 3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int16

In [104]:
# 산술 연산
sr2 + sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [103]:
# - 비교 연산 : ERROR 발생
sr2 > sr3

ValueError: Can only compare identically-labeled Series objects

In [105]:
sr3 = sr3.reset_index(drop = True)

In [107]:
sr2 > sr3

0    False
1    False
2    False
3    False
dtype: bool

In [109]:
# [6] NaN에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈 칸 즉, NaN에 값을 지정
sr1.add(sr2, fill_value = 0)

0      45.0
1    1300.0
2    1200.0
3    3000.0
dtype: float64

In [110]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr3 = sr2.rename(index = {1:2, 2:3, 3:4})

In [112]:
sr2.add(sr3, fill_value = 0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64